mat-tree-node{
position: relative;

}
mat-tree-node:hover{
    background-color:  #f8f9fa;;
}

mat-tree-node > .actions {
    position: absolute;
    right: 1rem;
    top:1rem;
}
mat-tree-node > a {
    color: #333;
}
.example-tree-progress-bar {
    margin-left: 30px;
    margin-right: 50px;
}