<div class="card">
<div class="listview__header ">
	<span *ngIf="mainGroupsView">{{groupTreeText.mainGroups}}</span>
	<span *ngIf="!mainGroupsView">{{groupTreeText.subGroups}}</span>

	<div class="actions">
		<div class="actions__item">
			<i mat-button [matMenuTriggerFor]="groupsHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
			<mat-menu #groupsHeaderMenu="matMenu">
				<button mat-menu-item class="dropdown-item" (click)="startNewGroup()">
					<i class="zmdi zmdi zmdi-plus"></i> {{groupTreeText.newGroup}}
				</button>
				<button mat-menu-item class="dropdown-item" (click)="startSearch()">
					<i class="zmdi zmdi-search"></i> {{groupTreeText.searchGroups}}
				</button>
			</mat-menu>
		</div>
	</div>
</div>

<div *ngIf="showSearch" class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<mat-form-field class="full-width">
			<input matInput placeholder="{{groupTreeText.searchGroups}}" (keyup)="searchGroups()" [(ngModel)]="searchPattern">
		</mat-form-field>
	</div>
	<div *ngIf="searchPattern.length > 0" class="col-2 align-self-center" (click)="closeSearch()">
		<i class="zmdi zmdi-close"></i>
	</div>
</div>

<app-group-form *ngIf="editGroup || newGroup" [mainGroupsView]="mainGroupsView" [editGroup]="editGroup" [newGroup]="newGroup"
[currentGroup]="groupToHandle" (useForm)="forgetActions()">
</app-group-form>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
	<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="10">
		<button mat-icon-button disabled></button>
		<a [routerLink]="['/app/sub-groups', node.item.assembly_id]"> {{node.item.assembly_number}}</a>
	</mat-tree-node>

	<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="10">
		<button mat-icon-button [attr.aria-label]="'toggle ' + node.item.name" matTreeNodeToggle>
			<i *ngIf="!treeControl.isExpanded(node)" class="zmdi zmdi-plus-square"></i>
			<i *ngIf="treeControl.isExpanded(node)" class="zmdi zmdi-minus-square"></i>
		</button>

		<a [routerLink]="['/app/main-groups', node.item.assembly_id]">{{node.item.assembly_number}}</a>
		
		<mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar"></mat-progress-bar>

		<div class="actions">
			<i mat-button [matMenuTriggerFor]="groupsListMenu" class="actions__item zmdi zmdi-more-vert" (click)="$event.stopPropagation()"></i>
			<mat-menu #groupsListMenu="matMenu">
				<button mat-menu-item class="dropdown-item" (click)="startEditGroup(node.item)">
					<i class="zmdi zmdi-edit"></i> {{groupTreeText.editGroup}}
				</button>
				<button mat-menu-item class="dropdown-item" (click)="deleteGroup(group,i)">
					<i class="zmdi zmdi-delete"></i> {{groupTreeText.deleteGroup}}
				</button>
			</mat-menu>
		</div>

	</mat-tree-node>
</mat-tree>

</div>