<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10 text-center">
				<span class="table_title">{{ itemsInOrderText.title }}</span>
			</div>
			<div class="col-1 text-center">
				<i mat-button [matMenuTriggerFor]="itemsInOrderTavleMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #itemsInOrderTavleMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="editTableColumns()">
						<i class="zmdi zmdi-edit"></i> {{ itemsInOrderText.editTableColumns }}
					</button>
				</mat-menu>
			</div>
		</div>
		<br>
		<div class="data-table">
			<table class="table data-table__header table-hover">
				<thead>
					<tr class="table">
						<!-- <th class="text-center"></th> -->
						<th class="text-center"> {{ tableColumns.item_position }}</th>
						<th class="text-center">{{ tableColumns.item_code }} </th>
						<th class="text-left"> {{ tableColumns.item_name }}</th>
						<th class="text-center"> {{ tableColumns.item_amount }}</th>
						<th class="text-center"> {{ tableColumns.received_amount }}</th>
						<th class="text-center"> {{ tableColumns.item_buy_price }}</th>
						<th class="text-center"> {{ tableColumns.item_total_price }}</th>
						<th class="text-center"> {{ itemsInOrderText.options }} </th>
					</tr>
				</thead>

				<tbody>
					<tr class="text-center" *ngFor="let item of items ; let index = index">
						<td>{{ index + 1}}</td>
						<td>{{ item.item_code | limitTo:[25, '...'] }}</td>
						<td class="text-left">
							<span>{{ item.item_name | limitTo:[25, '...'] }} <br></span>
							<span *ngIf="item.item_material">{{ item.item_material }} <br></span>
							<span *ngIf="item.item_in_order_details">{{ item.item_in_order_details | limitTo:[25,'...'] }} <br></span>
							<span *ngIf="item.item_details">{{ item.item_details | limitTo:[25,'...'] }} <br></span>
						</td>
						<td>{{ item.item_amount | currency : companyCurrency :'' :'1.1-1': currentLanguage }}</td>
						<td [ngClass]="{'text-success':item.item_delivered ,'text-danger': !item.item_delivered }">
							{{ item.received_amount | currency : companyCurrency :'' :'1.1-1': currentLanguage }}</td>
						<td>{{ item.item_buy_price | currency : companyCurrency :'symbol-narrow' :'': currentLanguage }}</td>
						<td>{{ item.item_total_price | currency : companyCurrency :'symbol-narrow' :'': currentLanguage }}</td>
						<td>
							<i class="zmdi zmdi-edit" (click)="editItemInOrder(item)"></i>&nbsp;&nbsp;
							<i class="zmdi zmdi-delete" (click)="deleteItemFromOrder(item,index)"></i>
						</td>
					</tr>

					<tr class="text-center highlight" *ngIf="items.length > 0">
						<td></td>
						<td>
							<strong>{{ itemsInOrderText.totalWithoutVAT }}</strong>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<strong>{{ companyCurrency }}</strong>
						</td>
						<td>
							{{ orderTotalFooter.subTotal | currency : companyCurrency :'symbol-narrow' :'': currentLanguage }}
						</td>
						<td></td>
					</tr>
					<tr class="text-center" *ngIf="items.length > 0">
						<td></td>
						<td>{{ currentOrder.vat_percentage}} % {{ itemsInOrderText.vatFrom }}</td>
						<td class="text-left">
							{{ orderTotalFooter.subTotal | currency : companyCurrency :'symbol-narrow' :'': currentLanguage }}</td>
						<td></td>
						<td></td>
						<td>{{ companyCurrency}}</td>
						<td>{{ orderTotalFooter.vat | currency : companyCurrency :'symbol-narrow' :'': currentLanguage }}</td>
						<td></td>
					</tr>
					<tr class="text-center highlight" *ngIf="items.length > 0">
						<td></td>
						<td>
							<strong>{{ itemsInOrderText.totalWithVAT }}</strong>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<strong>{{ companyCurrency }}</strong>
						</td>
						<td>
							{{ orderTotalFooter.total | currency : companyCurrency :'symbol-narrow' :'': currentLanguage }}
						</td>
						<td></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>