<div class="card">
  <div class="card-body">
      <form #locationForm="ngForm">
          <div class="row">
              <div class="col">
                  <mat-form-field class="full-width">
                      <textarea matInput placeholder="{{locationFormText.locationName}}" [(ngModel)]="currentLocation.location_name"
                          name="locationName" required #locationName="ngModel"> </textarea>
                          <mat-error *ngIf="locationName.errors?.required">
                              {{ locationFormText.errorRequired }}
                          </mat-error>
                  </mat-form-field>
              </div>
          </div>
          <br>
          <div class="row btn-demo justify-content-center">
              <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveLocation()" [disabled]="!locationForm.form.valid">
                  <i class="zmdi zmdi-floppy"></i>{{locationFormText.saveButton}}</button>

              <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                  <i class="zmdi zmdi-close"></i>{{locationFormText.cancelButton}}</button>
          </div>
      </form>
  </div>
</div>
