<div class="row">
    <div class="col text-center">
        <div class="bold">{{ orderHeaderText.orderNumber }}</div>
        <div> {{ currentOrder.order_number }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ orderHeaderText.orderProvider }}</div>
        <div>{{ currentOrder.provider_name }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ orderHeaderText.orderStatus }}</div>
        <div>{{ currentOrder.order_status_name }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ orderHeaderText.orderItems }}</div>
        <div>{{ itemsInOrder }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ orderHeaderText.orderProjects }}</div>
        <div>{{ currentOrder.projects_numbers }}</div>
    </div>
    <!-- input to import excel document -->
    <input type="file" (change)="onFileChange($event)" id="i-input" style="display:none" accept=".xlsx,.xls,.csv">
    <div class="col-1 text-center" *ngIf="showMenu">
        <i mat-button [matMenuTriggerFor]="headerMenu" class="actions__item zmdi zmdi-more-vert"></i>
        <mat-menu #headerMenu="matMenu">
            <button [disabled]="zeroOrders || !openOrdersView" mat-menu-item class="dropdown-item" (click)="searchForItems()">
                <i class="zmdi zmdi-stop"></i> {{ orderHeaderText.searchItemsToInsert }}
            </button>
            <button [disabled]="zeroOrders || !openOrdersView" mat-menu-item class="dropdown-item" (click)="openFileBrowser()">
                <i class="zmdi zmdi-upload"></i> {{ orderHeaderText.uploadCsv }}
            </button>
            <button [disabled]="zeroOrders" mat-menu-item class="dropdown-item" (click)="downloadExcelOrder()">
                <i class="zmdi zmdi-download"></i> {{ orderHeaderText.downloadExcelFile }}
            </button>
            <button [disabled]="zeroOrders" mat-menu-item class="dropdown-item" (click)="generatePdfReport()">
                <i class="zmdi zmdi-download"></i> {{ orderHeaderText.downloadPdfFile }}
            </button>
        </mat-menu>
    </div>
</div>