<section class="content">
	<div class="row">
		<div class="col-3">
			<app-delivery-notes-list [deliveryNotes]="deliveryNotes"></app-delivery-notes-list>
		</div>
		<div class="col-9">
			<app-delivery-note-header [currentDeliveryNote]="selectedDeliveryNote"></app-delivery-note-header>
			<app-items-in-delivery-note-table [currentDeliveryNote]="selectedDeliveryNote"></app-items-in-delivery-note-table>
		</div>
	</div>
</section>