<div class="card">
    <div class="card-body">
        <small class="text-primary">
            <p>{{ orderFormText.requiredFieldsMessage }}</p>
        </small>
        <form #orderForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="{{ orderFormText.orderNumber }}"
                            [(ngModel)]="currentOrder.order_number"
                            name="orderNumber"
                            required
                            readonly
                        />
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{ orderFormText.offerNumber }}" [(ngModel)]="currentOrder.offer_number" name="offerNumber" />
                        <mat-hint>{{ orderFormText.offerNumberHint }}</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="{{ orderFormText.projects }}" [(ngModel)]="currentOrder.projects_numbers" multiple required name="pn">
                            <mat-option *ngFor="let project_number of openProjects.orders_confirmation_numbers" [value]="project_number">{{
                                project_number
                            }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select
                            placeholder="{{ orderFormText.provider }}"
                            [(ngModel)]="currentOrder.provider_name"
                            (selectionChange)="callProviderContacts($event)"
                            required
                            name="providerName"
                        >
                            <mat-option [value]="provider" *ngFor="let provider of providers.provider_names">{{ provider }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select
                            placeholder="{{ orderFormText.providerContact }}"
                            [(ngModel)]="currentOrder.contact"
                            (selectionChange)="setContactId($event)"
                            required
                            name="contact"
                        >
                            <mat-option [value]="contact" *ngFor="let contact of contacts.contacts_complete_names">{{ contact }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="{{ orderFormText.vats }}" [(ngModel)]="currentOrder.vat_percentage" required name="vatPercentage">
                            <mat-option [value]="vat" *ngFor="let vat of vats">{{ vat }} %</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="{{ orderFormText.orderStatus }}" [(ngModel)]="currentOrder.order_status_id" required name="orderStatus">
                            <mat-option [value]="status.order_status_id" *ngFor="let status of statuses">{{ status.order_status_name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            [matDatepicker]="picker"
                            placeholder="{{ orderFormText.deliveryDate }}"
                            [(ngModel)]="currentOrder.order_delivery_date"
                            name="deliveryDate"
                            required
                        />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true" #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <br />

            <div class="row btn-demo justify-content-center">
                <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveOrder()" [disabled]="!orderForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{ orderFormText.saveButton }}
                </button>

                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()"><i class="zmdi zmdi-close"></i>{{ orderFormText.cancelButton }}</button>
            </div>
        </form>
    </div>
</div>
