<section class="content">
	<div class="row">
		<div class="col-3">
			<!-- <app-pd-groups-list [groups]="groups" [currentProject]="currentProject"> </app-pd-groups-list> -->
			<app-pd-groups-tree [groups]="groups" [currentProject]="currentProject"> </app-pd-groups-tree>
		</div>
		<div class="col-9">
			<div class="card">
				<div class="card-body">
					<app-pd-group-header [currentGroup]="selectedGroup" [showMenu]="true"></app-pd-group-header>
				</div>
			</div>
			<app-pd-items-table [currentGroup]="selectedGroup"></app-pd-items-table>
		</div>
	</div>
</section>