<div class="row">
    <div class="col text-center">
        <div class="bold">{{ projectHeaderText.projectNumber }}</div>
        <div>{{ project.order_confirmation_number }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ projectHeaderText.projectName }}</div>
        <div>{{ project.project_name | limitTo: [20, "..."] }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ projectHeaderText.projectCreation }}</div>
        <div>{{project.project_creation_date | formatDate}}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ projectHeaderText.projectClient }}</div>
        <div>{{ project.client_name | limitTo: [20, "..."] }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ projectHeaderText.projectDeadline }}</div>
        <div>{{ project.project_deadline | formatDate }}</div>
    </div>

    <div class="col text-center">
        <div class="bold">{{ projectHeaderText.completedPercentage }}</div>
        <div>{{ project.percentage_completed | limitTo: ["4", "%"] }}</div>
    </div>

    <div class="col-1 text-center" *ngIf="showMenu">
        <i mat-button [matMenuTriggerFor]="projectsListMenu" class="actions__item zmdi zmdi-more-vert"></i>
        <mat-menu #projectsListMenu="matMenu">
            <button [disabled]="zeroProjects || !openProjectsView" mat-menu-item class="dropdown-item" (click)="createNewAssembly()">
                <i class="zmdi zmdi-plus"></i> {{ projectHeaderText.insertNewAssembly }}
            </button>
            <button [disabled]="zeroProjects || !openProjectsView" mat-menu-item class="dropdown-item" (click)="searchAssemblies()">
                <i class="zmdi zmdi-view-module"></i> {{ projectHeaderText.insertAssembly }}
            </button>
        </mat-menu>
    </div>
</div>
