<header class="header">
    <!-- <navigation-trigger></navigation-trigger> -->
    <div class="header__logo">
        <h1><a [routerLink]="['./main-board']"><img src="../../../assets/img/Logo_White.png" alt="Logo"></a></h1>
    </div>

    <p class="right">{{companyName}}</p>
    <!-- <header-search #search class="toggled" [class.toggled]="search.searchActive"></header-search> -->
</header>