<div class="card">
    <div class="card-body">
        <form #vatForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput type="number" placeholder="{{vatsFormText.vatNumber.placeholder}}" [(ngModel)]="currentVat"
                            name="vat" #vat="ngModel"  min="0" max="100" pattern="^[1-9][0-9]?$|^100$" required> 
                        <mat-hint>{{ vatsFormText.vatNumber.hint }}</mat-hint>
                        <mat-error *ngIf="vat.errors?.required">
                            {{ vatsFormText.vatNumber.errorRequired }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="row btn-demo justify-content-center">
                <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveVat()" [disabled]="!vatForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{vatsFormText.saveButton}}</button>

                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                    <i class="zmdi zmdi-close"></i>{{vatsFormText.cancelButton}}</button>
            </div>
        </form>
    </div>
</div>