<div class="card">
    <div class="card-body">
        <form #dcForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="{{deliveryConditionFormText.dcDescription}}" [(ngModel)]="currentDeliveryCondition.delivery_condition_description"
                            name="dcDescription" #dcDescription="ngModel" required> </textarea>
                        <mat-error *ngIf="dcDescription.errors?.required">
                            {{ deliveryConditionFormText.errorRequired }}
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>
            <br>
            <div class="row btn-demo justify-content-center">
                <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveDeliveryCondition()"
                    [disabled]="!dcForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{deliveryConditionFormText.saveButton}}</button>
                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                    <i class="zmdi zmdi-close"></i>{{deliveryConditionFormText.cancelButton}}</button>
            </div>
        </form>
    </div>
</div>