<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-center  align-middle">
                <span class="table_title align-middle">{{ itemsInOrderConfirmationText.title }}</span>
            </div>
            <div class="col-1 text-center">
                <i mat-button [matMenuTriggerFor]="orderConfirmationTableMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #orderConfirmationTableMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="editTableColumns()">
                        <i class="zmdi zmdi-edit"></i> {{ itemsInOrderConfirmationText.editTableColumns }}
                    </button>
                </mat-menu>
            </div>
        </div>
        <br />
        <!-- item table -->
        <div class="data-table">
            <table class="table data-table__header table-hover">
                <thead>
                    <tr class="table">
                        <th class="text-center">{{ tableColumns.item_position }}</th>
                        <th class="text-center">{{ tableColumns.item_type }}</th>
                        <th class="text-center">{{ tableColumns.item_code }}</th>
                        <th class="text-left">{{ tableColumns.item_name }}</th>
                        <th class="text-center">{{ tableColumns.item_amount }}</th>
                        <th class="text-center">{{ tableColumns.item_sell_price }}</th>
                        <th class="text-center">{{ tableColumns.item_total_price }}</th>
                        <th class="text-center">{{ itemsInOrderConfirmationText.options }}</th>
                    </tr>
                </thead>
                <!-- items -->
                <tbody>
                    <tr class="text-center" *ngFor="let item of items; let index = index">
                        <td>{{ index + 1 }}</td>
                        <td>
                            <i *ngIf="item.item_type == 'item'" class="zmdi zmdi-stop"></i>
                            <i *ngIf="item.item_type == 'assembly'" class="zmdi zmdi-delicious"></i>
                        </td>
                        <td>{{ item.item_code | limitTo: [25, "..."] }}</td>
                        <td class="text-left">
                            <span *ngIf="item.item_name">{{ item.item_name | limitTo: [25, "..."] }}<br /></span>
                            <span *ngIf="item.item_material">{{ item.item_material | limitTo: [25, "..."] }}<br /></span>
                            <span *ngIf="item.item_details">{{ item.item_details | limitTo: [25, "..."] }}<br /></span>
                            <span *ngIf="item.item_in_internal_document_details"
                                >{{ item.item_in_internal_document_details | limitTo: [25, "..."] }}<br
                            /></span>
                        </td>
                        <td>{{ item.item_amount | currency: companyCurrency:"":"1.1-1":currentLanguage }}</td>
                        <td>{{ item.item_sell_price | currency: companyCurrency:"symbol-narrow":"":currentLanguage }}</td>
                        <td>{{ item.item_total_price | currency: companyCurrency:"symbol-narrow":"":currentLanguage }}</td>
                        <td>
                            <i class="zmdi zmdi-edit" (click)="editItemInOC(item)"></i>&nbsp;&nbsp;
                            <i class="zmdi zmdi-info-outline" aria-hidden="true" (click)="openItemDetails(item)"></i>&nbsp;&nbsp;
                            <i class="zmdi zmdi-delete" (click)="deleteItem(item, index)"></i>
                        </td>
                    </tr>
                    <tr class="text-center highlight" *ngIf="items.length > 0">
                        <td></td>
                        <td></td>
                        <td>
                            <strong>{{ itemsInOrderConfirmationText.totalWithoutVAT }}</strong>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <strong>{{ companyCurrency }}</strong>
                        </td>
                        <td>
                            {{ ocTotalFooter.subTotal | currency: companyCurrency:"symbol-narrow":"":currentLanguage }}
                        </td>
                        <td></td>
                    </tr>
                    <tr class="text-center" *ngIf="items.length > 0">
                        <td></td>
                        <td></td>
                        <td>{{ currentOrderConfirmation.vat_percentage }} % {{ itemsInOrderConfirmationText.vatFrom }}</td>
                        <td class="text-left">{{ ocTotalFooter.subTotal | currency: companyCurrency:"symbol-narrow":"":currentLanguage }}</td>
                        <td></td>
                        <td>{{ companyCurrency }}</td>
                        <td>{{ ocTotalFooter.vat | currency: companyCurrency:"symbol-narrow":"":currentLanguage }}</td>
                        <td></td>
                    </tr>
                    <tr class="text-center highlight" *ngIf="items.length > 0">
                        <td></td>
                        <td></td>
                        <td>
                            <strong>{{ itemsInOrderConfirmationText.totalWithVAT }}</strong>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <strong>{{ companyCurrency }}</strong>
                        </td>
                        <td>
                            {{ ocTotalFooter.total | currency: companyCurrency:"symbol-narrow":"":currentLanguage }}
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
