<div class="row no-margin height-per-100">
    <div class="col-md-8 bg-img-login">
        <div class="center-horizontal-div">
            <h1 style="color:white;">IMAGEN DE PRUEBA</h1>
        </div>
    </div>
    <div class="col-md-4 bg-white padding-top-20">
        <div class="center-horizontal-div">
            <h5 class="text-center">{{loginText.title}}</h5>
            <hr>
            <form>
                <div>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{loginText.inputEmail}}" [(ngModel)]="credentials.user_email" placeholder="{{loginText.inputEmail}}"
                            name="email" required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width">
                        <input type="password" matInput placeholder="{{loginText.inputPassword}}" [(ngModel)]="credentials.password" name="password"
                            required>
                    </mat-form-field>
                </div>
                <br>
                <div>
                    <button  class="btn btn-primary btn-block" (click)="login()">Login</button>
                </div>
            </form>
            <br>
            <p class="text-center text-danger">{{errorMessage}}</p>
            <p class="text-center">
                <a href="/#/auth/forgot-password">{{loginText.forgotPassword}}</a> | <a href="/#/auth/sign-up">{{loginText.signUp}}</a>
            </p>
        </div>
    </div>
</div>
