<div class="card">
    <div class="card-body">
        <small class="text-primary"
            ><p>{{ projectFormText.requiredFieldsMessage }}</p></small
        >
        <form #projectForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select
                            placeholder="{{ projectFormText.projectNumber }}"
                            [(ngModel)]="currentProject.order_confirmation_number"
                            (selectionChange)="setDocument($event)"
                            name="orderConfirmation" required
                        >
                            <mat-option
                                [value]="order_confirmation_number"
                                *ngFor="let order_confirmation_number of ordersConfirmed.orders_confirmation_numbers"
                            >{{ order_confirmation_number }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{ projectFormText.projectName }}" [(ngModel)]="currentProject.project_name" name="projectName" required />
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{ projectFormText.projectType }}" [(ngModel)]="currentProject.project_type" name="projectType" />
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="{{ projectFormText.client }}" [(value)]="currentProject.client_name" disabled required>
                            <mat-option [value]="client_name" *ngFor="let client_name of clients.clients_names">{{ client_name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            [matDatepicker]="picker"
                            name="deadline"
                            [(ngModel)]="currentProject.project_deadline"
                            placeholder="{{ projectFormText.deadLine }}"
                            required
                        />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true" #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <br />
            <div class="row btn-demo justify-content-center">
                <button class="btn btn-primary btn--icon-text" (click)="saveProject()" [disabled]="!projectForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{ projectFormText.saveButton }}
                </button>

                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                    <i class="zmdi zmdi-close"></i>{{ projectFormText.cancelButton }}
                </button>
            </div>
        </form>
    </div>
</div>
