<div class="card">
    <div class="listview__header ">
        <span>{{ clientsListText.clientsListTitle }}</span>

        <div class="actions">
            <div class="actions__item">
                <i mat-button [matMenuTriggerFor]="clientsHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #clientsHeaderMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startNewClient()">
                        <i class="zmdi zmdi zmdi-plus"></i> {{ clientsListText.newClient }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startSearch()">
                        <i class="zmdi zmdi-search"></i> {{ clientsListText.searchClients }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ clientsListText.searchClients }}" (keyup)="searchClients()" [(ngModel)]="searchPattern" />
                <mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <app-client-form
        *ngIf="editClient || newClient"
        [editClient]="editClient"
        [newClient]="newClient"
        [currentClient]="clientToHandle"
        (closeForm)="forgetActions($event)"
    >
    </app-client-form>

    <div class="listview listview--hover listview--bordered">
        <div
            *ngFor="let client of clients; let index = index"
            class="listview__item listview__item--hover"
            routerLinkActive="selected"
            [routerLink]="['/app/company/clients', client.client_id]"
            [routerLinkActiveOptions]="{ __change_detection_hack__: [client_id] }"
        >
            <div class="listview__content">
                <h3 class="listview__heading">{{ client.client_name | limitTo: [30, "..."] }}</h3>
                <p>{{ client.client_address | limitTo: [30, "..."] }}</p>
            </div>

            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="clientsListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #clientsListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditClient(client)">
                        <i class="zmdi zmdi-edit"></i> {{ clientsListText.editClient }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="deleteClient(client, index)">
                        <i class="zmdi zmdi-delete"></i> {{ clientsListText.deleteClient }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>
