<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col text-center">
				<div class="bold">{{filterGroupHeaderText.orderNumber}}</div>
				<div> {{currentFilterGroup.filter_group_name}}</div>
			</div>
			<div class="col-1 text-center">
				<i mat-button [matMenuTriggerFor]="filterHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #filterHeaderMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="createFilterValue()">
						<i class="zmdi zmdi-plus"></i> {{filterGroupHeaderText.addNewFilterValue}}
					</button>
				</mat-menu>
			</div>
		</div>
	</div>
</div>