<div class="card">
    <div class="card-body">
        <small class="text-primary"
            ><p>{{ employeeFormText.requiredFieldsMessage }}</p></small
        >
        <form #employeeForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            type="text"
                            matInput
                            placeholder="{{ employeeFormText.employeeName }}"
                            [(ngModel)]="currentEmployee.user_name"
                            name="userName"
                            required
                        />
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            type="text"
                            matInput
                            placeholder="{{ employeeFormText.employeeLastName }}"
                            [(ngModel)]="currentEmployee.user_last_name"
                            name="userLastName"
                            required
                        />
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            type="text"
                            matInput
                            placeholder="{{ employeeFormText.employeeTelephone }}"
                            [(ngModel)]="currentEmployee.user_telephone"
                            name="userTelephone"
                            required
                        />
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            type="email"
                            matInput
                            placeholder="{{ employeeFormText.employeeEmail }}"
                            [(ngModel)]="currentEmployee.user_email"
                            name="userEmail"
                            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            required
                        />
                    </mat-form-field>
                </div>
            </div>
            <br />

            <div class="row btn-demo justify-content-center">
                <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveEmployee(employeeForm)" [disabled]="!employeeForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{ employeeFormText.saveButton }}
                </button>

                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                    <i class="zmdi zmdi-close"></i>{{ employeeFormText.cancelButton }}
                </button>
            </div>
        </form>
    </div>
</div>
