<div class="card">
    <div class="listview__header ">
        <span *ngIf="openOrdersConfirmedView">{{ ordersConfirmedListText.openOrdersConfirmed }}</span>
        <span *ngIf="!openOrdersConfirmedView">{{ ordersConfirmedListText.closedOrdersConfirmed }}</span>

        <div class="actions">
            <div class="actions__item">
                <i mat-button [matMenuTriggerFor]="ordersConfirmedHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #ordersConfirmedHeaderMenu="matMenu">
                    <button *ngIf="openOrdersConfirmedView" mat-menu-item class="dropdown-item" (click)="startNewOrderConfirmation()">
                        <i class="zmdi zmdi zmdi-plus"></i> {{ ordersConfirmedListText.newOrderConfirmation }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startSearch()">
                        <i class="zmdi zmdi-search"></i> {{ ordersConfirmedListText.searchOrdersConfirmed }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ ordersConfirmedListText.searchOrdersConfirmed }}" (keyup)="searchOrdersConfirmed()"
                    [(ngModel)]="searchPattern">
                    <mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <app-order-confirmation-form *ngIf="editOrderConfirmation || newOrderConfirmation" [currentOrderConfirmation]="orderConfirmationToHandle"
        [editOrderConfirmation]="editOrderConfirmation" [newOrderConfirmation]="newOrderConfirmation" (useForm)="forgetActions($event)"></app-order-confirmation-form>


    <div  class="listview listview--hover listview--bordered">
        <div *ngFor="let orderConfirmed of ordersConfirmed; let lastOC = last ;let index = index" class="listview__item listview__item--hover"
            routerLinkActive="selected" [routerLink]="['../../',orderConfirmed.internal_document_id]" [routerLinkActiveOptions]="{ __change_detection_hack__: [ oc_id] }">

            <div class="listview__content">
                <h3 class="listview__heading">{{  orderConfirmed.order_confirmation_number }}  - {{ orderConfirmed.client_name | limitTo: [20, "..."] }}</h3>
                <p>{{ orderConfirmed.offer_number }}</p>
                <p>{{ ordersConfirmedListText.deliveryDate }} : {{ orderConfirmed.offered_delivery_date | formatDate  }}</p>
            </div>

            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="ordersConfirmationListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #ordersConfirmationListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditOrderConfirmation(orderConfirmed)">
                        <i class="zmdi zmdi-edit"></i> {{ ordersConfirmedListText.editOrderConfirmation }}
                    </button>
                    <button *ngIf="lastOC" mat-menu-item class="dropdown-item" (click)="deleteOrderConfirmation(orderConfirmed,index)">
                        <i class="zmdi zmdi-delete"></i> {{ ordersConfirmedListText.deleteOrderConfirmation }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

</div>