mat-tree-node{
    position: relative;
    padding: 1rem 0;
}
    
mat-tree-node:hover{
    background-color:  #f8f9fa;;
}
    
mat-tree-node > .actions {
    position: absolute;
    right: 1rem;
    top:1rem;
}

.example-tree-progress-bar {
    margin-left: 30px;
    margin-right: 50px;
}
.assemblyNumber {
    color: #333;
    font-size: 1rem;
    line-height: 110%;
    padding: 0px;
    display: block;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
}
.assemblyName {
    color: #8a8989;
    font-size: 1rem;
    line-height: 110%;
    padding: 0px;
    display: block;
   cursor: pointer;
}