<div class="card">

	<div class="listview__header">
		<span> {{currentProject.order_confirmation_number}} - {{currentProject.project_name}}</span>
	</div>
	<app-pd-group-form *ngIf="editGroup" [editGroup]="editGroup" [currentGroup]="groupToHandle"
		(useForm)="forgetActions()"></app-pd-group-form>

	<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
		<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="10"
			routerLinkActive="selected">
			<button mat-icon-button disabled></button>
			<div class="listview__content" [routerLink]="['../../', node.item.aip_id]">
				<span class="assemblyNumber">{{node.item.assembly_number}}</span>
				<p  class="assemblyName">{{node.item.assembly_name}}</p>
			</div>
			<div class="actions">
				<i mat-button [matMenuTriggerFor]="projectsListMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #projectsListMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="startEditGroup(node.item)">
						<i class="zmdi zmdi-edit"></i>{{pdGroupsListText.editGroupInProject}}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="startDeleteGroup(node.item)">
						<i class="zmdi zmdi-delete"></i>{{pdGroupsListText.deleteGroupFromProject}}
					</button>
				</mat-menu>
			</div>
		</mat-tree-node>

		<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="10"
			routerLinkActive="selected">
			<button mat-icon-button [attr.aria-label]="'toggle ' + node.item.name" matTreeNodeToggle>
				<i *ngIf="!treeControl.isExpanded(node)" class="zmdi zmdi-plus-square"></i>
				<i *ngIf="treeControl.isExpanded(node)" class="zmdi zmdi-minus-square"></i>
			</button>
			<div class="listview__content" [routerLink]="['../../', node.item.aip_id]">
				<span class="assemblyNumber">{{node.item.assembly_number}}</span>
				<p class="assemblyName" >{{node.item.assembly_name}}</p>
			</div>			
			<mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar">
			</mat-progress-bar>

			<div class="actions">
				<i mat-button [matMenuTriggerFor]="projectsListMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #projectsListMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="startEditGroup(node.item)">
						<i class="zmdi zmdi-edit"></i>{{pdGroupsListText.editGroupInProject}}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="startDeleteGroup(node.item)">
						<i class="zmdi zmdi-delete"></i>{{pdGroupsListText.deleteGroupFromProject}}
					</button>
				</mat-menu>
			</div>

		</mat-tree-node>
	</mat-tree>


</div>