<section class="content">
	<div class="row">
		<div class="col-3">
			<app-filters-list [filterGroups]="filterGroups"></app-filters-list>
		</div>
		<div class="col-9">
			<app-filter-group-header [currentFilterGroup]="selectedFilterGroup"></app-filter-group-header>
			<app-filter-values-table [currentFilterGroup]="selectedFilterGroup" ></app-filter-values-table>  
		</div>
	</div>
</section>
