<p class="modal_title text-center">{{ groupsTableText.modalTitle }}</p>
<hr />
<app-invoice-header [currentInvoice]="currentInvoice" [showMenu]="false">
</app-invoice-header>
<hr />

<mat-form-field class="full-width search">
    <input matInput placeholder="{{ groupsTableText.searchSubAssemblies }}" (keyup)="searchGroups()" [(ngModel)]="searchPattern" />
    <mat-label><i class="zmdi zmdi-search"></i>{{ groupsTableText.searchSubAssemblies }} </mat-label>
</mat-form-field>

<div class="row" *ngIf="groups.length > 0">
    <div class="col-6">
        <div class="bold text-center">{{ groupsTableText.assembliesFound }}</div>
        <div class="text-center">{{ groups.length }}</div>
    </div>

    <div class="col-6">
        <div class="bold text-center">{{ groupsTableText.groupsSelected }}</div>
        <div class="text-center">{{ selectedGroups.length }}</div>
    </div>
</div>
<br />
<div class="data-table" *ngIf="groups.length > 0">
    <table class="table data-table__header table-hover">
        <thead>
            <tr class="table">
                <th class="text-center small-col">{{ groupsTableText.assembly_position }}</th>
                <th class="text-center medium-col">{{ groupsTableText.assembly_name }}</th>
                <th class="text-center medium-col">{{ groupsTableText.assembly_number }}</th>
                <th class="text-center small-col">{{ groupsTableText.assembly_amount }}</th>
                <th class="text-center small-col">{{ groupsTableText.assembly_sell_price }}</th>
                <th class="text-center small-col">
                    <input type="checkbox" (change)="applyChangesToList(allChecked)" [(ngModel)]="allChecked" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let group of groups; let index = index">
                <td>{{ index + 1 }}</td>
                <td>{{ group.assembly_name | limitTo: [35, "..."] }}</td>
                <td>{{ group.assembly_number | limitTo: [35, "..."] }}</td>
                <td>
                    <input
                        [ngClass]="{ 'text-primary editable': !group.is_already_in_list }"
                        type="text" appFormatCurrency matInput minlength="1" maxlength="8"
                        [disabled]="group.is_already_in_list"
                        [(ngModel)]="group.assembly_amount_to_show"
                        name="groupAmount"
                    />
                </td>
                <td>
                    <input
                        [ngClass]="{ 'text-primary editable': !group.is_already_in_list }"
                        type="text" appFormatCurrency matInput minlength="1" maxlength="12"
                        [disabled]="group.is_already_in_list"
                        [(ngModel)]="group.assembly_sell_price_to_show"
                        name="groupSellPrice"
                    />
                </td>
                <td>
                    <input type="checkbox" (change)="getSelectedGroups()" [(ngModel)]="group.is_checked" />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<div class="row btn-demo justify-content-center">
    <button *ngIf="selectedGroups.length > 0" type="submit" class="btn btn-primary btn--icon-text" (click)="saveGroups()">
        <i class="zmdi zmdi-floppy"></i>{{ groupsTableText.saveButton }}
    </button>
    <button class="btn btn-danger btn--icon-text" (click)="closeModal()"><i class="zmdi zmdi-close"></i>{{ groupsTableText.cancelButton }}</button>
</div>
