<section class="content">
    <div class="row">
        <div class="col-3">
            <p>
                <app-groups-list [groups]="groups" [mainGroupsView]="mainGroupsView"></app-groups-list>
                <!-- <app-groups-tree></app-groups-tree> -->
            </p>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <app-group-header [currentGroup]="selectedGroup" [mainGroupsView]="mainGroupsView" [showMenu]="true"></app-group-header>
                </div>
            </div>
            <app-items-in-groups-table [currentGroup]="selectedGroup"></app-items-in-groups-table>
        </div>
    </div>
</section>
