<p *ngIf="!editContact" class="modal_title text-center">{{ contactFormText.modalTitleCreate }}</p>
<p *ngIf="editContact" class="modal_title text-center">{{ contactFormText.modalTitleUpdate }}</p>
<hr>
<app-client-header [client]="client" [showMenu]="false"></app-client-header>
<hr>
<p class="text-primary">{{ contactFormText.requiredFieldsMessage }}</p>
<br>
<form #contactForm="ngForm">
	
	<div class="row">
		<div class="col-3">
			<mat-form-field class="full-width">
				<input type="text" matInput placeholder="{{ contactFormText.contactName }}" [(ngModel)]="currentContact.contact_name"
				 name="contactName" required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input type="text" matInput placeholder="{{ contactFormText.contactLastName }}" [(ngModel)]="currentContact.contact_last_name"
				 name="contactLastName" required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input text matInput placeholder="{{ contactFormText.contactTelephone }}" [(ngModel)]="currentContact.contact_telephone"
				 name="contactTelephone" required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input type="email" matInput placeholder="{{ contactFormText.contactEmail }}" [(ngModel)]="currentContact.contact_email"
				 name="contactEmail" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
			</mat-form-field>
		</div>
	</div>
	<br>
	<br>
	<div class="row btn-demo justify-content-center">
		<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveContact()" [disabled]="!contactForm.form.valid">
			<i class="zmdi zmdi-floppy"></i>{{ contactFormText.saveButton }}
		</button>
		<button class="btn btn-danger btn--icon-text" (click)="closeModal()">
			<i class="zmdi zmdi-close"></i>{{ contactFormText.cancelButton }}
		</button>
	</div>
</form>