<p class="modal_title text-center">{{itemFormText.modalTitle}}</p>
<hr>
<p class="text-primary">{{itemFormText.requiredFieldsMessage}}</p>
<br>
<form #itemForm="ngForm">
	<div class="row">
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{itemFormText.itemCode}}" [(ngModel)]="currentItem.item_code" name="itemCode"
				 readonly required>
			</mat-form-field>
		</div>

		<div class="col-7">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{itemFormText.itemName}}" [(ngModel)]="currentItem.item_name" name="itemName"
				 readonly required>
			</mat-form-field>
		</div>

		<div class="col-2">
			<mat-form-field class="full-width">
				<input type="number" matInput placeholder="{{itemFormText.itemAmount}}" [(ngModel)]="currentItem.item_amount" name="itemAmount"
				 required required>
			</mat-form-field>
		</div>
	</div>

	<br>
	<div class="row btn-demo justify-content-center">
		<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveItem(currentItem)" [disabled]="!itemForm.form.valid">
			<i class="zmdi zmdi-floppy"></i>{{itemFormText.saveButton}}
		</button>

		<button class="btn btn-danger btn--icon-text" (click)="closeModal()">
			<i class="zmdi zmdi-close"></i>{{itemFormText.cancelButton}}
		</button>
	</div>
</form>