<p class="modal_title text-center">{{ tableText.modalTitle }}</p>
<hr />
<div class="row">
        <div class="col text-center"> <span class="bold">{{ tableText.fileName }}</span> : {{ fileInformation.name }} </div> 
        <div class="col text-center"> <span class="bold">{{ tableText.itemsFound }}</span> : {{ itemsFromExcel.length }}</div>   
</div>
<hr>
<mat-tab-group *ngIf="itemsFromExcel.length > 0" mat-align-tabs="center" mat-stretch-tabs [selectedIndex]="selectedTab" (selectedIndexChange)="updateTab($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <span> <i class="zmdi zmdi-check-square"></i> &nbsp;&nbsp; {{ tableText.itemsSelected  }} ({{ selectedItems.length }}) </span>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span> <i class="zmdi zmdi-check"></i> &nbsp;&nbsp; {{ tableText.itemsAlreadyInDB }} ({{ itemsAlreadyInDB.length }})</span>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<br />

<div class="data-table table-fix-header">
    <table class="table data-table__header table-hover">
        <thead>
            <tr class="table text-center">
                <th class="small-col">{{ tableColumns.item_position }}</th>
                <th class="medium-col">{{ tableColumns.item_code }}*</th>
                <th class="medium-col">{{ tableColumns.item_name }}*</th>
				<th class="small-col">{{ tableColumns.item_amount }}</th>
				<th class="small-col">{{ tableColumns.item_buy_price }}</th>
				<th class="small-col">{{ tableColumns.item_sell_price }}</th>
                <th class="small-col">
                    <input type="checkbox" (change)="applyChangesToList(allChecked)" [(ngModel)]="allChecked" [disabled]="!showJustSelectedItems" />
                </th>
            </tr>
        </thead>
    </table>
</div>

<div *ngIf="itemsFromExcel.length > 0" class="data-table import-table">
    <table class="table data-table__header table-hover">
        <tbody>
            <tr class="text-center" *ngFor="let item of items; let i = index">
                <td class="small-col">{{ i + 1 }}</td>
                <td class="medium-col">{{ item.item_code }}</td>
                <td class="medium-col">{{ item.item_name }}</td>
                <td class="small-col">
					<input
						[ngClass]="{ 'text-primary editable': !item.is_already_in_db }"
                        type="text" appFormatCurrency matInput minlength="1" maxlength="8"
                        [disabled]="item.is_already_in_db"
                        [(ngModel)]="item.item_amount_to_show" name="itemAmount"
                    />
				</td>
				<td class="small-col">
					<input
						[ngClass]="{ 'text-primary editable': !item.is_already_in_db }"
                        type="text" appFormatCurrency matInput minlength="1" maxlength="8"
                        [disabled]="item.is_already_in_db"
                        [(ngModel)]="item.item_buy_price_to_show" name="itemBuyPrice"
                    />
				</td>
				<td class="small-col">
					<input
						[ngClass]="{ 'text-primary editable': !item.is_already_in_db }"
                        type="text" appFormatCurrency matInput minlength="1" maxlength="8"
                        [disabled]="item.is_already_in_db"
                        [(ngModel)]="item.item_sell_price_to_show" name="itemSellPrice"
                    />
				</td>
                <td class="small-col">
                    <i *ngIf="item.is_already_in_db" class="zmdi zmdi-check text-success"></i>
                    <input
                        *ngIf="!item.is_already_in_db"
                        type="checkbox"
                        (change)="getSelectedItems()"
                        [(ngModel)]="item.is_checked"
                        [disabled]="item.is_already_in_db"
                    />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="itemsFromExcel.length == 0" class="alert alert-warning" role="alert">
    <span>{{ tableText.checkColumnsNames }}</span>
</div>
<br />
<div class="row btn-demo justify-content-center">
    <button *ngIf="selectedItems.length > 0 && showJustSelectedItems" [disabled]="processingRequest" type="submit" class="btn btn-primary btn--icon-text" (click)="saveItems()">
        <i *ngIf="!processingRequest" class="zmdi zmdi-floppy"></i>
        <i *ngIf="processingRequest" class="zmdi zmdi-refresh zmdi-hc-spin"></i>
        <span *ngIf="!processingRequest">{{ tableText.saveButton }}</span>
        <span *ngIf="processingRequest">{{ tableText.savingProcess }}</span>
    </button>

    <button class="btn btn-danger btn--icon-text" (click)="closeModal()"><i class="zmdi zmdi-close"></i>{{ tableText.cancelButton }}</button>
</div>
