<div class="row">
    <div class="col text-center">
        <div class="bold"> {{ providerHeaderText.providerName }}</div>
        <div> {{ provider.provider_name | limitTo:[20, '...'] }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ providerHeaderText.providerAddress }}</div>
        <div>{{ provider.provider_address }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ providerHeaderText.providerTelephone }}</div>
        <div>{{ provider.provider_telephone }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ providerHeaderText.providerContacts }}</div>
        <div>{{ contactsInProvider }}</div>
    </div>

    <div class="col-1 text-center" *ngIf="showMenu">
        <i mat-button [matMenuTriggerFor]="providersListMenu" class="actions__item zmdi zmdi-more-vert"></i>
        <mat-menu #providersListMenu="matMenu">
            <button mat-menu-item class="dropdown-item" (click)="startNewContact()">
                <i class="zmdi zmdi-plus"></i> {{ providerHeaderText.newContact }}
            </button>
        </mat-menu>
    </div>
</div>