<div class="center-horizontal-div">
	<h5 class="text-center">{{ signUpFormText.title }}</h5>
	<hr>
	<p>{{ signUpFormText.requiredMessage }}</p>
	<form #cf="ngForm">
		<div class="row">
			<div class="col-4">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyTaxId.placeholder }}"
						[(ngModel)]="newCompany.company_tax_identification_number" name="companyTaxId" required
						minlength="9" maxlength="16" #companyTaxId="ngModel">
					<mat-hint *ngIf="companyTaxId.invalid">{{ signUpFormText.companyTaxId.hint }}</mat-hint>
					<mat-error *ngIf="companyTaxId.errors?.required">
						{{ signUpFormText.companyTaxId.errorRequired }}
					</mat-error>
					<mat-error *ngIf="companyTaxId.errors?.minlength">
						{{ signUpFormText.companyTaxId.errorMinLength }}
					</mat-error>
					<mat-error *ngIf="companyTaxId.errors?.maxlength">
						{{ signUpFormText.companyTaxId.erronMaxLength }}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-3">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyVAT }}"
						[(ngModel)]="newCompany.company_vat_identification_number" name="companyVAT">
				</mat-form-field>
			</div>
			<div class="col-5">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyName }}" [(ngModel)]="newCompany.company_name"
						name="companyName" required #companyName="ngModel">
					<mat-error *ngIf="companyTaxId.errors?.required">
						{{ signUpFormText.requiredField }}
					</mat-error>
				</mat-form-field>
			</div>
		</div>
		<!-- fila 2 -->
		<div class="row">
			<div class="col-4">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyAddress }}"
						[(ngModel)]="newCompany.company_address" name="companyAddress" required
						#companyAddress="ngModel">
					<mat-error *ngIf="companyAddress.errors?.required">
						{{ signUpFormText.requiredField }}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-2">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyZipCode.placeholder }}"
						[(ngModel)]="newCompany.company_zip_code" name="companyZipCode" required minlength="5"
						maxlength="10" #companyZipCode="ngModel">
					<mat-error *ngIf="companyZipCode.errors?.required">
						{{ signUpFormText.companyZipCode.errorRequired }}
					</mat-error>
					<mat-error *ngIf="companyZipCode.errors?.minlength">
						{{ signUpFormText.companyZipCode.errorMinLength }}
					</mat-error>
					<mat-error *ngIf="companyZipCode.errors?.maxlength">
						{{ signUpFormText.companyZipCode.erronMaxLength }}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-3">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyCity }}" [(ngModel)]="newCompany.company_city"
						name="companyCity" required #companyCity="ngModel">
					<mat-error *ngIf="companyCity.errors?.required">
						{{ signUpFormText.requiredField }}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-3">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyCountry }}"
						[(ngModel)]="newCompany.company_country" name="companyCountry" #companyCountry="ngModel"
						required>
					<mat-error *ngIf="companyCountry.errors?.required">
						{{ signUpFormText.requiredField }}
					</mat-error>
				</mat-form-field>
			</div>
		</div>

		<!-- fila 3 -->

		<div class="row">
			<div class="col-3">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyTelephone }}"
						[(ngModel)]="newCompany.company_telephone" name="companyTelephone" required
						#companyTelephone="ngModel">
					<mat-error *ngIf="companyTelephone.errors?.required">
						{{ signUpFormText.requiredField }}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-3">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyFax }}" [(ngModel)]="newCompany.company_fax"
						name="companyFax">
				</mat-form-field>
			</div>
			<div class="col-6">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyWebsite }}"
						[(ngModel)]="newCompany.company_website" name="companyWebsite">
				</mat-form-field>
			</div>
		</div>
		<!-- fila 4 -->
		<div class="row">
			<div class="col-4">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyBusinessManagerName }}"
						[(ngModel)]="newCompany.company_business_manager_name" name="companyBMName" required
						#cbmn="ngModel">
					<mat-error *ngIf="cbmn.errors?.required">
						{{ signUpFormText.requiredField }}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyBusinessManagerLastName }}"
						[(ngModel)]="newCompany.company_business_manager_last_name" name="companyBMLastName" required
						#cbmln="ngModel">
					<mat-error *ngIf="cbmln.errors?.required">
						{{ signUpFormText.requiredField }}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ signUpFormText.companyRegistrationCourt }}"
						[(ngModel)]="newCompany.company_registration_court" name="companyRegistrationCourt" required
						#crc="ngModel">
					<mat-error *ngIf="crc.errors?.required">
						{{ signUpFormText.requiredField }}
					</mat-error>
				</mat-form-field>
			</div>

		</div>
		<!-- fila-5 -->
		<div class="row">
			<div class="col-4">
				<mat-form-field class="full-width">
					<input type="email" matInput placeholder="{{ signUpFormText.companyEmail.placeholder }}"
						[(ngModel)]="newCompany.company_email" name="companyEmail" required
						pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #cEmail="ngModel">
					<mat-error *ngIf="cEmail.errors?.required">
						{{ signUpFormText.companyEmail.errorRequired }}
					</mat-error>
					<mat-error *ngIf="cEmail.errors?.pattern">
						{{ signUpFormText.companyEmail.errorEmail }}
					</mat-error>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field class="full-width">
					<input type="password" matInput placeholder="{{ signUpFormText.password }}"
						[(ngModel)]="newCompany.password" name="password" #password="ngModel" required>
				</mat-form-field>
			</div>
			<div class="col-4">
				<mat-form-field class="full-width">
					<input type="password" matInput placeholder="{{ signUpFormText.repeatPassword.placeholder }}"
						[(ngModel)]="newCompany.confirmedPassword" name="confirmedPassword" #confirmedPassword="ngModel"
						required>
					<mat-hint *ngIf="confirmedPassword.valid && !(confirmedPassword.value == password.value)">
						{{ signUpFormText.repeatPassword.errorPassword }}
					</mat-hint>
					<mat-error *ngIf="confirmedPassword.errors?.required">
						{{ signUpFormText.repeatPassword.errorRequired }}
					</mat-error>
				</mat-form-field>
			</div>
		</div>
		<!-- bottons -->
		<br>
		<div class="row btn-demo justify-content-center">
			<button *ngIf="!waiting" type="submit" class="btn btn-primary btn--icon-text" (click)="createCompany()"
				[disabled]="!cf.form.valid || !(confirmedPassword.value == password.value)">
				<i class="zmdi zmdi-floppy"></i>{{ signUpFormText.saveButton }}
			</button>
			<mat-progress-bar mode="buffer" *ngIf="waiting"></mat-progress-bar>
		</div>
	</form>
	<div class="row">
		<div class="col">
			<p class="text-center text-danger">{{ errorMessage }}</p>
		</div>
	</div>

	<p class="text-center">
		<a href="/#/auth/forgot-password">{{ signUpFormText.forgotPassword }}</a> | <a
			href="/#/auth/login">{{ signUpFormText.login }}</a>
	</p>

</div>