<p class="modal_title text-center">{{itemsInProjectsTableColumnsText.modalTitle}}</p>
<hr>
<br>
<form #itemForm="ngForm">
	<div class="row">
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_code}}" [(ngModel)]="currentColumnsObj.item_code" name="itemCode"
				 required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_name}}" [(ngModel)]="currentColumnsObj.item_name" name="itemName"
				 required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_amount}}" [(ngModel)]="currentColumnsObj.item_amount"
				 name="itemAmount" required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_activity_done_name}}" [(ngModel)]="currentColumnsObj.item_activity_done_name"
				 name="itemActivityDoneName" required>
			</mat-form-field>
		</div>
	</div>
	<br>
	<div class="row btn-demo justify-content-center">
		<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveColumns()" [disabled]="!itemForm.form.valid">
			<i class="zmdi zmdi-floppy"></i>{{itemsInProjectsTableColumnsText.saveButton}}</button>
		<button class="btn btn-danger btn--icon-text" (click)="closeModal()">
			<i class="zmdi zmdi-close"></i>{{itemsInProjectsTableColumnsText.cancelButton}}</button>
	</div>
</form>