<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-center  align-middle">
                <span class="table_title align-middle">{{ itemsInProjectText.title }}</span>
            </div>
            <div class="col-1 text-center">
                <i mat-button [matMenuTriggerFor]="pdTableHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #pdTableHeaderMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="editTableColumns()">
                        <i class="zmdi zmdi-edit"></i>{{ itemsInProjectText.editTableColumns }}
                    </button>
                </mat-menu>
            </div>
        </div>
        <br />
        <div class="data-table">
            <table class="table data-table__header table-hover">
                <thead>
                    <tr class="table">
                        <th class="text-center">{{ tableColumns.item_position }}</th>
                        <th class="text-center">{{ tableColumns.item_type }}</th>
                        <th class="text-center">{{ tableColumns.item_code }}</th>
                        <th class="text-center">{{ tableColumns.item_name }}</th>
                        <th class="text-center">{{ tableColumns.item_amount }}</th>
                        <th class="text-center">{{ tableColumns.item_activity_done_name }}</th>
                        <th class="text-center">{{ itemsInProjectText.options }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="text-center" *ngFor="let item of items; let index = index">
                        <td>{{ index + 1 }}</td>
                        <td>
                            <i *ngIf="item.item_type == 'item'" class="zmdi zmdi-stop" [ngClass]="{ 'text-success': item.activity_id == 3 }"></i>
                            <i *ngIf="item.item_type == 'assembly'" class="zmdi zmdi-delicious" [ngClass]="{ 'text-success': item.activity_id == 3 }"></i>
                        </td>
                        <td>{{ item.item_code | limitTo: [35, "..."] }}</td>
                        <td>{{ item.item_name | limitTo: [35, "..."] }}</td>
                        <td>{{ item.item_amount | currency: companyCurrency:"":"1.1-1":currentLanguage }}</td>
                        <td>{{ item.activity_done_name }}</td>
                        <td>
                            <i *ngIf="item.item_type != 'item'">&nbsp;&nbsp;&nbsp;</i>
                            <i *ngIf="item.item_type == 'item'" class="zmdi zmdi-edit" (click)="editItem(item)"></i>&nbsp;&nbsp;
                            <i class="zmdi zmdi-info-outline" aria-hidden="true" (click)="openItemDetails(item)"></i>&nbsp;&nbsp;
                            <i class="zmdi zmdi-delete" (click)="deleteItem(item, index)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
