<div class="card">
	<div class="listview__header ">
		{{paymentConditionsListText.title}}
		<div class="actions">
			<i class="actions__item zmdi zmdi-plus" tooltip="New PaymentCondition" (click)="startNewPaymentCondition()"></i>
		</div>
	</div>

	<app-payment-condition-form *ngIf="editPaymentCondition || newPaymentCondition" [currentPaymentCondition]="paymentConditionToHandle"
	 [editPaymentCondition]="editPaymentCondition" [newPaymentCondition]="newPaymentCondition" (closeForm)="forgetActions($event)"></app-payment-condition-form>

	<div class="listview listview--hover listview--bordered">
		<div *ngFor="let pc of paymentConditions ; let index = index" class="listview__item listview__item--hover">

			<div class="listview__content">
				<h3 class="listview__heading">{{pc.payment_condition_description | limitTo : [60,'...']}} </h3>
			</div>
			<div *ngIf="!(pc.company_id =='LaBitacora')" class="actions listview__actions">
				<i mat-button [matMenuTriggerFor]="pcListMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #pcListMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="startEditPaymentCondition(pc)">
						<i class="zmdi zmdi-edit"></i> {{paymentConditionsListText.editPaymentCondition}}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="deletePaymentCondition(pc,index)">
						<i class="zmdi zmdi-delete"></i> {{paymentConditionsListText.deletePaymentCondition}}
					</button>
				</mat-menu>
			</div>
		</div>

	</div>
</div>