<div class="card">

	<div class="listview__header">
		<span> {{currentProject.order_confirmation_number}} - {{currentProject.project_name}}</span>
	</div>
	<app-pd-group-form *ngIf="editGroup" [editGroup]="editGroup" [currentGroup]="groupToHandle" (useForm)="forgetActions()"></app-pd-group-form>
	
	<div class="listview listview--hover listview--bordered" *ngFor="let group of groups">
		<div   class="listview__item listview__item--hover" *ngIf="group.assembly_type ==1"
		routerLinkActive="selected" [routerLink]="['../../', group.aip_id]" >
		
				<div class="listview__content">
					<h3 class="listview__heading">{{ group.assembly_name}}</h3>
					<p>{{group.assembly_number}} </p>
				</div>
				<div class="actions listview__actions">
						<i mat-button [matMenuTriggerFor]="projectsListMenu" class="actions__item zmdi zmdi-more-vert"></i>
						<mat-menu #projectsListMenu="matMenu">
							<button mat-menu-item class="dropdown-item" (click)="startEditGroup(group)">
									<i class="zmdi zmdi-edit"></i>{{pdGroupsListText.editGroupInProject}}
							</button>
							<button mat-menu-item class="dropdown-item" (click)="startDeleteGroup(group)">
									<i class="zmdi zmdi-delete"></i>{{pdGroupsListText.deleteGroupFromProject}}
							</button>
						</mat-menu>				
				</div>
		</div>
	</div>
</div>