<section class="content">
	<div class="row">
		<div class="col-3">
			<app-orders-confirmation-list [ordersConfirmed]="ordersConfirmed"></app-orders-confirmation-list>
		</div>
		<div class="col-9">
			<div class="card">
				<div class="card-body">
					<app-order-confirmed-header [currentOrderConfirmation]="selectedOrderConfirmation" [zeroOC]="zeroOC"
					 [openOrdersConfirmedView]="openOrdersConfirmedView" [showMenu]="true">
					</app-order-confirmed-header>
				</div>
			</div>
			<app-items-in-order-confirmation-table [currentOrderConfirmation]="selectedOrderConfirmation"></app-items-in-order-confirmation-table>
		</div>
	</div>
</section>