<div class="card">
	<div class="card-body">
		<small class="text-primary"><p>{{orderConfirmationFormText.requiredFieldsMessage}}</p></small>
		<form #oCForm="ngForm">
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{orderConfirmationFormText.orderConfirmationNumber}}" [(ngModel)]="currentOrderConfirmation.order_confirmation_number"
						 name="orderConfirmationNumber" required readonly>
					</mat-form-field>
				</div>

				<div class="col" *ngIf="editOrderConfirmation && showCurrentOfferNumberWhileEdit && currentOrderConfirmation.offer_number">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{orderConfirmationFormText.currentOfferNumber}}" [(ngModel)]="currentOrderConfirmation.offer_number"
						 name="currentOfferNumber" required readonly>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{orderConfirmationFormText.offerNumber}}" [(ngModel)]="currentOrderConfirmation.offer_number"
						 (selectionChange)="setDocument($event)" (selectionChange)="callClientContacts()" name="selectedOfferNumber">
							<mat-option *ngFor="let offer_number of openOffers.offer_numbers" [value]="offer_number">{{offer_number}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{orderConfirmationFormText.client}}" [(ngModel)]="currentOrderConfirmation.client_name" (selectionChange)="callClientContacts()"
						 [disabled]="readOnlyInput" required name="clientName">
							<mat-option *ngFor="let client of clients.clients_names" [value]="client">{{client}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{orderConfirmationFormText.clientContact}}" [(ngModel)]="currentOrderConfirmation.contact" [disabled]="readOnlyInput" required name="contact">
							<mat-option *ngFor="let contact of clientContacts.contacts_complete_names" [value]="contact">{{contact}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{orderConfirmationFormText.paymentMethod}}" [(ngModel)]="currentOrderConfirmation.payment_method_name"
						 [disabled]="readOnlyInput" required name="pmn">
							<mat-option [value]="method" *ngFor="let method of paymentMethods.payment_methods_names">{{method}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{orderConfirmationFormText.paymentConditions}}" [(ngModel)]="currentOrderConfirmation.payment_condition_description"
						 [disabled]="readOnlyInput" required name="pcd">
							<mat-option [value]="condition" *ngFor="let condition of paymentConditions.payment_conditions_descriptions">{{condition}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{orderConfirmationFormText.deliveryMethod}}" [(ngModel)]="currentOrderConfirmation.delivery_method_name"
						 [disabled]="readOnlyInput" required name="dmn">
							<mat-option [value]="deliveryMethod" *ngFor="let deliveryMethod of deliveryMethods.delivery_methods_names
                ">{{deliveryMethod}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{orderConfirmationFormText.deliveryConditions}}" [(ngModel)]="currentOrderConfirmation.delivery_condition_description"
						 [disabled]="readOnlyInput" required name="dcd">
							<mat-option [value]="deliveryCondition" *ngFor="let deliveryCondition of deliveryConditions.delivery_conditions_descriptions">{{deliveryCondition}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{orderConfirmationFormText.offerVATValue}}" [(ngModel)]="currentOrderConfirmation.vat_percentage"
						 [disabled]="readOnlyInput" required name="vatPercentage">
							<mat-option [value]="vat" *ngFor="let vat of vats">{{vat}} %</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
						<mat-form-field class="full-width">
							<input matInput [matDatepicker]="pickerDelivery" placeholder="{{orderConfirmationFormText.deliveryDate}}" [(ngModel)]="currentOrderConfirmation.offered_delivery_date"
							 name="deliveryDate" required>
							<mat-datepicker-toggle matSuffix [for]="pickerDelivery"></mat-datepicker-toggle>
							<mat-datepicker touchUi="true" #pickerDelivery></mat-datepicker>
						</mat-form-field>
					</div>

			</div>
			<br>

			<div class="row btn-demo justify-content-center">
				<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveOrderConfirmation()" [disabled]="!oCForm.form.valid">
					<i class="zmdi zmdi-floppy"></i>{{orderConfirmationFormText.saveButton}}</button>

				<button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
					<i class="zmdi zmdi-close"></i>{{orderConfirmationFormText.cancelButton}}</button>
			</div>

		</form>

	</div>
</div>