<p *ngIf="newGroup" class="modal_title text-center">{{groupFormText.modalTitleCreate}}</p>
<p *ngIf="editGroup" class="modal_title text-center">{{groupFormText.modalTitleUpdate}}</p>
<hr>
<app-project-header [project]="currentProject" [showMenu]=false>
	</app-project-header>
<hr>
<form #groupForm="ngForm">
	<p class="text-primary">{{groupFormText.requiredFieldsMessage}}</p>
	<div class="row">
		<div class="col">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{groupFormText.assemblyName}}" [(ngModel)]="currentGroup.assembly_name" name="assemblyName"
				 required>
			</mat-form-field>
		</div>
		<div class="col">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{groupFormText.assemblyNumber}}" [(ngModel)]="currentGroup.assembly_number" name="assemblyNumber"
				 required>
			</mat-form-field>
		</div>
	</div>
	<br>
	<div class="row btn-demo justify-content-center">
		<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveGroup()" [disabled]="!groupForm.form.valid">
			<i class="zmdi zmdi-floppy"></i>{{groupFormText.saveButton}}</button>

		<button class="btn btn-danger btn--icon-text" (click)="closeModal()">
			<i class="zmdi zmdi-close"></i>{{groupFormText.cancelButton}}</button>
	</div>
</form>