<div class="card">
    <div class="card-body">
        <small class="text-primary"><p>{{deliveryNoteFormText.requiredFieldsMessage}}</p></small>
        <form #deliveryNoteForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{deliveryNoteFormText.deliveryNoteNumber}}" [(ngModel)]="currentDeliveryNote.delivery_note_number"
                            name="deliveryNoteNumber" required readonly>
                    </mat-form-field>
                </div>

                <div class="col" *ngIf="editDeliveryNote && showCurrentInvoiceWhileEdit">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{deliveryNoteFormText.currentInvoiceNumber}}" [(ngModel)]="currentDeliveryNote.invoice_number"
                            name="currentInvoiceNumber" required>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="{{deliveryNoteFormText.invoiceNumber}}" [(value)]="currentDeliveryNote.invoice_number"
                            (selectionChange)="setDocument($event)" name="invoiceNumber" required>
                            <mat-option [value]="invoice_number" *ngFor="let invoice_number of invoices.invoices_numbers">
                                {{invoice_number}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{deliveryNoteFormText.client}}" [(ngModel)]="currentDeliveryNote.client_name"
                            name="clientName" readonly>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="{{deliveryNoteFormText.deliveryMethod}}" [(value)]="currentDeliveryNote.delivery_method_name"
                        disabled required>
                            <mat-option [value]="deliveryMethod" *ngFor="let deliveryMethod of deliveryMethods.delivery_methods_names
							">{{deliveryMethod}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="{{deliveryNoteFormText.deliveryConditions}}" [(value)]="currentDeliveryNote.delivery_condition_description"
                        disabled required>
                            <mat-option [value]="deliveryCondition" *ngFor="let deliveryCondition of deliveryConditions.delivery_conditions_descriptions">{{deliveryCondition}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="pickerDelivery" placeholder="{{deliveryNoteFormText.deliveryNoteDate}}"
                            [(ngModel)]="currentDeliveryNote.delivery_note_date" name="deliveryDate" required>
                        <mat-datepicker-toggle matSuffix [for]="pickerDelivery"></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true" #pickerDelivery></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <br>

            <div class="row btn-demo justify-content-center">
                <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveDeliveryNote()" [disabled]="!deliveryNoteForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{deliveryNoteFormText.saveButton}}</button>

                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                    <i class="zmdi zmdi-close"></i>{{deliveryNoteFormText.cancelButton}}</button>
            </div>

        </form>
    </div>
</div>