<div class="row">
    <div class="col text-center">
        <div class="bold">{{ offerHeaderText.offerNumber }}</div>
        <div> {{ currentOffer.offer_number }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ offerHeaderText.offerClient }}</div>
        <div>{{ currentOffer.client_name | limitTo:[25, '...'] }}</div>
    </div>
    <div class="col-2 text-center">
        <div class="bold">{{ offerHeaderText.offerItems }}</div>
        <div>{{ itemsInOffer }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ offerHeaderText.offerContact }}</div>
        <div>{{ currentOffer.contact | limitTo:[25, '...'] }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ offerHeaderText.contactTelephone }}</div>
        <div>{{ currentOffer.contact_telephone }}</div>
    </div>

    <div class="col text-center">
        <div class="bold">{{ offerHeaderText.contactEmail }}</div>
        <div>{{ currentOffer.contact_email }}</div>
    </div>
    <!-- input to import excel document -->
    <input type="file" (change)="onFileChange($event)" id="i-input" style="display:none" accept=".xlsx,.xls,.csv">
    <div class="col-1 text-center"  *ngIf="showMenu">
        <i mat-button [matMenuTriggerFor]="offerHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
        <mat-menu #offerHeaderMenu="matMenu">
            <button [disabled]="zeroOffers || !openOffersView" mat-menu-item class="dropdown-item" (click)="searchForItems()">
                <i class="zmdi zmdi-stop"></i> {{ offerHeaderText.insertItems }}
            </button>
            <button [disabled]="zeroOffers || !openOffersView" mat-menu-item class="dropdown-item" (click)="searchForAssemblies()">
                <i class="zmdi zmdi-delicious"></i> {{ offerHeaderText.insertAssemblies }}
            </button>
            <button [disabled]="zeroOffers || !openOffersView" mat-menu-item class="dropdown-item" (click)="openFileBrowser()">
                <i class="zmdi zmdi-upload"></i> {{ offerHeaderText.uploadCsv }}
            </button>
            <button [disabled]="zeroOffers" mat-menu-item class="dropdown-item" (click)="downloadExcelOffer()">
                <i class="zmdi zmdi-download"></i> {{ offerHeaderText.downloadExcelFile }}
            </button>
            <button [disabled]="zeroOffers" mat-menu-item class="dropdown-item" (click)="generatePdfOffer()">
                <i class="zmdi zmdi-download"></i> {{ offerHeaderText.downloadPdfFile }}
            </button>
        </mat-menu>
    </div>
</div>