<div class="card">
    <div class="card-body">
        <form #activityForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="{{ activityFormText.activityName }}"
                            [(ngModel)]="currentActivity.activity_name"
                            name="activityName"
                            required
                            #activityName="ngModel"
                            [readonly]="currentActivity.activity_id == 1 || currentActivity.activity_id == 2 || currentActivity.activity_id == 3"
                        />
                        <mat-error *ngIf="activityName.errors?.required">
                            {{ activityFormText.errorRequired }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="{{ activityFormText.activityDoneName }}"
                            [(ngModel)]="currentActivity.activity_done_name"
                            name="activityDoneName"
                            #activityDoneName="ngModel"
                            required
                            [readonly]="currentActivity.activity_id == 1 || currentActivity.activity_id == 2 || currentActivity.activity_id == 3"
                        />
                        <mat-error *ngIf="activityDoneName.errors?.required">
                            {{ activityFormText.errorRequired }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea
                            rows="6"
                            matInput
                            placeholder="{{ activityFormText.activityDescription }}"
                            [(ngModel)]="currentActivity.activity_description"
                            name="activityDescription"
                            [readonly]="currentActivity.activity_id == 1 || currentActivity.activity_id == 2 || currentActivity.activity_id == 3"
                        >
                        </textarea>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="{{ activityFormText.activityPrice }}"
                            [(ngModel)]="currentActivity.hour_price"
                            name="activityPrice"
                            required
                            #activityPrice="ngModel"
                        />
                        <mat-error *ngIf="activityPrice.errors?.required">
                            {{ activityFormText.errorRequired }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br />

            <div class="row btn-demo justify-content-center">
                <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveActivity()" [disabled]="!activityForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{ activityFormText.saveButton }}
                </button>

                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                    <i class="zmdi zmdi-close"></i>{{ activityFormText.cancelButton }}
                </button>
            </div>
        </form>
    </div>
</div>
