<section class="content">
	<div class="row">
		<div class="col-3">
			<app-actvities-list></app-actvities-list>
			<app-locations-list></app-locations-list>
		</div>
		<div class="col-3">
			<app-documents-configuration></app-documents-configuration>
			<app-ibans-list></app-ibans-list>
		</div>
		<div class="col-3">
			<app-payment-methods-list></app-payment-methods-list>
			<app-delivery-methods-list></app-delivery-methods-list>
		</div>
		<div class="col-3">
			<app-payment-conditions-list></app-payment-conditions-list>
			<app-delivery-conditions-list></app-delivery-conditions-list>
			<app-vats-list [vats]="vats"></app-vats-list>
		</div>

	</div>
</section>