<p class="modal_title text-center">{{ modalText.modalTitle }}</p>
<hr>
<app-item-header [currentItem]="currentItem"></app-item-header>
<hr>
<p class="table_title text-center">{{ modalText.activitiesTableTitle }}</p>
<div class="data-table">
    <table class="table  data-table__header table-hover">
        <thead>
            <tr class="table text-center">
                <th>{{ activitiesTableColumns.position }}</th>
                <th>{{ activitiesTableColumns.activity_name }}</th>
                <th>{{ activitiesTableColumns.activity_hours_per_unit }}</th>
                <th>{{ activitiesTableColumns.activity_hour_price}}</th>
                <th>{{ activitiesTableColumns.activity_cost_per_unit }}</th>
                <th>{{ activitiesTableColumns.activity_percentage}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let activity of itemActivitiesResume; let i = index">
                <td class="small-col">{{ i+1 }}</td>
                <td class="small-col">{{ activity.activity_name }}</td>
                <td class="small-col">{{ activity.activity_hours_per_unit }}</td>
                <td class="small-col">{{ activity.hour_price | currency : companyCurrency :'symbol-narrow' }}</td>
                <td class="small-col">{{ activity.activity_cost_per_unit | currency : companyCurrency :'symbol-narrow' }}</td>
                <td class="small-col">{{ activity.activity_percentage }} %</td>
            </tr>
            <tr class="text-center highlight" *ngIf="itemActivitiesResume.length > 0">
                <td></td>
                <td></td>
                <td></td>
                <td>{{ modalText.activitiesTotalCost }}</td>
                <td>{{ totalActivitiesCost | currency : companyCurrency :'symbol-narrow' }}</td>
                <td>100 %</td>
            </tr>
        </tbody>
    </table>
</div>
