<p class="modal_title text-center">{{ modalText.modalTitle }}</p>
<hr />
<app-item-header [currentItem]="currentItem"></app-item-header>
<hr />
<mat-dialog-content>
    <div *ngIf="projectsRegisters.length > 0">
        <br />
        <p class="table_title text-center">{{ modalText.projectTableTitle }}</p>
        <div class="data-table">
            <table class="table  data-table__header table-hover">
                <thead>
                    <tr class="table text-center">
                        <th>{{ projectsTableColumns.position }}</th>
                        <th>{{ projectsTableColumns.project_number }}</th>
                        <th>{{ projectsTableColumns.client_name }}</th>
                        <th>{{ projectsTableColumns.assembly_name }}</th>
                        <th>{{ projectsTableColumns.assembly_number }}</th>
                        <th>{{ projectsTableColumns.required_amount }}</th>
                        <th>{{ projectsTableColumns.activity_done_name }}</th>
                        <th>{{ projectsTableColumns.deadline }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let projectRow of projectsRegisters; let i = index">
                        <td class="x-small-col">{{ i + 1 }}</td>
                        <td class="small-col">{{ projectRow.order_confirmation_number }}</td>
                        <td class="medium-col">{{ projectRow.client_name | limitTo: [20, "..."] }}</td>
                        <td class="medium-col">{{ projectRow.assembly_name | limitTo: [20, "..."] }}</td>
                        <td class="small-col">{{ projectRow.assembly_number | limitTo: [20, "..."] }}</td>
                        <td class="small-col" [ngClass]="{ 'text-success': projectRow.activity_id == 3, 'text-danger': projectRow.activity_id == 1 }">
                            {{ projectRow.required_amount | currency: companyCurrency:"":"1.1-1":currentLanguage }}
                        </td>
                        <td class="small-col">{{ projectRow.activity_done_name }}</td>
                        <td class="small-col">{{ projectRow.project_deadline | formatDate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="oCRegisters.length > 0">
        <br />
        <p class="table_title text-center">{{ modalText.oCTableTitle }}</p>
        <div class="data-table">
            <table class="table  data-table__header table-hover">
                <thead>
                    <tr class="table text-center">
                        <th>{{ oCTableColumns.position }}</th>
                        <th>{{ oCTableColumns.order_confirmation_number }}</th>
                        <th>{{ oCTableColumns.client_name }}</th>
                        <th>{{ oCTableColumns.item_amount }}</th>
                        <th>{{ oCTableColumns.activity_done_name }}</th>
                        <th>{{ oCTableColumns.offered_delivery_date }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let oCRow of oCRegisters; let i = index">
                        <td class="x-small-col">{{ i + 1 }}</td>
                        <td class="small-col">{{ oCRow.order_confirmation_number }}</td>
                        <td class="medium-col">{{ oCRow.client_name | limitTo: [20, "..."] }}</td>
                        <td class="small-col" [ngClass]="{ 'text-success': oCRow.activity_id == 3, 'text-danger': oCRow.activity_id == 1 }">
                            {{ oCRow.item_amount | currency: companyCurrency:"":"1.1-1":currentLanguage }}
                        </td>
                        <td class="small-col">{{ oCRow.activity_done_name }}</td>
                        <td class="small-col">{{ oCRow.offered_delivery_date | formatDate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="ordersRegisters.length > 0">
        <br />
        <p class="table_title text-center">{{ modalText.ordersTableTitle }}</p>
        <div class="data-table">
            <table class="table  data-table__header table-hover">
                <thead>
                    <tr class="table text-center">
                        <th>{{ ordersTableColumns.position }}</th>
                        <th>{{ ordersTableColumns.order_number }}</th>
                        <th>{{ ordersTableColumns.provider_name }}</th>
                        <th>{{ ordersTableColumns.item_ordered_amount }}</th>
                        <th>{{ ordersTableColumns.received_amount }}</th>
                        <th>{{ ordersTableColumns.order_delivery_date }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let orderRow of ordersRegisters; let i = index" (click)="goToOrder(orderRow)">
                        <td class="x-small-col">{{ i + 1 }}</td>
                        <td class="small-col">{{ orderRow.order_number }}</td>
                        <td class="small-col">{{ orderRow.provider_name | limitTo: [25, "..."] }}</td>
                        <td class="small-col">{{ orderRow.item_ordered_amount }}</td>
                        <td class="small-col" [ngClass]="{ 'text-success': orderRow.item_delivered, 'text-danger': !orderRow.item_delivered }">
                            {{ orderRow.received_amount | currency: companyCurrency:"":"1.1-1":currentLanguage }}
                        </td>
                        <td *ngIf="orderRow.item_received_date" class="small-col">{{ orderRow.item_received_date | formatDate }}</td>
                        <td *ngIf="!orderRow.item_received_date" class="small-col">{{ orderRow.order_delivery_date | formatDate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-dialog-content>
