<p class="modal_title text-center">{{ tableText.modalTitle }}</p>
<hr>
<app-group-header [currentGroup]="currentGroup" [mainGroupsView]="mainGroupsView" [showMenu]="false"></app-group-header>
<hr>
<div class="row">
        <div class="col text-center"> <span class="bold">{{ tableText.fileName }}</span> : {{ fileInformation.name }} </div> 
        <div class="col text-center"> <span class="bold">{{ tableText.itemsFound }}</span> : {{ itemsFromExcel.length }}</div>   
</div>
<hr>
<mat-tab-group *ngIf="itemsFromExcel.length > 0" mat-align-tabs="center" mat-stretch-tabs [selectedIndex]="selectedTab" (selectedIndexChange)="updateTab($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <span> <i class="zmdi zmdi-check-square"></i> &nbsp;&nbsp; {{ tableText.itemsSelected  }} ({{ selectedItems.length }}) </span>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span> <i class="zmdi zmdi-check"></i> &nbsp;&nbsp; {{ tableText.itemsAlreadyInList }} ({{ itemsAlreadyInList.length }})</span>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span> <i class="zmdi zmdi-close-circle"></i> &nbsp;&nbsp; {{ tableText.itemsNotFoundInDB }} ({{ itemsNotFoundInDB.length }}) </span>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<br>
<div class="data-table table-fix-header">
	<table class="table data-table__header table-hover">
		<thead>
			<tr class="table text-center">
				<th class="small-col">{{ tableColumns.item_position }}</th>
				<th class="medium-col">{{ tableColumns.item_code }}*</th>
				<th class="medium-col">{{ tableColumns.item_name }}</th>
				<th class="small-col">{{ tableColumns.item_amount }}</th>
				<th class="small-col">
					<input type="checkbox" (change)="applyChangesToList(allChecked)" [(ngModel)]="allChecked" [disabled]="!showJustSelectedItems">
				</th>
			</tr>
		</thead>
	</table>
</div>
<div *ngIf="itemsFromExcel.length > 0" class="data-table import-table">
	<table class="table data-table__header table-hover">
		<tbody>
			<tr class="text-center" *ngFor="let item of items; let i = index"
				[ngClass]="{'highlight':!item.is_already_in_db}">
				<td class="small-col">{{ i+1 }}</td>
				<td class="medium-col">{{ item.item_code }}</td>
				<td class="medium-col">{{ item.item_name }}</td>
				<td class="small-col">
					<input
						[ngClass]="{'text-primary editable' : item.is_already_in_db && !item.is_already_in_list }"
						type="text" appFormatCurrency matInput minlength="1" maxlength="8"
						[disabled]="!item.is_already_in_db || item.is_already_in_list"
						[(ngModel)]="item.item_amount_to_show" name="itemAmount"
					/>
				</td>
				<td class="small-col">
					<i *ngIf="item.is_already_in_list" class="zmdi zmdi-check text-success"></i>
					<i *ngIf="!item.is_already_in_db" class="zmdi zmdi-close  text-danger"></i>
					<input *ngIf="item.is_already_in_db && !item.is_already_in_list" type="checkbox"
						(change)="getSelectedItems()" [(ngModel)]="item.is_checked"
						[disabled]="item.is_already_in_list || !item.is_already_in_db">
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div *ngIf="itemsFromExcel.length == 0" class="alert alert-warning" role="alert">
	<span>{{ tableText.checkColumnsNames }}</span>
</div>
<br>
<br>
<div class="row btn-demo justify-content-center">
	<button *ngIf="selectedItems.length > 0 && showJustSelectedItems" type="submit" class="btn btn-primary btn--icon-text" (click)="saveItems()">
		<i class="zmdi zmdi-floppy"></i>{{ tableText.saveButton }}</button>

	<button class="btn btn-danger btn--icon-text" (click)="closeModal()">
		<i class="zmdi zmdi-close"></i>{{ tableText.cancelButton }}</button>
</div>
<br>