<div class="row">
    <div class="col text-center">
        <div class="bold">{{ mainGroupsView ? groupHeaderText.assemblyName : groupHeaderText.subAssemblyName }}</div>
        <div>{{ currentGroup.assembly_name | limitTo: [20, "..."] }}</div>
    </div>

    <div class="col text-center">
        <div class="bold">{{ mainGroupsView ? groupHeaderText.assemblyNumber : groupHeaderText.subAssemblyNumber }}</div>
        <div>{{ currentGroup.assembly_number | limitTo: [20, "..."] }}</div>
    </div>

    <div class="col text-center">
        <div class="bold">{{ groupHeaderText.components }}</div>
        <div>{{ itemsInGroup }}</div>
    </div>

    <div class="col text-center">
        <div class="bold">{{ groupHeaderText.subAssemblies }}</div>
        <div>{{ currentGroup.sub_assemblies_in_assembly }}</div>
    </div>

    <div class="col-1 text-center" *ngIf="showMenu">
        <!-- input to import excel document -->
        <input type="file" (change)="onFileChange($event)" id="i-input" style="display:none" accept=".xlsx,.xls,.csv" />
        <i mat-button [matMenuTriggerFor]="groupHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
        <mat-menu #groupHeaderMenu="matMenu">
            <button mat-menu-item class="dropdown-item" (click)="searchForItems()"><i class="zmdi zmdi-stop"></i> {{ groupHeaderText.insertItems }}</button>
            <button mat-menu-item class="dropdown-item" (click)="searchForSubAssemblies()">
                <i class="zmdi zmdi-delicious"></i> {{ groupHeaderText.insertSubAssemblies }}
            </button>
            <button mat-menu-item class="dropdown-item" (click)="openFileBrowser()"><i class="zmdi zmdi-upload"></i> {{ groupHeaderText.uploadExcel }}</button>
        </mat-menu>
    </div>
</div>
