<div class="card">
	<br>
	<div class="row">
		<div class="col"></div>
		<div class="col-1">
				<i mat-button [matMenuTriggerFor]="ccMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #ccMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="chooseImage()">
						<i class="zmdi zmdi-image"></i> {{ companyFormText.uploadImage }}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="startToEditCompanyInfo()">
						<i class="zmdi zmdi-edit"></i> {{ companyFormText.updateButton }}
					</button>
				</mat-menu>
		</div>
		
	</div>
	<div class="row">
		<div class="col"></div>
		<div class="col">
				<img id="pre-image" class="center-img" src="/assets/img/250x100.png" height="75px;">
		</div>
		<div class="col">
		</div>
	</div>

	<div class="card-body">
			<small class="text-primary"><p>{{ companyFormText.requiredFieldsMessage }}</p></small>
		<form #companyForm="ngForm">
			<br>
			<!-- fila 1 -->
			<div class="row">
				<div class="col-3">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyTaxId }}" [(ngModel)]="sessionInfo.company_tax_identification_number"
						 name="companyTaxId" required>
					</mat-form-field>
				</div>
				<div class="col-3">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyVAT }}" [(ngModel)]="sessionInfo.company_vat_identification_number"
						 name="companyVAT">
					</mat-form-field>
				</div>
				<div class="col-6">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyName }}" [(ngModel)]="sessionInfo.company_name"
						 name="companyName" required>
					</mat-form-field>
				</div>

			</div>

			<!-- fila 2 -->

			<div class="row">

				<div class="col-4">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyAddress }}" [(ngModel)]="sessionInfo.company_address"
						 name="companyAddress" required>
					</mat-form-field>
				</div>

				<div class="col-2">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyZipCode }}" [(ngModel)]="sessionInfo.company_zip_code"
						 name="companyZipCode" required>
					</mat-form-field>
				</div>

				<div class="col-2">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyCity }}" [(ngModel)]="sessionInfo.company_city"
						 name="companyCity" required>
					</mat-form-field>
				</div>

				<div class="col-2">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyCountry }}" [(ngModel)]="sessionInfo.company_country"
						 name="companyCountry" required>
					</mat-form-field>
				</div>

				<div class="col-2">
					<mat-form-field class="full-width">
						<mat-select [(disabled)]="!editCompanyInfo" placeholder="{{ companyFormText.companyCurrency }}" [(ngModel)]="sessionInfo.company_currency"  name="companyCurrency" required>
							<mat-option [value]="currency" *ngFor="let currency of currencies">{{currency}} </mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<!-- fila 3 -->

			<div class="row">
				<div class="col-3">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyTelephone }}" [(ngModel)]="sessionInfo.company_telephone"
						 name="companyTelephone" required>
					</mat-form-field>
				</div>
				<div class="col-3">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyFax }}" [(ngModel)]="sessionInfo.company_fax"
						 name="companyFax">
					</mat-form-field>
				</div>
				<div class="col-4">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyWebsite }}" [(ngModel)]="sessionInfo.company_website"
						 name="companyWebsite">
					</mat-form-field>
				</div>
				<div class="col-2">
					<mat-form-field class="full-width">
						<input readonly matInput placeholder="{{ companyFormText.companyCreationDate }}" [(ngModel)]="sessionInfo.company_creation_date_to_show"
						 name="companyCreationDate">
					</mat-form-field>
				</div>
			</div>
			<!-- fila 4 -->
			<div class="row">
				<div class="col-3">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyBusinessManagerName }}"
						 [(ngModel)]="sessionInfo.company_business_manager_name" name="companyBusinessManagerName" required>
					</mat-form-field>
				</div>
				<div class="col-3">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyBusinessManagerLastName }}"
						 [(ngModel)]="sessionInfo.company_business_manager_last_name" name="companyBusinessManagerLastName" required>
					</mat-form-field>
				</div>
				<div class="col-3">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyRegistrationCourt }}"
						 [(ngModel)]="sessionInfo.company_registration_court" name="companyRegistrationCourt">
					</mat-form-field>
				</div>
				<div class="col-3">
					<mat-form-field class="full-width">
						<input [(readonly)]="!editCompanyInfo" matInput placeholder="{{ companyFormText.companyEmail }}" [(ngModel)]="sessionInfo.company_email"
						 name="companyEmail" required>
					</mat-form-field>
				</div>
			</div>

			<!-- bottons -->

			<br>
			<div class="row btn-demo justify-content-center">

				<input [(readonly)]="!editCompanyInfo" type="file" (change)="onFileChange($event)" id="i-input" style="display:none"
				 accept=".png">

				<button *ngIf="editCompanyImage" type="submit" class="btn btn-primary btn--icon-text" (click)="uploadImage()">
					<i class="zmdi zmdi-floppy"></i>{{ companyFormText.uploadImage }}</button>

				<button *ngIf="editCompanyInfo" type="submit" class="btn btn-primary btn--icon-text" (click)="updateCompany()" [disabled]="!companyForm.form.valid">
					<i class="zmdi zmdi-floppy"></i>{{ companyFormText.saveButton }}</button>

				<button *ngIf="editCompanyImage || editCompanyInfo" class="btn btn-danger btn--icon-text" (click)="forgetActions()">
					<i class="zmdi zmdi-close"></i>{{ companyFormText.forgetButton }}</button>
			</div>
		</form>
	</div>
</div>