<p class="modal_title text-center">{{ filtersTableText.modalTitle }}</p>
<hr>
<app-item-header [currentItem]="currentItem"></app-item-header>
<hr>
<mat-form-field class="full-width">
    <input matInput placeholder="{{ filtersTableText.searchFilters }}" (keyup)="searchFilters()"
        [(ngModel)]="searchPattern">
    <mat-label><i class="zmdi zmdi-search zmdi-hc-lg"></i> {{ filtersTableText.searchFilters }}</mat-label>
</mat-form-field>

<mat-chip-list>
    <mat-chip *ngFor="let filter of itemFilters; let index = index">{{filter.filter_value}}
        <mat-icon matChipRemove class="zmdi zmdi-close-circle" (click)="deleteFilterFromItem(filter,index)"></mat-icon>
    </mat-chip>
</mat-chip-list>

<hr>

<div class="row" *ngIf="filters.length >0">
    <div class="col">
        <p class="bold text-center">{{ filters.length }} - {{ filtersTableText.filtersFound }}</p>
    </div>
    <div class="col">
        <p class="bold text-center">{{ selectedFilters.length }} - {{ filtersTableText.filtersSelected }}</p>
    </div>
</div>
<div class="data-table" *ngIf="filters.length >0">
    <table class="table data-table__header table-hover">
        <thead>
            <tr class="table text-center">
                <th>{{ tableColumns.filter_position }}</th>
                <th>{{ tableColumns.filter_group }}</th>
                <th>{{ tableColumns.filter_value }}</th>
                <th class="text-center">
                    <input type="checkbox" (change)="applyChangesToList(allChecked)" [(ngModel)]="allChecked">
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="text-center" *ngFor="let filter of filters; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ filter.filter_group_name }}</td>
                <td>{{ filter.filter_value }}</td>
                <td>
                    <input type="checkbox" (change)="getSelectedItems()" [(ngModel)]="filter.is_checked">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<div class="row btn-demo justify-content-center">
    <button *ngIf="selectedFilters.length > 0" type="submit" class="btn btn-primary btn--icon-text"
        (click)="saveFilters()">
        <i class="zmdi zmdi-floppy"></i>{{ filtersTableText.saveButton }}
    </button>

    <button class="btn btn-danger btn--icon-text" (click)="closeModal()">
        <i class="zmdi zmdi-close"></i>{{ filtersTableText.cancelButton }}
    </button>
</div>