<div class="row">
    <div class="col text-center">
        <div class="bold">{{ invoiceHeaderText.invoiceNumber }}</div>
        <div>{{ currentInvoice.invoice_number }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ invoiceHeaderText.ocNumber }}</div>
        <div>{{ currentInvoice.order_confirmation_number }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ invoiceHeaderText.invoiceClient }}</div>
        <div>{{ currentInvoice.client_name | limitTo:[20, '...'] }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ invoiceHeaderText.invoiceStatus }}</div>
        <div *ngIf="currentInvoice.invoice_state == 0">{{ invoiceHeaderText.statusPaid }}</div>
        <div *ngIf="currentInvoice.invoice_state == 1">{{ invoiceHeaderText.statusNotPaid }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ invoiceHeaderText.invoiceItems }}</div>
        <div>{{ itemsInInvoice }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ invoiceHeaderText.invoiceProject }}</div>
        <div>{{ currentInvoice.order_confirmation_number }}</div>
    </div>
    <!-- input to import excel document -->
    <input type="file" (change)="onFileChange($event)" id="i-input" style="display:none" accept=".xlsx,.xls,.csv" />
    <div class="col-1 text-center" *ngIf="showMenu">
        <i mat-button [matMenuTriggerFor]="invoiceHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
        <mat-menu #invoiceHeaderMenu="matMenu">
            <button [disabled]="zeroInvoices || !openInvoicesView" mat-menu-item class="dropdown-item" (click)="searchForItems()">
                <i class="zmdi zmdi-stop"></i>
                {{ invoiceHeaderText.insertItems }}
            </button>
            <button [disabled]="zeroInvoices || !openInvoicesView" mat-menu-item class="dropdown-item" (click)="searchForAssemblies()">
                <i class="zmdi zmdi-delicious"></i> {{ invoiceHeaderText.insertAssemblies }}
            </button>
            <button [disabled]="zeroInvoices || !openInvoicesView" mat-menu-item class="dropdown-item" (click)="openFileBrowser()">
                <i class="zmdi zmdi-upload"></i>
                {{ invoiceHeaderText.uploadExcel }}
            </button>
            <button [disabled]="zeroInvoices" mat-menu-item class="dropdown-item" (click)="downloadExcelInvoice()">
                <i class="zmdi zmdi-download"></i> {{ invoiceHeaderText.downloadExcelFile }}
            </button>
            <button [disabled]="zeroInvoices" mat-menu-item class="dropdown-item" (click)="generatePdfReport()">
                <i class="zmdi zmdi-download"></i>
                {{ invoiceHeaderText.downloadPdfFile }}
            </button>
        </mat-menu>
    </div>
</div>