<div class="card">
	<div class="card-body">
		<small class="text-primary">
			<p>{{ offerFormText.requiredFieldsMessage }}</p>
		</small>
		<form #offerForm="ngForm">
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{ offerFormText.offerNumber }}" [(ngModel)]="currentOffer.offer_number" name="ofN"
						 readonly required>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ offerFormText.client }}" [(ngModel)]="currentOffer.client_name" (selectionChange)="callClientContacts()"
						 required name="clientName">
							<mat-option *ngFor="let client of clients.clients_names" [value]="client">{{ client }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ offerFormText.clientContact }}" [(ngModel)]="currentOffer.contact" required name="contact">
							<mat-option *ngFor="let contact of client_contacts.contacts_complete_names" [value]="contact">{{ contact }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ offerFormText.paymentMethod }}" [(ngModel)]="currentOffer.payment_method_name" required name="pmn">
							<mat-option [value]="method" *ngFor="let method of paymentMethods.payment_methods_names">{{ method }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ offerFormText.paymentConditions }}" [(ngModel)]="currentOffer.payment_condition_description"
						 required name="pcd">
							<mat-option [value]="condition" *ngFor="let condition of paymentConditions.payment_conditions_descriptions">{{ condition }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ offerFormText.wayOfDelivery }}" [(ngModel)]="currentOffer.delivery_method_name" required name="dmn">
							<mat-option [value]="deliveryMethod" *ngFor="let deliveryMethod of deliveryMethods.delivery_methods_names
							">{{ deliveryMethod }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ offerFormText.deliveryConditions }}" [(ngModel)]="currentOffer.delivery_condition_description"
						 required name="dcd">
							<mat-option [value]="deliveryCondition" *ngFor="let deliveryCondition of deliveryConditions.delivery_conditions_descriptions">{{ deliveryCondition }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ offerFormText.offerVATValue }}" [(ngModel)]="currentOffer.vat_percentage" required name="vatPercentage">
							<mat-option [value]="vat" *ngFor="let vat of vats">{{ vat }} %</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
						<mat-form-field class="full-width">
							<input matInput [matDatepicker]="pickerExpiration" placeholder="{{ offerFormText.expirationDate }}" [(ngModel)]="currentOffer.offer_expiration_date"
							 name="expirationDate" required>
							<mat-datepicker-toggle matSuffix [for]="pickerExpiration"></mat-datepicker-toggle>
							<mat-datepicker touchUi="true" #pickerExpiration></mat-datepicker>
						</mat-form-field>
					</div>

				<div class="col">
					<mat-form-field class="full-width">
						<input matInput [matDatepicker]="pickerDelivery" placeholder="{{ offerFormText.deliveryDate }}" [(ngModel)]="currentOffer.offered_delivery_date"
						 name="deliveryDate" required>
						<mat-datepicker-toggle matSuffix [for]="pickerDelivery"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #pickerDelivery></mat-datepicker>
					</mat-form-field>
				</div>

			</div>
			<br>

			<div class="row btn-demo justify-content-center">
				<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveOffer()" [disabled]="!offerForm.form.valid">
					<i class="zmdi zmdi-floppy"></i>{{ offerFormText.saveButton }}</button>

				<button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
					<i class="zmdi zmdi-close"></i>{{ offerFormText.cancelButton }}</button>
			</div>

		</form>

	</div>
</div>