<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10 text-center  align-middle">
				<span class="table_title align-middle">{{ itemsInStockText.title }}</span>
			</div>
			<div class="col-1 text-center">
				<i mat-button [matMenuTriggerFor]="mainBoardColumnsTableMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #mainBoardColumnsTableMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="editTableColumns()">
						<i class="zmdi zmdi-edit"></i> {{ itemsInStockText.editTableColumns }}
					</button>
				</mat-menu>
			</div>
		</div>
		<br>
		<div class="data-table">
			<table class="table data-table__header table-hover">
				<thead>
					<tr class="table">
						<th class="text-center">{{ tableColumns.item_code }}</th>
						<th class="text-center">{{ tableColumns.item_name }}</th>
						<th class="text-center">{{ tableColumns.item_amount }}</th>
						<th class="text-center">{{ tableColumns.total_booked }}</th>
						<th class="text-center">{{ tableColumns.total_in_progress }}</th>
						<th class="text-center">{{ tableColumns.total_in_use }}</th>
						<th class="text-center">{{ tableColumns.item_neto }}</th>
						<th class="text-center">{{ tableColumns.total_expected }}</th>
						<th class="text-center">{{ itemsInStockText.options }} </th>
					</tr>
				</thead>

				<tbody>
					<tr class="text-center" *ngFor="let item of items; let index = index">
						<td>{{ item.item_code | limitTo:[25, '...'] }}</td>
						<td>{{ item.item_name | limitTo:[30, '...'] }}</td>
						<td>{{ item.item_amount | currency: companyCurrency:"":"1.1-1":currentLanguage }}</td>
						<td>{{ item.total_booked | currency: companyCurrency:"":"1.1-1":currentLanguage}}</td>
						<td>{{ item.total_in_progress | currency: companyCurrency:"":"1.1-1":currentLanguage}}</td>
						<td>{{ item.total_in_use | currency: companyCurrency:"":"1.1-1":currentLanguage }}</td>
						<td>{{ item.item_neto | currency: companyCurrency:"":"1.1-1":currentLanguage}}</td>
						<td>{{ item.total_expected | currency: companyCurrency:"":"1.1-1":currentLanguage }}</td>
						<td [matMenuTriggerFor]="menu">
							<i mat-button class="zmdi zmdi-more-vert"></i>
							<mat-menu #menu="matMenu">
								<button mat-menu-item class="dropdown-item" (click)="editItem(item)">
									<i class="zmdi zmdi-edit"></i>{{ itemsMenuText.editItem }}
								</button>
								<button mat-menu-item class="dropdown-item" (click)="searchForLabels(item,index)">
									<i class="zmdi zmdi-label"></i>{{ itemsMenuText.addTagsToItem }}
								</button>
								<button mat-menu-item class="dropdown-item" (click)="openItemDetails(item)">
									<i class="zmdi zmdi-info-outline" aria-hidden="true"></i>{{ itemsMenuText.itemDetails }}
								</button>
								<button mat-menu-item class="dropdown-item" (click)="showItemDetailedCosts(item)">
									<i class="zmdi zmdi-money-box" aria-hidden="true"></i>{{ itemsMenuText.itemActivitiesCosts }}
								</button>
								<button mat-menu-item class="dropdown-item" (click)="deleteItem(item,index)">
									<i class="zmdi zmdi-delete"></i>{{ itemsMenuText.deleteItem }}
								</button>
							</mat-menu>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>