<div class="card">
    <div class="listview__header ">
        {{ deliveryConditionsListText.title }}
        <div class="actions">
            <i class="actions__item zmdi zmdi-plus" (click)="startNewDeliveryCondition()"></i>
        </div>
    </div>

    <app-delivery-condition-form *ngIf="editDeliveryCondition || newDeliveryCondition" [currentDeliveryCondition]="deliveryMethodToHandle"
        [editDeliveryCondition]="editDeliveryCondition" [newDeliveryCondition]="newDeliveryCondition" (closeForm)="forgetActions($event)">
    </app-delivery-condition-form>

    <div class="listview listview--hover listview--bordered">
        <div *ngFor="let dc of deliveryConditions ; let index = index" class="listview__item listview__item--hover">
            <div class="listview__content">
                <h3 class="listview__heading">{{ dc.delivery_condition_description }} </h3>
            </div>
            <div *ngIf="!(dc.company_id == 'LaBitacora')" class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="dcListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #dcListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditDeliveryCondition(dc)">
                        <i class="zmdi zmdi-edit"></i> {{ deliveryConditionsListText.editDeliveryCondition }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="deleteDeliveryCondition(dc,index)">
                        <i class="zmdi zmdi-delete"></i> {{ deliveryConditionsListText.deleteDeliveryCondition }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>