<p *ngIf="!editFilterValue" class="modal_title text-center">{{currentFilterGroup.filter_group_name}} -- {{filterValueFormText.modalTitleCreate}}</p>
<p *ngIf="editFilterValue" class="modal_title text-center">{{currentFilterGroup.filter_group_name}} -- {{filterValueFormText.modalTitleUpdate}}</p>
<hr>
<br>
<form #fvForm="ngForm">
	<div class="row">
		<div class="col">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{filterValueFormText.filterValue}}" [(ngModel)]="currentFilterValue.filter_value"
				 name="filterValue" required #filterValue="ngModel">
				 <mat-error *ngIf="filterValue.errors?.required">
					{{ filterValueFormText.errorRequired }}
				</mat-error>
			</mat-form-field>
		</div>
	</div>
	<br>
	<div class="row btn-demo justify-content-center">
		<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveFilterValue()" [disabled]="!fvForm.form.valid">
			<i class="zmdi zmdi-floppy"></i>{{filterValueFormText.saveButton}}</button>

		<button class="btn btn-danger btn--icon-text" (click)="closeModal()">
			<i class="zmdi zmdi-close"></i>{{filterValueFormText.cancelButton}}</button>
	</div>
</form>