<div class="card">
	<div class="listview__header ">
		{{ locationsListText.locationsListTitle }}
		<div class="actions">
			<i class="actions__item zmdi zmdi-plus" (click)="startNewLocation()"></i>
		</div>
	</div>

	<app-location-form *ngIf="editLocation || newLocation" [currentLocation]="locationToHandle" [editLocation]="editLocation"
	 [newLocation]="newLocation" (closeForm)="forgetActions($event)">
	</app-location-form>

	<div class="listview listview--hover listview--bordered">
		<div *ngFor="let location of locations; let index = index" class="listview__item listview__item--hover">

			<div class="listview__content">
				<h3 class="listview__heading">{{ location.location_name }}</h3>
			</div>
			<div *ngIf="location.company_id !== 'LaBitacora'" class="actions listview__actions">
				<i mat-button [matMenuTriggerFor]="locationsListMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #locationsListMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="startEditLocation(location)">
						<i class="zmdi zmdi-edit"></i> {{ locationsListText.editLocation }}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="deleteLocation(location, index)">
						<i class="zmdi zmdi-delete"></i> {{ locationsListText.deleteLocation }}
					</button>
				</mat-menu>
			</div>
		</div>
	</div>
</div>
