<div class="card">
	<div class="card-body">
		<form #ibanForm="ngForm">
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{ ibanFormText.bankName.placeholder }}" [(ngModel)]="currentIban.bank_name" name="bankName"
						 required #bankName="ngModel">
						<mat-hint *ngIf="bankName.invalid">{{ ibanFormText.bankName.hint }}</mat-hint>
						<mat-error *ngIf="bankName.errors?.required">
							{{ ibanFormText.bankName.errorRequired }}
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input type=text matInput placeholder="{{ ibanFormText.iban.placeholder }}" [(ngModel)]="currentIban.iban" name="iban"
						 #iban="ngModel" minlength="16" maxlength="34" required>
						<mat-hint *ngIf="iban.invalid">{{ ibanFormText.iban.hint }}</mat-hint>
						<mat-error *ngIf="iban.errors?.required">
							{{ ibanFormText.iban.errorRequired }}
						</mat-error>
						<mat-error *ngIf="iban.errors?.minlength">
							{{ ibanFormText.iban.errorMinLength }}
						</mat-error>
						<mat-error *ngIf="iban.errors?.maxlength">
							{{ ibanFormText.iban.erronMaxLength }}
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{ ibanFormText.bic.placeholder }}" [(ngModel)]="currentIban.bic" name="bic"
						 required minlength="8" maxlength="11" #bic="ngModel">
						<mat-hint *ngIf="bic.invalid">{{ ibanFormText.bic.hint }}</mat-hint>
						<mat-error *ngIf="bic.errors?.required">
							{{ ibanFormText.bic.errorRequired }}
						</mat-error>
						<mat-error *ngIf="bic.errors?.minlength">
							{{ ibanFormText.bic.errorMinLength }}
						</mat-error>
						<mat-error *ngIf="bic.errors?.maxlength">
							{{ ibanFormText.bic.erronMaxLength }}
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<br>
			<div class="row btn-demo justify-content-center">
				<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveIban()" [disabled]="!ibanForm.form.valid">
					<i class="zmdi zmdi-floppy"></i>
					{{ ibanFormText.saveButton }}
				</button>

				<button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
					<i class="zmdi zmdi-close"></i>
					{{ ibanFormText.cancelButton }}
				</button>
			</div>
		</form>
	</div>
</div>