<section class="content">
	<div class="row">
		<div class="col-3">
				<app-employees-list [employees]="employees"></app-employees-list>
		</div>
		<div class="col-9">
			<app-company-card [sessionInfo]="sessionInfo"></app-company-card>
		</div>

	</div>
</section>