<div class="row">
	<div class="col-12">
		<form #rForm="ngForm">
		<h5 class="text-center">{{formText.title}}</h5>
		<hr>
		<h6>{{formText.resetPasswordText}}</h6>
		<br>
		<p>{{currentUser.user_name}} {{currentUser.user_last_name}}</p>
		<div>
			<mat-form-field class="full-width">
				<input matInput type="password" placeholder="{{formText.newPassword}}" [(ngModel)]="newPassword" 
				name="newPassword" #nPassword="ngModel" required>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="full-width">
				<input matInput type="password" placeholder="{{formText.confirmedPassword}}" [(ngModel)]="confirmedPassword" 
				name="confirmedPassword" #cnPassword = "ngModel" required>
			</mat-form-field>
		</div>
		<br>
		<button  class="btn btn-primary btn-block" (click)="setNewPassword()" 
		[disabled]="!rForm.form.valid || !(cnPassword.value == nPassword.value)">{{formText.saveButton}}</button>
		<p class="text-center">{{feedbackMsg}}</p>
	</form>
	</div>
</div>