<div class="row">
    <div class="col text-center">
        <div class="bold">{{ orderConfirmedHeaderText.orderConfirmationNumber }}</div>
        <div> {{ currentOrderConfirmation.order_confirmation_number }}</div>
    </div>
    <div *ngIf="currentOrderConfirmation.offer_number" class="col text-center">
        <div class="bold">{{ orderConfirmedHeaderText.offerNumber }}</div>
        <div> {{ currentOrderConfirmation.offer_number }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ orderConfirmedHeaderText.offerClient }}</div>
        <div>{{ currentOrderConfirmation.client_name | limitTo:[20, '...']  }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ orderConfirmedHeaderText.ocItems }}</div>
        <div>{{  itemsInOC  }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ orderConfirmedHeaderText.offerContact }}</div>
        <div>{{ currentOrderConfirmation.contact | limitTo:[20, '...']  }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ orderConfirmedHeaderText.contactTelephone }}</div>
        <div>{{ currentOrderConfirmation.contact_telephone }}</div>
    </div>
    <!-- input to import excel document -->
    <input type="file" (change)="onFileChange($event)" id="i-input" style="display:none" accept=".xlsx,.xls,.csv">
    <div class="col-1 text-center" *ngIf="showMenu">
        <i mat-button [matMenuTriggerFor]="offerHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
        <mat-menu #offerHeaderMenu="matMenu">
            <button [disabled]="zeroOC || !openOrdersConfirmedView" mat-menu-item class="dropdown-item" (click)="searchForItems()">
                <i class="zmdi zmdi-stop"></i> {{ orderConfirmedHeaderText.insertItems }}
            </button>
            <button [disabled]="zeroOC || !openOrdersConfirmedView" mat-menu-item class="dropdown-item" (click)="searchForAssemblies()">
                <i class="zmdi zmdi-delicious"></i> {{ orderConfirmedHeaderText.insertAssemblies }}
            </button>
            <button [disabled]="zeroOC || !openOrdersConfirmedView" mat-menu-item class="dropdown-item" (click)="openFileBrowser()">
                <i class="zmdi zmdi-upload"></i> {{ orderConfirmedHeaderText.uploadCsv }}
            </button>
            <button [disabled]="zeroOC" mat-menu-item class="dropdown-item" (click)="downloadExcelOC()">
                <i class="zmdi zmdi-download"></i> {{ orderConfirmedHeaderText.downloadExcelFile }}
            </button>
            <button [disabled]="zeroOC" mat-menu-item class="dropdown-item" (click)="generatePdfOC()">
                <i class="zmdi zmdi-download"></i> {{ orderConfirmedHeaderText.downloadPdfFile }}
            </button>
        </mat-menu>
    </div>
</div>