<div class="card">
	<div class="listview__header ">
		<span>{{filterGroupsListText.title}}</span>

		<div class="actions">
			<div class="actions__item">
				<i mat-button [matMenuTriggerFor]="filterGroupsHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #filterGroupsHeaderMenu="matMenu">
					<button  mat-menu-item class="dropdown-item" (click)="startNewFilterGroup()">
						<i class="zmdi zmdi zmdi-plus"></i> {{filterGroupsListText.newFilterGroup}}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="startSearch()">
						<i class="zmdi zmdi-search"></i> {{filterGroupsListText.searchFilterGroup}}
					</button>
				</mat-menu>
			</div>
		</div>
	</div>

	<div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{filterGroupsListText.searchFilterGroup}}" (keyup)="searchOrdersConfirmed()"
					[(ngModel)]="searchPattern">
					<mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>
    </div>

	<app-filter-group-form *ngIf="editFilterGroup || newFilterGroup" [currentFilterGroup]="filterGroupToHandle"
	 [editFilterGroup]="editFilterGroup" [newFilterGroup]="newFilterGroup" (useForm)="forgetActions($event)">
	</app-filter-group-form>

	<div class="listview listview--hover listview--bordered">
		<div *ngFor="let filter of filterGroups ; let index = index" class="listview__item listview__item--hover"
		 routerLinkActive="selected" [routerLink]="['/app/company/filters',filter.filter_group_id]"
		 [routerLinkActiveOptions]="{ __change_detection_hack__: [ filter_group_id ] }">

			<div class="listview__content">
				<h3 class="listview__heading">{{filter.filter_group_name}}</h3>
				<p>{{filter.client_name}}</p>
			</div>
			<div class="actions listview__actions" *ngIf="filter.company_id != 'LaBitacora'">
				<i mat-button [matMenuTriggerFor]="activitiesListMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #activitiesListMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="startEditFilterGroup(filter)">
						<i class="zmdi zmdi-edit"></i> {{filterGroupsListText.editFilterGroup}}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="deleteFilterGroup(filter, index)">
						<i class="zmdi zmdi-delete"></i> {{filterGroupsListText.deleteFilterGroup}}
					</button>
				</mat-menu>
			</div>
		</div>

	</div>

</div>