<div class="card">

    <div class="listview__header ">
        <span *ngIf="mainGroupsView">{{ groupsListText.mainGroups }}</span>
        <span *ngIf="!mainGroupsView">{{ groupsListText.subGroups }}</span>

        <div class="actions">
            <div class="actions__item">
                <i mat-button [matMenuTriggerFor]="groupsHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #groupsHeaderMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startNewGroup()">
                        <i class="zmdi zmdi zmdi-plus"></i> {{ groupsListText.newGroup}}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startSearch()">
                        <i class="zmdi zmdi-search"></i> {{ groupsListText.searchGroups }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ groupsListText.searchGroups }}" (keyup)="searchGroups()"
                    [(ngModel)]="searchPattern">
                    <mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <app-group-form *ngIf="editGroup || newGroup" [mainGroupsView]="mainGroupsView" [editGroup]="editGroup"
        [newGroup]="newGroup" [currentGroup]="groupToHandle" (closeForm)="forgetActions($event)">
    </app-group-form>

    <div  class="listview listview--hover listview--bordered">
        <div *ngFor="let group of groups; let i = index" class="listview__item listview__item--hover"
            routerLinkActive="selected" [routerLink]="['../../', group.assembly_id]"
            [routerLinkActiveOptions]="{ __change_detection_hack__: [ assembly_id] }">

            <div class="listview__content">
                <h3 class="listview__heading">{{ group.assembly_name | limitTo:[30, '...'] }}</h3>
                <p>{{ group.assembly_number | limitTo:[30, '...'] }}</p>
            </div>

            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="groupsListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #groupsListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditGroup(group)">
                        <i class="zmdi zmdi-edit"></i> {{ groupsListText.editGroup }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="deleteGroup(group,i)">
                        <i class="zmdi zmdi-delete"></i> {{ groupsListText.deleteGroup }}
                    </button>
                </mat-menu>
            </div>
        </div>

    </div>
</div>