<section class="content">
	<div class="row">
		<div class="col-3">
			<!-- <app-employees-list [employees]="employees"></app-employees-list> -->
		</div>
		<div class="col-3">
			<!-- <app-actvities-list></app-actvities-list> -->
		</div>

	</div>
</section>