<div class="row no-margin height-per-100">
    <div class="col-md-8 bg-img-login">
        <div class="center-horizontal-div">
            <h1 style="color:white;">IMAGEN DE PRUEBA</h1>
        </div>
    </div>
    <div class="col-md-4 bg-white padding-top-20">
        <div class="center-horizontal-div">
            <h5 class="text-center">{{formText.title}}</h5>
            <hr>
            <h6 class="mb-4">{{formText.rememberPasswordText}}</h6>
            <div class="mb-4">
                <mat-form-field class="full-width">
                    <input matInput placeholder="{{formText.inputEmail}}" [(ngModel)]="email">
                </mat-form-field>
            </div>
            <button *ngIf="!waiting" class="btn btn-primary btn-block" (click)="sendLink()">{{formText.sendRememberRequest}}</button>
            <mat-progress-bar mode="buffer" *ngIf="waiting"></mat-progress-bar>
            <p class="text-center mt-4">{{feedbackMsg}}</p>
            <p class="text-center mt-5">
                <a href="/#/auth/login">{{formText.login}}</a> | <a href="/#/auth/sign-up">{{formText.signUp}}</a>
            </p>
        </div>
    </div>
</div>
