<section class="content">
	<div class="row">
		<div class="col-3">
			<app-projects-list [projects]="projects"></app-projects-list>
		</div>
		<div class="col-9">
			<div class="card">
				<div class="card-body">
					<app-project-header [project]="selectedProject" [zeroProjects]="zeroProjects" [openProjectsView]="openProjectsView" [showMenu]="true">
					</app-project-header>
				</div>
			</div>
			<app-project-groups-list [project]="selectedProject"></app-project-groups-list>
		</div>
	</div>
</section>