<div class="card">
    <div class="card-body">
        <form #pcForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="{{paymentConditionFormText.pcDescription}}" [(ngModel)]="currentPaymentCondition.payment_condition_description"
                            name="pcDescription" required #pcDescription="ngModel"> </textarea>
                            <mat-error *ngIf="pcDescription.errors?.required">
                                {{ paymentConditionFormText.errorRequired }}
                            </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="row btn-demo justify-content-center">
                <button type="submit" class="btn btn-primary btn--icon-text" (click)="savePaymentCondition()" [disabled]="!pcForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{paymentConditionFormText.saveButton}}</button>

                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                    <i class="zmdi zmdi-close"></i>{{paymentConditionFormText.cancelButton}}</button>
            </div>
        </form>
    </div>
</div>