<p *ngIf="newItem" class="modal_title text-center">{{ itemFormText.modalTitleCreate }}</p>
<p *ngIf="editItem" class="modal_title text-center">{{ itemFormText.modalTitleUpdate }}</p>
<hr />
<p class="text-primary">{{ itemFormText.requiredFieldsMessage }}</p>
<br />
<form #itemForm="ngForm">
    <div class="row">
        <div class="col-3">
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="{{ itemFormText.itemCode }}" [(ngModel)]="currentItem.item_code" name="itemCode" required />
            </mat-form-field>
        </div>
        <div class="col-5">
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="{{ itemFormText.itemName }}" [(ngModel)]="currentItem.item_name" name="itemName" required />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input type="number" matInput placeholder="{{ itemFormText.itemAmount }}" [(ngModel)]="currentItem.item_amount" name="itemAmount" required />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select placeholder="{{ itemFormText.itemType }}" [(value)]="currentItem.item_type" name="itemType" required>
                    <mat-option [value]="i" *ngFor="let type of itemTypes; let i = index">{{ type }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <mat-form-field class="full-width">
                <input
                    type="text"
                    matInput
                    placeholder="{{ itemFormText.itemOrderNumber }}"
                    [(ngModel)]="currentItem.item_order_number"
                    name="itemOrderNumber"
                />
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="full-width">
                <input type="text" matInput placeholder="{{ itemFormText.itemBarcode }}" [(ngModel)]="currentItem.item_barcode" name="itemBarcode" />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <mat-select
                    placeholder="{{ itemFormText.itemMaterial }}"
                    [(value)]="currentItem.item_material"
                    name="itemMaterial"
                    (selectionChange)="setMaterialId($event)"
                >
                    <mat-option [value]="material" *ngFor="let material of materials.material_names">{{ material }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input
                    type="text" appFormatCurrency
                    matInput minlength="1" maxlength="12"
                    placeholder="{{ itemFormText.itemBuyPrice }}"
                    [(ngModel)]="currentItem.item_buy_price_to_show"
                    name="itemBuyPrice"
                />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
				<input 
					type="text" appFormatCurrency 
					matInput minlength="1" maxlength="12"
					placeholder="{{ itemFormText.itemSellPrice }}" 
					[(ngModel)]="currentItem.item_sell_price_to_show" 
					name="itemSellPrice" 
				/>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <mat-form-field class="full-width">
                <mat-select
                    placeholder="{{ itemFormText.itemLocation }}"
                    [(ngModel)]="currentItem.location_name"
                    name="itemLocation"
                    (selectionChange)="setLocationId($event)"
                >
                    <mat-option [value]="location" *ngFor="let location of locations.location_names">{{ location }} </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-3" *ngIf="editItem">
            <mat-form-field class="full-width">
                <input
                    type="number"
                    matInput
                    placeholder="{{ itemFormText.lastPersonAmount }}"
                    [(ngModel)]="currentItem.last_amount_added"
                    name="lastPersonAmount"
                    readonly
                />
            </mat-form-field>
        </div>
        <div class="col-3" *ngIf="editItem">
            <mat-form-field class="full-width">
                <input
                    type="text"
                    matInput
                    placeholder="{{ itemFormText.itemLastUpdate }}"
                    [(ngModel)]="currentItem.last_update_to_show"
                    name="itemLastUpdate"
                    readonly
                />
            </mat-form-field>
        </div>
        <div class="col-3" *ngIf="editItem">
            <mat-form-field class="full-width">
                <input
                    type="text"
                    matInput
                    placeholder="{{ itemFormText.itemLastPerson }}"
                    [(ngModel)]="currentItem.last_user_complete_name"
                    name="itemLastPerson"
                    readonly
                />
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <textarea
                    matInput
                    placeholder="{{ itemFormText.itemDetails }}"
                    rows="5"
                    [(ngModel)]="currentItem.item_details"
                    name="itemInOrderDetails"
                ></textarea>
            </mat-form-field>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row btn-demo justify-content-center">
        <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveItem(currentItem)" [disabled]="!itemForm.form.valid">
            <i class="zmdi zmdi-floppy"></i>{{ itemFormText.saveButton }}
        </button>

        <button class="btn btn-danger btn--icon-text" (click)="closeModal()"><i class="zmdi zmdi-close"></i>{{ itemFormText.cancelButton }}</button>
    </div>
</form>
