<div class="card">
    <div class="listview__header ">
        {{ paymentMethodsListText.paymentMethodsTitle }}
        <div class="actions">
            <i class="actions__item zmdi zmdi-plus"  (click)="startNewPaymentMethod()"></i>
        </div>
    </div>
    <app-payment-method-form *ngIf="editPaymentMethod || newPaymentMethod" [currentPaymentMethod]="paymentMethodToHandle"
        [editPaymentMethod]="editPaymentMethod" [newPaymentMethod]="newPaymentMethod" (closeForm)="forgetActions($event)"></app-payment-method-form>
    <div class="listview listview--hover listview--bordered">
        <div *ngFor="let pm of paymentMethods ; let index = index" class="listview__item listview__item--hover">
            <div class="listview__content">
                <h3 class="listview__heading">{{ pm.payment_method_name }} </h3>
            </div>
            <div *ngIf="!(pm.company_id == 'LaBitacora')" class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="ibanListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #ibanListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditPaymentMethod(pm)">
                        <i class="zmdi zmdi-edit"></i> {{ paymentMethodsListText.editPaymentMethod }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="deletePaymentMethod(pm,index)">
                        <i class="zmdi zmdi-delete"></i> {{ paymentMethodsListText.deletePaymentMethod }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>