<div class="card">
	<div class="card-body">
			<small class="text-primary"><p>{{ providerFormText.requiredFieldsMessage }}</p></small>
		<form #providerForm="ngForm">
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{ providerFormText.providerName }}" [(ngModel)]="currentProvider.provider_name" name="providerName" required>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{ providerFormText.providerAddress }}" [(ngModel)]="currentProvider.provider_address" name="providerAddress" required>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{ providerFormText.providerTelephone }}" [(ngModel)]="currentProvider.provider_telephone" name="Telephone" required>
					</mat-form-field>
				</div>

			</div>
			<br>
			<div class="row btn-demo justify-content-center">
				<button  class="btn btn-primary btn--icon-text" (click)="saveProvider()" [disabled]="!providerForm.form.valid">
					<i class="zmdi zmdi-floppy"></i>{{ providerFormText.saveButton }}</button>

				<button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
					<i class="zmdi zmdi-close"></i>{{ providerFormText.cancelButton }}</button>
			</div>

		</form>

	</div>
</div>
