<div class="card">
    <div class="listview__header">
        {{ documentsListText.documentsListTitle }}
    </div>

    <app-document-form *ngIf="editDocument" (updatedDocument)="updateDocument($event)" [currentDocument]="documentToHandle">
    </app-document-form>

    <div class="listview listview--hover listview--bordered">
        <div *ngFor="let document of documents; let index = index" class="listview__item listview__item--hover">
            <div class="listview__content">
                <h3 class="listview__heading">{{ documentsListText[document.document_name] }} </h3>
                <p>{{ document.document_prefix }}{{ document.document_current_number }}</p>
            </div>

            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="documentsListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #documentsListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditDocument(document)">
                        <i class="zmdi zmdi-edit"></i> {{ documentsListText.editDocument }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>