<div class="card">
	<div class="listview__header ">
		{{ ibansListText.ibansListTitle }}
		<div class="actions">
			<i class="actions__item zmdi zmdi-plus"  (click)="startNewIban()"></i>
		</div>
	</div>

	<app-iban-form *ngIf="editIban || newIban" [currentIban]="ibanToHandle" [editIban]="editIban" [newIban]="newIban" (closeForm)="forgetActions($event)">
	</app-iban-form>

	<div class="listview listview--hover listview--bordered">
		<div *ngFor="let iban of ibans; let index = index" class="listview__item listview__item--hover">
			<div class="listview__content">
				<h3 class="listview__heading">{{ iban.bank_name }} </h3>
				<p>IBAN : {{ iban.iban }}</p>
				<p>BIC : {{ iban.bic }}</p>
			</div>

			<div class="actions listview__actions">
				<i mat-button [matMenuTriggerFor]="ibansListMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #ibansListMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="startEditIban(iban)">
						<i class="zmdi zmdi-edit"></i> {{ ibansListText.editIban }}
					</button>
					<button  mat-menu-item class="dropdown-item" (click)="deleteIban(iban,index)">
						<i class="zmdi zmdi-delete"></i> {{ ibansListText.deleteIban }}
					</button>
				</mat-menu>
			</div>
		</div>
	</div>
</div>
