<div class="card">
    <div class="listview__header ">
        {{ deliveryMethodsListText.deliveryMethodsTitle }}
        <div class="actions">
            <i class="actions__item zmdi zmdi-plus" (click)="startNewDeliveryMethod()"></i>
        </div>
    </div>

    <app-delivery-method-form *ngIf="editDeliveryMethod || newDeliveryMethod" [currentDeliveryMethod]="deliveryMethodToHandle"
        [editDeliveryMethod]="editDeliveryMethod" [newDeliveryMethod]="newDeliveryMethod" (closeForm)="forgetActions($event)"></app-delivery-method-form>

    <div class="listview listview--hover listview--bordered">
        <div *ngFor="let dm of deliveryMethods ; let index=index" class="listview__item listview__item--hover">
            <div class="listview__content">
                <h3 class="listview__heading">{{ dm.delivery_method_name }} </h3>
            </div>
            <div *ngIf="!(dm.company_id == 'LaBitacora')" class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="ibanListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #ibanListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditDeliveryMethod(dm)">
                        <i class="zmdi zmdi-edit"></i> {{ deliveryMethodsListText.editDeliveryMethod }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="deleteDeliveryMethod(dm,index)">
                        <i class="zmdi zmdi-delete"></i> {{ deliveryMethodsListText.deleteDeliveryMethod }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>