<div class="card">
	<div class="card-body">
		<form #groupForm="ngForm">
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{pdGroupFormText.assemblyName}}" [(ngModel)]="currentGroup.assembly_name" name="assemblyName"
						 required>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{pdGroupFormText.assemblyNumber}}" [(ngModel)]="currentGroup.assembly_number" name="assemblyNumber"
						 required>
					</mat-form-field>
				</div>
			</div>
			<br>
			<div class="row btn-demo justify-content-center">
				<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveGroup()" [disabled]="!groupForm.form.valid">
					<i class="zmdi zmdi-floppy"></i>{{pdGroupFormText.saveButton}}</button>

				<button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
					<i class="zmdi zmdi-close"></i>{{pdGroupFormText.cancelButton}}</button>
			</div>

		</form>

	</div>
</div>