<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-center  align-middle">
                <span class="table_title align-middle">{{ itemsInGroupText.title }}</span>
            </div>
            <div class="col-1 text-center">
                <i mat-button [matMenuTriggerFor]="itemsInGroupTableMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #itemsInGroupTableMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="editTableColumns()">
                        <i class="zmdi zmdi-plus"></i> {{ itemsInGroupText.editTableColumns }}
                    </button>
                </mat-menu>
            </div>
        </div>
        <br />
        <div class="data-table">
            <table class="table data-table__header table-hover">
                <thead>
                    <tr class="table">
                        <th class="text-center">{{ tableColumns.item_position }}</th>
                        <th class="text-center">{{ tableColumns.item_type }}</th>
                        <th class="text-center">{{ tableColumns.item_code }}</th>
                        <th class="text-center">{{ tableColumns.item_name }}</th>
                        <th class="text-center">{{ tableColumns.item_amount }}</th>
                        <th class="text-center">{{ itemsInGroupText.options }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="text-center" *ngFor="let item of items; let index = index">
                        <td>{{ index + 1 }}</td>
                        <td>
                            <i *ngIf="item.item_type == 'item'" class="zmdi zmdi-stop"></i>
                            <i
                                *ngIf="item.item_type == 'assembly'"
                                routerLinkActive="selected"
                                [routerLink]="['/app/sub-groups/', item.item_id]"
                                class="zmdi zmdi-delicious"
                            ></i>
                        </td>
                        <td>{{ item.item_code | limitTo: [35, "..."] }}</td>
                        <td>{{ item.item_name | limitTo: [35, "..."] }}</td>
                        <td>{{ item.item_amount | currency : companyCurrency :'' :'1.1-1': currentLanguage }}</td>
                        <td>
                            <i *ngIf="item.item_type == 'item'" class="zmdi zmdi-edit" (click)="editItem(item)"></i>&nbsp;&nbsp;
                            <i *ngIf="item.item_type == 'assembly'">&nbsp;&nbsp;&nbsp;</i>
                            <i class="zmdi zmdi-delete" (click)="deleteRow(item, index)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
