<div class="card">
	<div class="text-center">{{documentFormText[currentDocument.document_name]}}</div>
	<div class="card-body">
		<form #documentForm="ngForm">
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{documentFormText.documentPrefix}}" [(ngModel)]="currentDocument.document_prefix"
						 name="docPrefix">
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{documentFormText.documentCurrentNumber}}" [(ngModel)]="currentDocument.document_current_number"
						 name="docCurrentNumber" #docCurrentNumber="ngModel" required>
						 <mat-error *ngIf="docCurrentNumber.errors?.required">
                            {{ documentFormText.errorRequired }}
                        </mat-error>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<textarea rows="4" matInput placeholder="{{documentFormText.documentContextText}}" [(ngModel)]="currentDocument.document_context_text"
						 name="docContextText">
						</textarea>
					</mat-form-field>
				</div>
			</div>
			<br>
			<div class="row btn-demo justify-content-center">
				<button type="submit" class="btn btn-primary btn--icon-text" (click)="updateDocument()" [disabled]="!documentForm.form.valid">
					<i class="zmdi zmdi-floppy"></i>{{documentFormText.saveButton}}</button>
				<button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
					<i class="zmdi zmdi-close"></i>{{documentFormText.cancelButton}}</button>
			</div>
		</form>
	</div>
</div>