<section class="content">
	<div class="row">
		<div class="col-3">
			<app-offers-list [offers]="offers"></app-offers-list>
		</div>
		<div class="col-9">
			<div class="card">
				<div class="card-body">
					<app-offer-header [zeroOffers]="zeroOffers" [openOffersView]="openOffersView" [currentOffer]="selectedOffer" [showMenu]="true">
					</app-offer-header>
				</div>
			</div>
			<app-items-in-offer-table [currentOffer]="selectedOffer"></app-items-in-offer-table>
		</div>
	</div>
</section>