<p class="modal_title text-center">{{ itemFormText.modalTitle }}</p>
<hr />
<p class="text-primary">{{ itemFormText.requiredFieldsMessage }}</p>
<form #itemForm="ngForm">
    <div class="row">
        <div class="col-3">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ itemFormText.itemCode }}" [(ngModel)]="currentItem.item_code" name="itemCode" readonly required />
            </mat-form-field>
        </div>
        <div class="col-3">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ itemFormText.itemOrderNumber }}" [(ngModel)]="currentItem.item_code" name="itemOrderNumber" readonly required />
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ itemFormText.itemName }}" [(ngModel)]="currentItem.item_name" name="itemName" readonly required />
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <mat-form-field class="full-width">
                <input
                    type="number"
                    matInput
                    placeholder="{{ itemFormText.itemAmount }}"
                    [(ngModel)]="currentItem.item_amount"
                    name="itemAmount"
                    (ngModelChange)="calculateTotalPrice()"
                    required
                />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input
                    type="text" appFormatCurrency
                    matInput minlength="1" maxlength="12"
                    placeholder="{{ itemFormText.itemBuyPrice }}"
                    [(ngModel)]="currentItem.item_buy_price_to_show"
                    name="itemBuyPrice"
                    (ngModelChange)="calculateTotalPrice()"
                    required
                />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ itemFormText.itemsTotalPrice }}" [(ngModel)]="currentItem.item_total_price" name="itemsTotalPrice" readonly />
            </mat-form-field>
        </div>
        <div class="col-2">
            <mat-form-field class="full-width">
                <input
                    matInput
                    placeholder="{{ itemFormText.itemReceivedAmount }}"
                    [(ngModel)]="currentItem.received_amount"
                    name="itemAmountDelivered"
                    required
                />
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ itemFormText.itemLastUser }}" [(ngModel)]="currentItem.last_user" name="itemLastUser" readonly />
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <textarea
                    matInput
                    placeholder="{{ itemFormText.itemInOrderDetails }}"
                    rows="5"
                    [(ngModel)]="currentItem.item_in_order_details"
                    name="itemInOrderDetails"
                ></textarea>
            </mat-form-field>
        </div>
    </div>
    <br />
    <div class="row btn-demo justify-content-center">
        <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveItem(currentItem)" [disabled]="!itemForm.form.valid">
            <i class="zmdi zmdi-floppy"></i>{{ itemFormText.saveButton }}
        </button>

        <button class="btn btn-danger btn--icon-text" (click)="closeModal()"><i class="zmdi zmdi-close"></i>{{ itemFormText.cancelButton }}</button>
    </div>
</form>
