<div class="row no-margin height-per-100">
        <div class="col-md-4 bg-white padding-top-20">
                <div class="center-horizontal-div">
						<h5 class="text-center">{{confirmationPageText.title}}</h5>
						<hr>
						<h6>{{successMeassage}}</h6>
						<br>
						<div>
						<a	href="/#/auth/login"><button  class="btn btn-primary btn-block" > {{confirmationPageText.loginButton}}</button></a>
						</div>
						<br>
						<p class="text-center text-danger">{{errorMessage}}</p>
                </div>
            </div>
    <div class="col-md-8 bg-img-login">
        <div class="center-horizontal-div">
            <h1 style="color:white;">IMAGEN DE PRUEBA</h1>
        </div>
    </div>
</div>
