<div class="card">
    <div class="card-body">
        <form #pmForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea matInput placeholder="{{deliveryMethodFormText.dmName}}" [(ngModel)]="currentDeliveryMethod.delivery_method_name"
                            name="dmName" #dmName="ngModel" required> </textarea>
                            <mat-error *ngIf="dmName.errors?.required">
                                {{ deliveryMethodFormText.errorRequired }}
                            </mat-error>
                    </mat-form-field>
                    
                </div>
            </div>
            <br>
            <div class="row btn-demo justify-content-center">
                <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveDeliveryMethod()" [disabled]="!pmForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{deliveryMethodFormText.saveButton}}</button>
                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                    <i class="zmdi zmdi-close"></i>{{deliveryMethodFormText.cancelButton}}</button>
            </div>
        </form>
    </div>
</div>