<section class="content">
	<div class="row">
		<div class="col-3">
			<app-invoices-list [invoices]="invoices"></app-invoices-list>
		</div>
		<div class="col-9">
			<div class="card">
				<div class="card-body">
					<app-invoice-header [currentInvoice]="selectedInvoice" [zeroInvoices]="zeroInvoices" [openInvoicesView]="openInvoicesView" [showMenu]="true">
					</app-invoice-header>
				</div>
			</div>
			<app-items-in-invoice-table [currentInvoice]="selectedInvoice"></app-items-in-invoice-table>
		</div>
	</div>
</section>