<div class="row">
	<div class="col text-center">
		<div class="bold">{{ groupHeaderText.assemblyName }}</div>
		<div class="second">{{ currentGroup.assembly_name }}</div>
	</div>

	<div class="col text-center">
		<div class="bold">{{ groupHeaderText.assemblyNumber }}</div>
		<div class="second">{{ currentGroup.assembly_number }}</div>
	</div>

	<div class="col text-center">
		<div class="bold">{{ groupHeaderText.assemblyItems }}</div>
		<div class="second">{{ itemsInAssembly }}</div>
	</div>
	<div class="col text-center">
		<div class="bold">{{ groupHeaderText.subAssembliesInAssemblies }}</div>
		<div class="second">{{ subAssembliesInAssembly }}</div>
	</div>

	<div class="col text-center">
		<div class="bold">{{ groupHeaderText.completedPorcentage }}</div>
		<div class="second">{{ currentGroup.percentage_completed | limitTo:['4','%'] }} </div>
	</div>
	<!-- input to import excel document -->
	<div class="col-1 text-center" *ngIf="showMenu">
		<input type="file" (change)="onFileChange($event)" id="i-input" style="display:none" accept=".xlsx,.xls,.csv">
		<i mat-button [matMenuTriggerFor]="pdHeaderListMenu" class="actions__item zmdi zmdi-more-vert"></i>
		<mat-menu #pdHeaderListMenu="matMenu">
			<button mat-menu-item class="dropdown-item" (click)="searchForItems()">
				<i class="zmdi zmdi-stop"></i> {{ groupHeaderText.insertItems }}
			</button>
			<button mat-menu-item class="dropdown-item" (click)="searchForSubAssemblies()">
				<i class="zmdi zmdi-delicious"></i> {{ groupHeaderText.insertSubAssemblies }}
			</button>
			<button mat-menu-item class="dropdown-item" (click)="openFileBrowser()">
				<i class="zmdi zmdi-upload"></i> {{ groupHeaderText.uploadExcel }}
			</button>
		</mat-menu>
	</div>
</div>