<div class="card">
	<div class="listview__header ">
		{{ providersListText.title }}
		<div class="actions">
			<div class="actions__item">
				<i mat-button [matMenuTriggerFor]="providersHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #providersHeaderMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="startNewProvider()">
						<i class="zmdi zmdi zmdi-plus"></i> {{ providersListText.newProvider }}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="startSearch()">
						<i class="zmdi zmdi-search"></i> {{ providersListText.searchProviders }}
					</button>
				</mat-menu>
			</div>
		</div>
	</div>

	<div *ngIf="showSearch" class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{ providersListText.searchProviders }}" (keyup)="searchProviders()"
					[(ngModel)]="searchPattern">
					<mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
			</mat-form-field>
		</div>
	</div>

	<app-provider-form *ngIf="editProvider || newProvider" [editProvider]="editProvider" [newProvider]="newProvider"
		[currentProvider]="providerToHandle" (closeForm)="forgetActions()">
	</app-provider-form>

	<div class="listview listview--hover listview--bordered">
		<div *ngFor="let provider of providers; let index = index" class="listview__item listview__item--hover"
			routerLinkActive="selected" [routerLink]="['/app/company/providers', provider.provider_id]"
			[routerLinkActiveOptions]="{ __change_detection_hack__: [ provider_id] }">

			<div class="listview__content">
				<h3 class="listview__heading">{{ provider.provider_name | limitTo:[30, '...']  }}</h3>
				<p>{{ provider.provider_address | limitTo:[30, '...'] }}</p>
			</div>

			<div class="actions listview__actions">
				<i mat-button [matMenuTriggerFor]="providersListMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #providersListMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="startEditProvider(provider)">
						<i class="zmdi zmdi-edit"></i> {{ providersListText.editProvider }}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="deleteProvider(provider, index)">
						<i class="zmdi zmdi-delete"></i> {{ providersListText.deleteProvider }}
					</button>
				</mat-menu>
			</div>
		</div>
	</div>
</div>