.dropdown-item>i {
    margin: 10px;
    font-size: 15px;
}

.editable {
    font-weight: 900;
    text-decoration: underline;
    text-underline-position: under;
    padding: 2px;
}

.bold {
    font-weight: 500;
}

// material rules
.mat-form-field-label {
    height: stretch;
}

.mat-menu-item {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}
// input mat
.full-width {
    width: 100%;
}

.mat-dialog-container {
    color: #707070;
}

td>i {
    font-size: 1.2rem !important;
    margin: 4px !important;
    cursor: pointer !important;
    color: #707070 !important;
}

.table td {
    vertical-align: middle;
}

.table_title {
    text-transform: uppercase !important;
    vertical-align: middle;
}

.modal_title {
    text-transform: uppercase !important;
    vertical-align: middle;
}

// for list in every view
.selected {
    background-color: rgba(0, 0, 0, 0.03);
}

// for items in import-excel
.highlight {
    background-color: #f3f3f3;
}

// to make the import excel table display the information better
.import-table {
    height: 300px !important;
    display: block;
    overflow-y: scroll;
}

.table-fix-header {
    height: 48px;
    overflow-y: scroll;
    position: relative;
}

.x-small-col{
    width: 5%;
}
.small-col {
    width: 125px;
}
.medium-col {
    width: 250px;
}

// from demo csss
.btn-demo>.btn,
.btn-demo>.btn-group {
    margin: 0 10px 10px 0;
}


/*
* Login, Reset Password, Create Account
*/
html, body {
    height: 100%;
}

.height-per-100 {
    height: 100%;
}
.center-horizontal-div{
    width: 60%;
    margin: 0 auto;
}
.padding-top-20{
    padding-top: 20em;
}
.padding-top-10{
    padding-top: 10em;
}
.no-margin{
    margin: 0 !important;
}
.bg-img-login{
    background-image: url("http://wellworthsurgical.com/wp-content/uploads/parser/technology-background-images-1.png");
}

.alert-warning {
    vertical-align: center;
    text-align: center;
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.right{
position: relative;
right: 0;
}


/*
* End Login, Reset Password, Create Account
*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Functions
@import "../node_modules/bootstrap/scss/functions";
// Site + Bootstrap Variable and Mixins
@import "./assets/scss/variables";
@import "../node_modules/bootstrap/scss/variables";
@import "./assets/scss/mixins";
@import "./assets/scss/bootstrap-overrides/mixins";
@import "./assets/scss/bootstrap-imports";
// Site Styles
@import "./assets/scss/fonts";
@import "./assets/scss/generics";
@import "./assets/scss/base";
@import "./assets/scss/layout";
@import "./assets/scss/listview";
@import "./assets/scss/page-loader";
@import "./assets/scss/theme";
// Bootstrap Overrides
@import "./assets/scss/bootstrap-overrides/media";
@import "./assets/scss/bootstrap-overrides/progress";
@import "./assets/scss/bootstrap-overrides/card";
@import "./assets/scss/bootstrap-overrides/buttons";
@import "./assets/scss/bootstrap-overrides/tables";
// Vendor Overrides
@import "./assets/scss/vendor-overrides/perfect-scrollbar";
// App Global Styles
@import "./assets/scss/misc";
