<p class="modal_title text-center">{{itemsInOrdersTableColumnsText.modalTitle}}</p>

<hr>
<br>
<form #itemForm="ngForm">
	<div class="row">
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_position}}" [(ngModel)]="currentColumnsObj.item_position"
				 name="itemPosition" required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_code}}" [(ngModel)]="currentColumnsObj.item_code" name="itemCode"
				 required>
			</mat-form-field>
		</div>
		<!-- <div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_order_number}}" [(ngModel)]="currentColumnsObj.item_order_number"
				 name="itemOrderNumber" required>
			</mat-form-field>
		</div> -->
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_name}}" [(ngModel)]="currentColumnsObj.item_name" name="itemName"
				 required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_amount}}" [(ngModel)]="currentColumnsObj.item_amount"
				 name="itemAmount" required>
			</mat-form-field>
		</div>

	</div>

	<div class="row">

		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.received_amount}}" [(ngModel)]="currentColumnsObj.received_amount"
				 name="itemAmountDelivered" required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_buy_price}}" [(ngModel)]="currentColumnsObj.item_buy_price"
				 name="itemBuyPrice" required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_total_price}}" [(ngModel)]="currentColumnsObj.item_total_price"
				 name="itemsTotalPrice" required>
			</mat-form-field>
		</div>
	</div>
	<br>
	<div class="row btn-demo justify-content-center">
		<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveColumns()" [disabled]="!itemForm.form.valid">
			<i class="zmdi zmdi-floppy"></i>{{itemsInOrdersTableColumnsText.saveButton}}</button>
		<button class="btn btn-danger btn--icon-text" (click)="closeModal()">
			<i class="zmdi zmdi-close"></i>{{itemsInOrdersTableColumnsText.cancelButton}}</button>
	</div>
</form>