<section class="content">
	<div class="row">
		<div class="col-3">
			<app-clients-list [clients]="clients"></app-clients-list>
		</div>
		<div class="col-9">
			<div class="card">
				<div class="card-body">
					<app-client-header [client]="selectedClient" [showMenu]="true"></app-client-header>
				</div>
			</div>
			<app-client-contacts-table [client]="selectedClient"></app-client-contacts-table>
		</div>
	</div>
</section>