<div class="card">
    <div class="listview__header ">
        {{ employeesListText.title }}
        <div class="actions">
            <div class="actions__item">
                <i mat-button [matMenuTriggerFor]="groupsHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #groupsHeaderMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startNewEmployee()">
                        <i class="zmdi zmdi zmdi-plus"></i> {{ employeesListText.newEmployee }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startSearch()">
                        <i class="zmdi zmdi-search"></i> {{ employeesListText.searchEmployees }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ employeesListText.searchEmployees }}" (keyup)="searchEmployees()"
                    [(ngModel)]="searchPattern">
                    <mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <app-employees-form *ngIf="editEmployee || newEmployee" [currentEmployee]="employeeToHandle"
        [editEmployee]="editEmployee" [newEmployee]="newEmployee" (closeForm)="forgetActions($event)">
    </app-employees-form>

    <div class="listview listview--hover listview--bordered">
        <div *ngFor="let employee of employees; let index = index" class="listview__item listview__item--hover">

            <div class="listview__content">
                <h3 class="listview__heading">{{  employee.user_name  }} {{  employee.user_last_name  }}</h3>
                <p>{{  employee.user_email  }}</p>
            </div>
            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="employeesListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #employeesListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditEmployee(employee)">
                        <i class="zmdi zmdi-edit"></i> {{ employeesListText.editEmployee }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startResetPassword(employee)">
                        <i class="zmdi zmdi-refresh"></i> {{ employeesListText.resetPassword }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="deActivateEmployee(employee, index)">
                        <i class="zmdi zmdi-delete"></i> {{ employeesListText.deleteEmployee }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>