<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col text-center">
                <div class="bold">{{ dnHeaderText.deliveryNoteNumber }}</div>
                <div>{{ currentDeliveryNote.delivery_note_number }}</div>
            </div>
            <div class="col text-center">
                <div class="bold">{{ dnHeaderText.invoiceNumber }}</div>
                <div>{{ currentDeliveryNote.invoice_number }}</div>
            </div>
            <div class="col text-center">
                <div class="bold">{{ dnHeaderText.ocNumber }}</div>
                <div>{{ currentDeliveryNote.order_confirmation_number }}</div>
            </div>
            <div class="col text-center">
                <div class="bold">{{ dnHeaderText.deliveryNoteClient }}</div>
                <div>{{ currentDeliveryNote.client_name | limitTo:[20, '...'] }}</div>
            </div>
            <div class="col text-center">
                <div class="bold">{{ dnHeaderText.deliveryNoteDate}}</div>
                <div>{{ currentDeliveryNote.delivery_note_date | formatDate }}</div>
            </div>
            <div class="col-1 text-center">
                <i mat-button [matMenuTriggerFor]="deliveryNoteHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #deliveryNoteHeaderMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="generatePdfDeliveryNote()">
                        <i class="zmdi zmdi-download"></i>
                        {{ dnHeaderText.downloadPdfNote }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>