<div class="row">
    <div class="col-2 text-center">
        <div class="bold">{{ itemHeaderText.itemCode }}</div>
        <div class="second">{{ currentItem.item_code }}</div>
    </div>
    <div class="col-3 text-center">
        <div class="bold">{{ itemHeaderText.itemName }}</div>
        <div class="second">{{ currentItem.item_name }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ itemHeaderText.amountStock }}</div>
        <div class="second">{{ currentItem.item_amount | currency: "":"":"1.1-1":currentLanguage }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ itemHeaderText.amountRequired }}</div>
        <div class="second">{{ currentItem.total_booked | currency: "":"":"1.1-1":currentLanguage }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ itemHeaderText.amountInProgress }}</div>
        <div class="second">{{ currentItem.total_in_progress | currency: "":"":"1.1-1":currentLanguage }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ itemHeaderText.amountInUse }}</div>
        <div class="second">{{ currentItem.total_in_use | currency: "":"":"1.1-1":currentLanguage }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ itemHeaderText.amountExpected }}</div>
        <div class="second">{{ currentItem.total_expected | currency: "":"":"1.1-1":currentLanguage }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ itemHeaderText.amountNeto }}</div>
        <div class="second">{{ currentItem.item_neto | currency: "":"":"1.1-1":currentLanguage }}</div>
    </div>
</div>
