<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 text-center  align-middle">
                <span class="table_title align-middle">{{ itemsInDNText.title }}</span>
            </div>
            <div class="col-1 text-center">
            </div>
        </div>
        <br>
        <div class="data-table">
            <table class="table data-table__header table-hover">
                <thead>
                    <tr class="table">
                        <th class="text-center"> {{ tableColumns.item_position }}</th>
                        <th class="text-center"> {{ tableColumns.item_type }}</th>
                        <th class="text-center">{{ tableColumns.item_code }} </th>
                        <th class="text-left"> {{ tableColumns.item_name }}</th>
                        <th class="text-center"> {{ tableColumns.item_amount }}</th>
                        <th class="text-center"> {{ tableColumns.item_sell_price }}</th>
                        <th class="text-center"> {{ tableColumns.item_total_price }}</th>
                        <th class="text-center"> {{ itemsInDNText.options }} </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let item of items ; let index = index">
                        <td>
                            {{ index + 1 }}
                        </td>
                        <td>
							<i *ngIf="item.item_type == 'item'" class="zmdi zmdi-stop"></i>
							<i *ngIf="item.item_type == 'assembly'" class="zmdi zmdi-delicious"></i>
						</td>
                        <td>{{ item.item_code | limitTo:[25, '...'] }}</td>
                        <td class="text-left">
                            <span *ngIf="item.item_name">{{ item.item_name | limitTo:[25, '...'] }}<br></span>
                            <span *ngIf="item.item_material">{{ item.item_material | limitTo:[25, '...'] }}<br></span>
                            <span *ngIf="item.item_in_internal_document_details">{{ item.item_in_internal_document_details
                                | limitTo:[25,'...'] }}<br></span>
                            <span *ngIf="item.item_details">{{ item.item_details | limitTo:[25, '...'] }}<br></span>
                        </td>
                        <td>{{ item.item_amount | currency : companyCurrency :'symbol-narrow':"1.1-1":currentLanguage }}</td>
                        <td>{{ item.item_sell_price | currency : companyCurrency :'symbol-narrow':"":currentLanguage }}</td>
                        <td>{{ item.item_total_price | currency : companyCurrency :'symbol-narrow':"":currentLanguage }}</td>
                        <td>
                            <i class="zmdi zmdi-delete" (click)="deleteItem(item, index)"></i>
                        </td>
                    </tr>
                    <tr class="text-center highlight" *ngIf="items.length > 0">
                        <td></td>
                        <td></td>
                        <td><strong>{{ itemsInDNText.totalWithoutVAT }}</strong></td>
                        <td></td>
                        <td></td>
                        <td><strong>{{ companyCurrency }}</strong></td>
                        <td>{{ invoiceTotalFooter.subTotal | currency : companyCurrency :'symbol-narrow':"":currentLanguage }}</td>
                        <td></td>
                    </tr>
                    <tr class="text-center" *ngIf="items.length > 0">
                        <td></td>
                        <td></td>
                        <td>{{ currentDeliveryNote.vat_percentage }} % {{ itemsInDNText.vatFrom }}</td>
                        <td class="text-left">
                            {{ invoiceTotalFooter.subTotal | currency : companyCurrency :'symbol-narrow':"":currentLanguage }}</td>
                        <td></td>
                        <td>{{ companyCurrency }}</td>
                        <td>{{ invoiceTotalFooter.vat | currency : companyCurrency :'symbol-narrow':"":currentLanguage }}</td>
                        <td></td>
                    </tr>
                    <tr class="text-center highlight" *ngIf="items.length > 0">
                        <td></td>
                        <td></td>
                        <td> <strong>{{ itemsInDNText.totalWithVAT }}</strong> </td>
                        <td></td>
                        <td></td>
                        <td><strong>{{ companyCurrency }}</strong></td>
                        <td>{{ invoiceTotalFooter.total | currency : companyCurrency :'symbol-narrow':"":currentLanguage }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>