<p  class="modal_title text-center">{{ modalText.modalTitleItem }}</p>

<div class="row">
	<div class="col text-center">		
		<div  class="bold">{{ modalText.itemCode }}</div>
		<div class="second">{{ currentItem.item_code }}</div>
	</div>
	<div class="col text-center">	
		<div  class="bold">{{ modalText.itemName }}</div>
		<div class="second">{{ currentItem.item_name }}</div>
	</div>
	<div class="col text-center">		
		<div  class="bold">{{ modalText.itemAmount }}</div>
		<div class="second">{{ currentItem.item_amount }}</div>
	</div>
</div>
<hr>
<div class="data-table">
	<table class="table  data-table__header table-hover">
		<thead>
			<tr class="table text-center">
				<th class="small-col">{{ tableHeaderText.activity_position }}</th>
				<th class="small-col">{{ tableHeaderText.activity_name }}</th>
				<th class="small-col">{{ tableHeaderText.activity_date }}</th>
				<th class="small-col">{{ tableHeaderText.activity_person }}</th>
				<th class="small-col">{{ tableHeaderText.activity_duration }}</th>
				<th class="small-col">{{ tableHeaderText.hour_price }}</th>
				<th class="small-col">{{ tableHeaderText.activity_total_cost }}</th>
				<th class="small-col">{{ tableHeaderText.activity_percentage }}</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-center" *ngFor="let activity of activitiesResume; let i = index">
				<td class="small-col">{{ i+1 }}</td>
				<td class="small-col">{{ activity.activity_name }}</td>
				<td class="small-col ">{{ activity.activity_date | formatDate }}</td>
				<td class="small-col">{{ activity.activity_person }}</td>
				<td class="small-col">{{ activity.activity_duration }}</td>
				<td class="small-col">{{ activity.hour_price | currency : companyCurrency :'symbol-narrow' }}</td>
				<td class="small-col ">{{ activity.activity_total_cost | currency : companyCurrency :'symbol-narrow' }}</td>
				<td class="small-col ">{{ activity.activity_percentage }}</td>
			</tr>
			<tr class="text-center highlight" *ngIf="activitiesResume.length > 0">
                <td></td>
				<td></td>
				<td></td>
                <td></td>
				<td></td>
                <td>{{ modalText.activitiesTotalCost }}</td>
				<td>{{ totalActivitiesCost | currency : companyCurrency :'symbol-narrow'}}</td>
                <td>100 %</td>
            </tr>
		</tbody>
	</table>
</div>
<br>
<br>
