<div class="card">
	<div class="card-body">
		<small class="text-primary"><p>{{ invoiceFormText.requiredFieldsMessage }}</p></small>
		<form #invoiceForm="ngForm">
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{ invoiceFormText.invoiceNumber }}" [(ngModel)]="currentInvoice.invoice_number" name="invoiceNumber"
						 required readonly>
					</mat-form-field>
				</div>

				<div class="col" *ngIf="editInvoice && showCurrentOrderConfirmationWhileEdit">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{ invoiceFormText.currentOrderConfirmationNumber }}" [(ngModel)]="currentInvoice.order_confirmation_number" name="currentOrderConfirmationNumber" required>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ invoiceFormText.orderConfirmation }}" [(ngModel)]="currentInvoice.order_confirmation_number"
						 (selectionChange)="setDocument($event)" name="orderConfirmation" required>
							<mat-option [value]="order_confirmation_number" *ngFor="let order_confirmation_number of ordersConfirmed.orders_confirmation_numbers
							">{{ order_confirmation_number }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ invoiceFormText.client }}" [(ngModel)]="currentInvoice.client_name"
						 required name="clientName" disabled>
							<mat-option [value]="client_name" *ngFor="let client_name of clients.clients_names">{{ client_name }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ invoiceFormText.paymentMethod }}" [(ngModel)]="currentInvoice.payment_method_name"
						 required name="pmn" disabled>
							<mat-option [value]="method" *ngFor="let method of paymentMethods.payment_methods_names">{{ method }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ invoiceFormText.paymentConditions }}" [(ngModel)]="currentInvoice.payment_condition_description"
						 required name="pcd" disabled>
							<mat-option [value]="condition" *ngFor="let condition of paymentConditions.payment_conditions_descriptions">{{ condition }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ invoiceFormText.deliveryMethod }}" [(ngModel)]="currentInvoice.delivery_method_name"
						 required name="dmn" disabled>
							<mat-option [value]="deliveryMethod" *ngFor="let deliveryMethod of deliveryMethods.delivery_methods_names
							">{{ deliveryMethod }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<mat-select placeholder="{{ invoiceFormText.deliveryConditions }}" [(ngModel)]="currentInvoice.delivery_condition_description"
						 required name="dcd" disabled>
							<mat-option [value]="deliveryCondition" *ngFor="let deliveryCondition of deliveryConditions.delivery_conditions_descriptions">{{ deliveryCondition }}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div class="col">
					<mat-form-field class="full-width">
						<input matInput [matDatepicker]="pickerEmission" placeholder="{{ invoiceFormText.invoiceEmissionDate }}" [(ngModel)]="currentInvoice.invoice_emition_date"
						 name="emissionDate" required>
						<mat-datepicker-toggle matSuffix [for]="pickerEmission"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #pickerEmission></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput [matDatepicker]="pickerDelivery" placeholder="{{ invoiceFormText.invoiceDeliveryDate }}" [(ngModel)]="currentInvoice.invoice_delivery_date"
						 name="deliveryDate" required>
						<mat-datepicker-toggle matSuffix [for]="pickerDelivery"></mat-datepicker-toggle>
						<mat-datepicker touchUi="true" #pickerDelivery></mat-datepicker>
					</mat-form-field>
				</div>
			</div>
			<br>

			<div class="row btn-demo justify-content-center">
				<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveInvoice()" [disabled]="!invoiceForm.form.valid">
					<i class="zmdi zmdi-floppy"></i>{{ invoiceFormText.saveButton }}</button>

				<button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
					<i class="zmdi zmdi-close"></i>{{ invoiceFormText.cancelButton }}</button>
			</div>

		</form>

	</div>
</div>