<div class="card">
    <div class="listview__header ">
        <span>{{ deliveryNotesListText.deliveryNotes }}</span>
        <div class="actions">
            <div class="actions__item">
                <i mat-button [matMenuTriggerFor]="deliveryNotesHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #deliveryNotesHeaderMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startNewDeliveryNote()">
                        <i class="zmdi zmdi zmdi-plus"></i> {{ deliveryNotesListText.newDeliveryNote }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startSearch()">
                        <i class="zmdi zmdi-search"></i> {{ deliveryNotesListText.searchDeliveryNotes }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ deliveryNotesListText.searchDeliveryNotes }}" (keyup)="searchDeliveryNotes()" [(ngModel)]="searchPattern" />
                <mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <app-delivery-note-form
        *ngIf="editDeliveryNote || newDeliveryNote"
        (useForm)="forgetActions($event)"
        [editDeliveryNote]="editDeliveryNote"
        [newDeliveryNote]="newDeliveryNote"
        [currentDeliveryNote]="deliveryNoteToHandle"
    >
    </app-delivery-note-form>

    <div class="listview listview--hover listview--bordered">
        <div
            *ngFor="let dn of deliveryNotes; let last = last; let index = index"
            class="listview__item listview__item--hover"
            routerLinkActive="selected"
            [routerLink]="['/app/delivery-notes', dn.internal_document_id]"
            [routerLinkActiveOptions]="{ __change_detection_hack__: [dn_id] }"
        >
            <div class="listview__content">
                <h3 class="listview__heading">{{ dn.delivery_note_number }} - {{ dn.client_name | limitTo: [30, "..."] }}</h3>
                <p> {{ dn.invoice_number }} - {{ dn.order_confirmation_number }} </p>
                <p> {{ deliveryNotesListText.deliveryDate }} : {{ dn.delivery_note_date | formatDate  }} </p>
            </div>
            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="dnListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #dnListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditDeliveryNote(dn)">
                        <i class="zmdi zmdi-edit"></i> {{ deliveryNotesListText.editDeliveryNote }}
                    </button>
                    <button *ngIf="last" mat-menu-item class="dropdown-item" (click)="deleteDeliveryNote(dn, index)">
                        <i class="zmdi zmdi-delete"></i> {{ deliveryNotesListText.deleteDeliveryNote }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>
