<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10 text-center  align-middle">
				<span class="table_title align-middle">{{filterValuesTableText.title}}</span>
			</div>
			<div class="col-1 text-center">
			</div>
		</div>
		<br>
		<div class="data-table">
			<table class="table data-table__header table-hover">
				<thead>
					<tr class="table">
						<th class="text-center">
							{{tableColumns.position}}
						</th>
						<th class="text-center">
							{{tableColumns.filter_value}}
						</th>
						<th class="text-center">
							{{filterValuesTableText.options}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" *ngFor="let filterValue of filterValues; let index = index">
						<td>{{index+1}}</td>
						<td>{{filterValue.filter_value| limitTo:[35, '...'] }}</td>
						<td>
							<i class="zmdi zmdi-edit" (click)="editFilterValue(filterValue)"></i>&nbsp;&nbsp;
							<i class="zmdi zmdi-delete" (click)="deleteFilterValue(filterValue, index)"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>