<div class="card">
    <div class="card-body">
        <form #pmForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{paymentMethodFormText.pmName}}" [(ngModel)]="currentPaymentMethod.payment_method_name" name="pmName"
                        #pmName="ngModel" required>
                        <mat-error *ngIf="pmName.errors?.required">
                            {{ paymentMethodFormText.errorRequired }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div class="row btn-demo justify-content-center">
                <button type="submit" class="btn btn-primary btn--icon-text" (click)="savePaymentMethod()" [disabled]="!pmForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{paymentMethodFormText.saveButton}}</button>

                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                    <i class="zmdi zmdi-close"></i>{{paymentMethodFormText.cancelButton}}</button>
            </div>

        </form>
    </div>
</div>