<div class="card">
    <div class="card-body">
        <small class="text-primary"><p>{{ groupFormText.requiredFieldsMessage }}</p></small>
        <form #groupForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="{{ mainGroupsView ? groupFormText.assemblyName : groupFormText.subAssemblyName }}"
                         [(ngModel)]="currentGroup.assembly_name" name="assemblyName" required />
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="{{ mainGroupsView ?  groupFormText.assemblyNumber : groupFormText.subAssemblyNumber }}"
                            [(ngModel)]="currentGroup.assembly_number"
                            name="assemblyNumber" required
                        />
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="{{ groupFormText.assemblyBuyPrice }}"
                            [(ngModel)]="currentGroup.assembly_buy_price"
                            name="assemblyBuyPrice"
                        />
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            placeholder="{{ groupFormText.assemblySellPrice }}"
                            [(ngModel)]="currentGroup.assembly_sell_price"
                            name="assemblySellPrice"
                        />
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <textarea
                            rows="6"
                            matInput
                            placeholder="{{ groupFormText.assemblyDetails }}"
                            [(ngModel)]="currentGroup.assembly_details"
                            name="assemblyDetails"
                        >
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <br />

            <div class="row btn-demo justify-content-center">
                <button type="submit" class="btn btn-primary btn--icon-text" (click)="saveGroup()" [disabled]="!groupForm.form.valid">
                    <i class="zmdi zmdi-floppy"></i>{{ groupFormText.saveButton }}
                </button>

                <button class="btn btn-danger btn--icon-text" (click)="forgetActions()"><i class="zmdi zmdi-close"></i>{{ groupFormText.cancelButton }}</button>
            </div>
        </form>
    </div>
</div>
