<section class="content">
	<div class="row">
		<div class="col-3">
			<app-providers-list [providers]="providers"></app-providers-list>
		</div>
		<div class="col-9">
			<div class="card">
				<div class="card-body">
					<app-provider-header [provider]="selectedProvider" [showMenu]="true"></app-provider-header>
				</div>
			</div>
			<app-provider-contacts-table [provider]="selectedProvider"></app-provider-contacts-table>
		</div>
	</div>
</section>