<p class="modal_title text-center">{{ groupTableText.modalTitle }}</p>
<hr>
<app-project-header [project]="currentProject" [showMenu]=false>
	</app-project-header>
<hr>

<div class="row">
	<div class="col-6">
		<div class="bold text-center">{{ groupTableText.assembliesFound }}</div>
		<div class="text-center">{{ groups.length }} </div>
	</div>

	<div class="col-6">
		<div class="bold text-center">{{ groupTableText.itemsSelected }}</div>
		<div class="text-center">{{ selectedGroups.length }} </div>
	</div>
</div>
<br>
<div class="data-table">
	<table class="table data-table__header table-hover">
		<thead>
			<tr class="table">
				<th class="text-center">{{ groupTableText.assembly_name }}</th>
				<th class="text-center">{{ groupTableText.assembly_number }}</th>
				<th class="text-center">{{ groupTableText.items_in_assembly }}</th>
				<th class="text-center">{{ groupTableText.sub_assemblies_in_assembly }}</th>
				<th class="text-center">
					<input type="checkbox" (change)="applyChangesToList(allChecked)" [(ngModel)]="allChecked">
				</th>
			</tr>
		</thead>

		<tbody>
			<tr class="text-center" *ngFor="let group of groups; let i = index">

				<td>{{ group.assembly_name| limitTo:[35, '...'] }}</td>
				<td>{{ group.assembly_number | limitTo:[35, '...'] }}</td>
				<td>{{ group.items_in_assembly }}</td>
				<td>{{ group.sub_assemblies_in_assembly }}</td>
				<td>
					<input type="checkbox" (change)="getSelectedGroups()" [(ngModel)]="group.is_checked">
				</td>
			</tr>
		</tbody>
	</table>
</div>

<br>
<div class="row btn-demo justify-content-center">
	<button *ngIf="selectedGroups.length > 0" type="submit" class="btn btn-primary btn--icon-text" (click)="saveGroups()">
		<i class="zmdi zmdi-floppy"></i>{{ groupTableText.saveButton }}</button>

	<button class="btn btn-danger btn--icon-text" (click)="closeModal()">
		<i class="zmdi zmdi-close"></i>{{ groupTableText.cancelButton }}</button>
</div>