<div class="card">
    <div class="listview__header ">
        <span *ngIf="openInvoicesView">{{ invoicesListText.openInvoices }}</span>
        <span *ngIf="!openInvoicesView">{{ invoicesListText.closedInvoices }}</span>

        <div class="actions">
            <div class="actions__item">
                <i mat-button [matMenuTriggerFor]="invoicesHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #invoicesHeaderMenu="matMenu">
                    <button *ngIf="openInvoicesView" mat-menu-item class="dropdown-item" (click)="startNewInvoice()">
                        <i class="zmdi zmdi zmdi-plus"></i> {{ invoicesListText.newInvoice }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startSearch()">
                        <i class="zmdi zmdi-search"></i> {{ invoicesListText.searchInvoices }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ invoicesListText.searchInvoices }}" (keyup)="searchInvoices()" [(ngModel)]="searchPattern" />
                <mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <app-invoice-form
        *ngIf="editInvoice || newInvoice"
        [currentInvoice]="invoiceToHandle"
        [editInvoice]="editInvoice"
        [newInvoice]="newInvoice"
        (useForm)="forgetActions($event)"
    >
    </app-invoice-form>

    <div class="listview listview--hover listview--bordered">
        <div
            *ngFor="let invoice of invoices; let last = last; let index = index"
            class="listview__item listview__item--hover"
            routerLinkActive="selected"
            [routerLink]="['../../', invoice.internal_document_id]"
            [routerLinkActiveOptions]="{ __change_detection_hack__: [invoice_id] }"
        >
            <div class="listview__content">
                <h3 class="listview__heading">{{ invoice.invoice_number }} - {{ invoice.client_name | limitTo: [20, "..."] }}</h3>
                <p>{{ invoice.order_confirmation_number }}</p>
                <p>
                    <span> {{ invoicesListText.invoiceEmissionDate }} : {{ invoice.invoice_emition_date | formatDate  }} </span>
                    <span class="float-right"> {{ invoicesListText.invoiceDeliveryDate }} : {{ invoice.invoice_delivery_date | formatDate  }} </span>
                </p>
            </div>
            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="invoicesListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #invoicesListMenu="matMenu">
                    <button *ngIf="openInvoicesView" mat-menu-item class="dropdown-item" (click)="startEditInvoice(invoice)">
                        <i class="zmdi zmdi-edit"></i> {{ invoicesListText.editInvoice }}
                    </button>
                    <button *ngIf="last && openInvoicesView" mat-menu-item class="dropdown-item" (click)="deleteInvoice(invoice, index)">
                        <i class="zmdi zmdi-delete"></i> {{ invoicesListText.deleteInvoice }}
                    </button>
                    <button *ngIf="openInvoicesView" mat-menu-item class="dropdown-item" (click)="closeInvoice(invoice)">
                        <i class="zmdi zmdi-money-box"></i> {{ invoicesListText.closeInvoice }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>
