<div class="card">
    <div class="listview__header ">
        <span *ngIf="openOrdersView">{{ ordersListText.openOrders }}</span>
        <span *ngIf="!openOrdersView">{{ ordersListText.closedOrders }}</span>
        <div class="actions">
            <div class="actions__item">
                <i mat-button [matMenuTriggerFor]="ordersHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #ordersHeaderMenu="matMenu">
                    <button *ngIf="openOrdersView" mat-menu-item class="dropdown-item" (click)="startNewOrder()">
                        <i class="zmdi zmdi zmdi-plus"></i> {{ ordersListText.newOrder }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startSearch()">
                        <i class="zmdi zmdi-search"></i> {{ ordersListText.searchOrders }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    
    <div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ ordersListText.searchOrders }}" (keyup)="searchOrders()" [(ngModel)]="searchPattern" />
                <mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <app-order-form
        *ngIf="editOrder || newOrder"
        [currentOrder]="orderToHandle"
        [editOrder]="editOrder"
        [newOrder]="newOrder"
        (useForm)="forgetActions($event)"
    >
    </app-order-form>

    <div class="listview listview--hover listview--bordered">
        <div
            *ngFor="let order of orders; let lastOrder = last; let index = index"
            class="listview__item listview__item--hover"
            routerLinkActive="selected"
            [routerLink]="['../../', order.order_id]"
            [routerLinkActiveOptions]="{ __change_detection_hack__: [order_id] }"
        >
            <div class="listview__content">
                <h3 class="listview__heading">{{ order.order_number }} - {{ order.provider_name }}</h3>
                <p>{{ order.user_name }} {{ order.user_last_name }}</p>
                <p>{{ ordersListText.deliveryDate }} : {{ order.order_delivery_date | formatDate }}</p>
            </div>
            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="ordersListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #ordersListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditOrder(order)">
                        <i class="zmdi zmdi-edit"></i> {{ ordersListText.editOrder }}
                    </button>
                    <button *ngIf="lastOrder" mat-menu-item class="dropdown-item" (click)="deleteOrder(order, index)">
                        <i class="zmdi zmdi-delete"></i> {{ ordersListText.deleteOrder }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="closeOrder(order)">
                        <i class="zmdi zmdi-folder"></i> {{ ordersListText.closeOrder }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>
