<div class="card">
	<div class="card-body">
		<form #filterGroupForm="ngForm">
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{filterGroupFormText.filterGroupName}}" [(ngModel)]="currentFilterGroup.filter_group_name"
						 name="fgn" #fgn="ngModel" required>
						<mat-error *ngIf="fgn.errors?.required">
                            {{ filterGroupFormText.errorRequired }}
                        </mat-error>
					</mat-form-field>
				</div>
			</div>
			<br>
			<div class="row btn-demo justify-content-center">
				<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveFilterGroup()" [disabled]="!filterGroupForm.form.valid">
					<i class="zmdi zmdi-floppy"></i>{{filterGroupFormText.saveButton}}
				</button>
				<button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
					<i class="zmdi zmdi-close"></i>{{filterGroupFormText.cancelButton}}
				</button>
			</div>

		</form>

	</div>
</div>