<aside class="sidebar" [class.toggled]="sidebarVisible">
    <!-- sidebar--hidden -->
    <perfect-scrollbar>

        <div class="user" [matMenuTriggerFor]="userMenu">
            <div class="user__info">
                <div>
                    <div class="user__name">{{sessionInfo.user_name}} {{sessionInfo.user_last_name}}</div>
                    <div class="user__email">{{sessionInfo.user_email}}</div>
                </div>
            </div>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before">
                <button mat-menu-item class="dropdown-item" (click)="openProfileModal()">
                    <i class="zmdi zmdi-account-box"></i> {{navigationText.profile}}
                </button>
                <button mat-menu-item class="dropdown-item" (click)="logout()">
                    <i class="zmdi zmdi-mail-reply-all"></i> {{navigationText.logOut}}
                </button>
            </mat-menu>
        </div>

        <ul class="navigation">
            <li class="navigation__sub" [class.navigation__active]="isActive(['app/open-orders']) || isActive(['app/closed-orders'])">
                <a (click)="toggleNavigationSub('Orders', $event)">
                    <i class="zmdi zmdi-assignment"></i>{{navigationText.orders}}</a>

                <ul [@toggleHeight]="navigationSubState.Orders">
                    <li [class.navigation__active]="isActive(['app/open-orders'])">
                        <a [routerLink]="['./open-orders','0']">{{navigationText.openOrders}}</a>
                    </li>
                    <li [class.navigation__active]="isActive(['app/closed-orders'])">
                        <a [routerLink]="['./closed-orders','0']">{{navigationText.closedOrders}}</a>
                    </li>
                </ul>
            </li>

            <li class="navigation__sub" [class.navigation__active]="isActive(['app/open-projects']) || isActive(['app/closed-projects'])">
                <a (click)="toggleNavigationSub('Projects', $event)">
                    <i class="zmdi zmdi-view-compact"></i>{{navigationText.projects}}</a>

                <ul [@toggleHeight]="navigationSubState.Projects">
                    <li [class.navigation__active]="isActive(['app/open-projects'])">
                        <a [routerLink]="['./open-projects','0']">{{navigationText.openProjects}}</a>
                    </li>
                    <li [class.navigation__active]="isActive(['app/closed-projects'])">
                        <a [routerLink]="['./closed-projects','0']">{{navigationText.closedProjects}}</a>
                    </li>
                </ul>
            </li>

            <li class="navigation__sub" [class.navigation__active]="isActive(['app/main-groups']) || isActive(['app/sub-groups'])">
                <a (click)="toggleNavigationSub('Groups', $event)">
                    <i class="zmdi zmdi-view-module"></i>{{navigationText.groups}}</a>

                <ul [@toggleHeight]="navigationSubState.Groups">
                    <li [class.navigation__active]="isActive(['app/main-groups'])">
                        <a [routerLink]="['./main-groups','0']">{{navigationText.mainGroups}}</a>
                    </li>
                    <li [class.navigation__active]="isActive(['app/sub-groups'])">
                        <a [routerLink]="['./sub-groups','0']">{{navigationText.subGroups}}</a>
                    </li>
                </ul>
            </li>

            

            <li class="navigation__sub" [class.navigation__active]="isActive(['app/open-offers']) || isActive(['app/closed-offers'])">
                <a (click)="toggleNavigationSub('Offers', $event)">
                    <i class="zmdi zmdi-labels"></i>{{navigationText.offers}}</a>

                <ul [@toggleHeight]="navigationSubState.Offers">
                    <li [class.navigation__active]="isActive(['app/open-offers'])">
                        <a [routerLink]="['./open-offers','0']">{{navigationText.openOffers}}</a>
                    </li>
                    <li [class.navigation__active]="isActive(['app/closed-offers'])">
                        <a [routerLink]="['./closed-offers','0']">{{navigationText.closedOffers}}</a>
                    </li>
                </ul>
            </li>

            <li class="navigation__sub" [class.navigation__active]="isActive(['app/open-orders-confirmed']) || isActive(['app/closed-orders-confirmed'])">
                <a (click)="toggleNavigationSub('OrdersConfirmed', $event)">
                    <i class="zmdi zmdi-assignment-check"></i>{{navigationText.ordersConfirmed}}</a>

                <ul [@toggleHeight]="navigationSubState.OrdersConfirmed">
                    <li [class.navigation__active]="isActive(['app/open-orders-confirmed'])">
                        <a [routerLink]="['./open-orders-confirmed','0']">{{navigationText.openOrdersConfirmed}}</a>
                    </li>
                    <li [class.navigation__active]="isActive(['app/closed-orders-confirmed'])">
                        <a [routerLink]="['./closed-orders-confirmed','0']">{{navigationText.closedOrdersConfirmed}}</a>
                    </li>
                </ul>
            </li>

            <li class="navigation__sub" [class.navigation__active]="isActive(['app/open-invoices']) || isActive(['app/closed-invoices'])">
                <a (click)="toggleNavigationSub('Invoices', $event)">
                    <i class="zmdi zmdi-receipt"></i>{{navigationText.invoices}}</a>

                <ul [@toggleHeight]="navigationSubState.Invoices">
                    <li [class.navigation__active]="isActive(['app/open-invoices'])">
                        <a [routerLink]="['./open-invoices','0']">{{navigationText.openInvoices}}</a>
                    </li>
                    <li [class.navigation__active]="isActive(['app/closed-invoices'])">
                        <a [routerLink]="['./closed-invoices','0']">{{navigationText.closedInvoices}}</a>
                    </li>
                </ul>
            </li>

            <li [class.navigation__active]="isActive(['app/delivery-notes'])">
                <a [routerLink]="['./delivery-notes','0']">
                    <i class="zmdi zmdi-local-shipping"></i>{{navigationText.deliveryNotes}} </a>
            </li>

            <li routerLinkActive="navigation__active">
                <a [routerLink]="['./main-board']">
                    <i class="zmdi zmdi-city-alt"></i>{{navigationText.mainBoard}} </a>
            </li>

            <li class="navigation__sub" [class.navigation__active]="isActive(['app/company/information']) || isActive(['app/company/settings']) || isActive(['app/company/providers']) || isActive(['app/company/clients']) || isActive(['app/company/filters'])">

                <a (click)="toggleNavigationSub('Company', $event)">
                    <i class="zmdi zmdi-home"></i>{{navigationText.company}}</a>

                <ul [@toggleHeight]="navigationSubState.Company">
                    <li [class.navigation__active]="isActive(['app/company/information'])">
                        <a [routerLink]="['./company/information']">
                            {{navigationText.companyInformation}}</a>
                    </li>

                    <li [class.navigation__active]="isActive(['app/company/settings'])">
                        <a [routerLink]="['./company/settings']">
                            {{navigationText.companySettings}}</a>
                    </li>

                    <li [class.navigation__active]="isActive(['app/company/providers'])">
                        <a [routerLink]="['./company/providers','0']">
                            {{navigationText.companyProviders}}</a>
                    </li>

                    <li [class.navigation__active]="isActive(['app/company/clients'])">
                        <a [routerLink]="['./company/clients','0']">
                            {{navigationText.companyClients}}</a>
                    </li>
                    <li [class.navigation__active]="isActive(['app/company/filters'])">
                        <a [routerLink]="['./company/filters','0']">
                            {{navigationText.companyFilters}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </perfect-scrollbar>
</aside>