<p class="modal_title text-center">{{ tableText.modalTitle }}</p>
<hr />
<app-invoice-header [currentInvoice]="currentInvoice" [showMenu]="false"> </app-invoice-header>
<hr />
<mat-tab-group mat-align-tabs="center" mat-stretch-tabs [selectedIndex]="selectedTab" (selectedIndexChange)="updateTab($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            <span> <i class="zmdi zmdi-search"></i> &nbsp;&nbsp; {{ tableText.searchItems }} </span>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span> <i class="zmdi zmdi-check-square"></i> &nbsp;&nbsp; {{ tableText.showSelectedItems }} </span>
        </ng-template>
    </mat-tab>
</mat-tab-group>

<br />

<mat-form-field class="full-width" *ngIf="!showJustSelectedItems">
		<input matInput placeholder="{{ tableText.searchItems }}" (keyup)="searchItems()" [(ngModel)]="searchPattern" />
		<mat-label><i class="zmdi zmdi-search zmdi-hc-lg"></i> {{ tableText.searchItems }}</mat-label>
</mat-form-field>

<div class="row">
		<div class="col">
			<div class="bold text-center">{{ tableText.itemsFound }}</div>
			<div class="text-center">{{ items.length }}</div>
		</div>
		<div class="col" *ngIf="!showJustSelectedItems">
			<div class="bold text-center">{{ tableText.itemsAlreadyInList }}</div>
			<div class="text-center">{{ itemsAlreadyInList.length }}</div>
		</div>
		<div class="col" *ngIf="!showJustSelectedItems">
			<div class="bold text-center">{{ tableText.itemsSelected }}</div>
			<div class="text-center">{{ selectedItems.length }}</div>
		</div>
		<div class="col">
			<div class="bold text-center">{{ tableText.itemsConfirmed }}</div>
			<div class="text-center">{{ itemsConfirmedToInsert.length }}</div>
		</div>
	</div>
<br />
<div class="data-table table-fix-header" *ngIf="items.length > 0">
    <table class="table data-table__header table-hover">
        <thead>
            <tr class="table text-center">
                <th class="small-col">{{ tableColumns.item_position }}</th>
                <th class="medium-col">{{ tableColumns.item_code }}</th>
                <th class="medium-col">{{ tableColumns.item_name }}</th>
                <th class="small-col">{{ tableColumns.item_amount }}</th>
                <th class="small-col">{{ tableColumns.item_price }}</th>
                <th class="small-col">
						<input type="checkbox" *ngIf="!showJustSelectedItems" (change)="applyChangesToList(allChecked)" [(ngModel)]="allChecked" />
						<input
							type="checkbox"
							*ngIf="showJustSelectedItems"
							(change)="applyChangesToComfirmedList(allConfirmedChecked)"
							[(ngModel)]="allConfirmedChecked"
						/>
                </th>
            </tr>
        </thead>
    </table>
</div>
<div class="data-table import-table" *ngIf="items.length > 0">
    <table class="table data-table__header table-hover">
        <tbody>
            <tr class="text-center" *ngFor="let item of items; let i = index">
                <td class="small-col">{{ i + 1 }}</td>
                <td class="medium-col">{{ item.item_code }}</td>
                <td class="medium-col">{{ item.item_name }}</td>
                <td class="small-col">
                    <input
                        [ngClass]="{ 'text-primary editable': !item.is_already_in_list }"
                        type="text" appFormatCurrency matInput minlength="1" maxlength="8"
                        [disabled]="item.is_already_in_list"
                        [(ngModel)]="item.item_amount_to_show"
                        name="itemAmount"
                    />
                </td>
                <td class="small-col">
                    <input
                        [ngClass]="{ 'text-primary editable': !item.is_already_in_list }"
                        type="text" appFormatCurrency matInput minlength="1" maxlength="12"
                        [disabled]="item.is_already_in_list"
                        [(ngModel)]="item.item_sell_price_to_show"
                        name="itemSellPrice"
                    />     
                </td>
                <td class="small-col">
                    <i *ngIf="item.is_already_in_list" class="zmdi zmdi-check text-success"></i>
                    <input
                        *ngIf="!item.is_already_in_list && !showJustSelectedItems"
                        type="checkbox"
                        (change)="updateSelectedItemsList()"
                        [(ngModel)]="item.is_checked"
                        [disabled]="item.is_already_in_list"
                    />
                    <input
                        *ngIf="showJustSelectedItems"
                        type="checkbox"
                        (change)="updateItemsToInsertCollection()"
                        [(ngModel)]="item.is_confirmed_to_be_inserted"
                    />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<br />
<div class="row btn-demo justify-content-center">
		<button *ngIf="selectedItems.length > 0" class="btn btn-success btn--icon-text" (click)="confirmItems()">
				<i class="zmdi zmdi-check"></i>{{ tableText.confirmSelectedItems }}
			</button>
			<button *ngIf="itemsConfirmedToInsert.length > 0 && showJustSelectedItems" type="submit" class="btn btn-primary btn--icon-text" (click)="saveItems()">
				<i class="zmdi zmdi-floppy"></i>{{ tableText.saveButton }}
			</button>
    <button class="btn btn-danger btn--icon-text" (click)="closeModal()"><i class="zmdi zmdi-close"></i>{{ tableText.cancelButton }}</button>
</div>
<br />
