<p class="table_title text-center">{{itemsInOrdersTableColumnsText.modalTitle}}</p>
<hr>
<br>
<form #itemForm="ngForm">
	<div class="row">
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_code}}" [(ngModel)]="currentColumnsObj.item_code" name="itemCode"
				 required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_name}}" [(ngModel)]="currentColumnsObj.item_name" name="itemName"
				 required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_amount}}" [(ngModel)]="currentColumnsObj.item_amount"
				 name="itemAmount" required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.total_booked}}" [(ngModel)]="currentColumnsObj.total_booked"
				 name="totalBooked" required>
			</mat-form-field>
		</div>
	</div>

	<div class="row">
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.total_in_progress}}" [(ngModel)]="currentColumnsObj.total_in_progress"
				 name="totalInProgress" required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.total_in_use}}" [(ngModel)]="currentColumnsObj.total_in_use"
				 name="totalInUse" required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.item_neto}}" [(ngModel)]="currentColumnsObj.item_neto" name="itemNeto"
				 required>
			</mat-form-field>
		</div>
		<div class="col-3">
			<mat-form-field class="full-width">
				<input matInput placeholder="{{defaultTableColumnsObj.total_expected}}" [(ngModel)]="currentColumnsObj.total_expected"
				 name="totalExpected" required>
			</mat-form-field>
		</div>
	</div>
	<br>
	<div class="row btn-demo justify-content-center">
		<button type="submit" class="btn btn-primary btn--icon-text" (click)="saveColumns()" [disabled]="!itemForm.form.valid">
			<i class="zmdi zmdi-floppy"></i>{{itemsInOrdersTableColumnsText.saveButton}}</button>
		<button class="btn btn-danger btn--icon-text" (click)="closeModal()">
			<i class="zmdi zmdi-close"></i>{{itemsInOrdersTableColumnsText.cancelButton}}</button>
	</div>
</form>