<div class="card">
	<div class="card-body" >
		<div *ngFor="let assembly of assemblies">
				<div class="row listview listview--hover listview--bordered" 
				*ngIf="assembly.assembly_type ==1">
				   <div class="col-11">
					   <div class="row listview__item listview__item--hover" [routerLink]="['./', assembly.aip_id]">
						   <div class="col text-center">
							   <div class="bold">{{groupsListText.assemblyName}}</div>
							   <div class="second">{{assembly.assembly_name | limitTo:[20, '...'] }}</div>
						   </div>
						   <div class="col text-center">
							   <div class="bold">{{groupsListText.assemblyNumber}}</div>
							   <div class="second">{{assembly.assembly_number | limitTo:[20, '...']}}</div>
						   </div>
						   <div class="col-2 text-center">
							   <div class="bold">{{groupsListText.assemblyItems}}</div>
							   <div class="second">{{assembly.items_in_assembly}}</div>
						   </div>
						   <div class="col-2 text-center">
							   <div class="bold">{{groupsListText.assembledItems}}</div>
							   <div class="second">{{assembly.total_items_assembled}}</div>
						   </div>
						   <div class="col-2 text-center">
							   <div class="bold">{{groupsListText.completedPorcentage}}</div>
							   <div class="second">{{assembly.percentage_completed | limitTo:['4',' %']}} </div>
						   </div>
					   </div>
				   </div>
	   
				   <div class="col align-self-center">
					   <div>
						   <i mat-button [matMenuTriggerFor]="projectGroupsListMenu" class="actions__item zmdi zmdi-more-vert"></i>
						   <mat-menu #projectGroupsListMenu="matMenu">
							   <button mat-menu-item class="dropdown-item" (click)="startEditGroup(assembly)">
								   <i class="zmdi zmdi-edit"></i> {{groupsListText.editGroup}}
							   </button>
							   <button mat-menu-item class="dropdown-item" (click)="startDeleteGroup(assembly, index)">
								   <i class="zmdi zmdi-delete"></i> {{groupsListText.deleteGroup}}
							   </button>
						   </mat-menu>
					   </div>
				   </div>
	   
			   </div>

		</div>
		
	</div>
</div>