<div class="row no-margin height-per-100">
        <div class="col-md-4 bg-white padding-top-20">
                <div class="center-horizontal-div">
                    <form #rf="ngForm" class="card">
                            <p class="text-center  align-middle">{{ resetFormText.title }}</p>
                            <br />
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="full-width">
                                        <input
                                            type="password"
                                            matInput
                                            placeholder="{{ resetFormText.inputNewPassword }}"
                                            [(ngModel)]="obj.new_password"
                                            name="newPassword"
                                            #newPassword="ngModel"
                                            required
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="full-width">
                                        <input
                                            type="password"
                                            matInput
                                            placeholder="{{ resetFormText.inputConfirmNewPassword }}"
                                            [(ngModel)]="obj.confirmed_new_password"
                                            name="confirmNewPassword"
                                            #confirmNewPassword="ngModel"
                                            required
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <br />
                            <button
                                type="submit" class="btn btn-primary btn--icon-text" (click)="resetOwnPassword()"
                                [disabled]="!rf.form.valid || !(confirmNewPassword.value == newPassword.value)"
                            >
                                {{ resetFormText.updatePasswordButton }}
                            </button>
                    </form>
                </div>
            </div>
    <div class="col-md-8 bg-img-login">
        <div class="center-horizontal-div">
            <h1 style="color:white;">IMAGEN DE PRUEBA</h1>
        </div>
    </div>

</div>
