<div class="card">
    <div class="listview__header ">
        <span *ngIf="openOffersView">{{ offersListText.openOffers }}</span>
        <span *ngIf="!openOffersView">{{ offersListText.closedOffers }}</span>

        <div class="actions">
            <div class="actions__item">
                <i mat-button [matMenuTriggerFor]="offersHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #offersHeaderMenu="matMenu">
                    <button *ngIf="openOffersView" mat-menu-item class="dropdown-item" (click)="startNewOffer()">
                        <i class="zmdi zmdi zmdi-plus"></i> {{ offersListText.newOffer }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startSearch()">
                        <i class="zmdi zmdi-search"></i> {{ offersListText.searchOffers }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ offersListText.searchOffers }}" (keyup)="searchOffers()" [(ngModel)]="searchPattern" />
                <mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <app-offer-form
        *ngIf="editOffer || newOffer"
        [currentOffer]="offerToHandle"
        [editOffer]="editOffer"
        [newOffer]="newOffer"
        (useForm)="forgetActions($event)"
    >
    </app-offer-form>

    <div class="listview listview--hover listview--bordered">
        <div
            *ngFor="let offer of offers; let lastOffer = last; let index = index"
            class="listview__item listview__item--hover"
            routerLinkActive="selected"
            [routerLink]="['../../', offer.internal_document_id]"
            [routerLinkActiveOptions]="{ __change_detection_hack__: [id_id] }"
        >
            <div class="listview__content">
                <h3 class="listview__heading">{{ offer.offer_number }} - {{ offer.client_name | limitTo: [20, "..."] }} </h3>
                <p>
                    <span> {{ offersListText.creationDate }} : {{ offer.offer_creation_date | formatDate  }} </span>
                    <span class="float-right"> {{ offersListText.expirationDate }} : {{ offer.offer_expiration_date | formatDate  }} </span>
                </p>
                <p>{{ offersListText.deliveryDate }} : {{ offer.offered_delivery_date | formatDate  }}</p>
            </div>

            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="offersListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #offersListMenu="matMenu">
                    <button *ngIf="openOffersView" mat-menu-item class="dropdown-item" (click)="startEditOffer(offer)">
                        <i class="zmdi zmdi-edit"></i> {{ offersListText.editOffer }}
                    </button>
                    <button *ngIf="lastOffer && openOffersView" mat-menu-item class="dropdown-item" (click)="deleteOffer(offer, index)">
                        <i class="zmdi zmdi-delete"></i> {{ offersListText.deleteOffer }}
                    </button>
                    <button *ngIf="openOffersView" mat-menu-item class="dropdown-item" (click)="closeOffer(offer)">
                        <i class="zmdi zmdi-folder"></i> {{ offersListText.closeOffer }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>
