<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10 text-center">
				<span class="table_title">{{clientContactsText.title}}</span>
			</div>
			<div class="col-1 text-center">
			</div>
		</div>
		<br>
		<div class="data-table">
			<table class="table data-table__header table-hover">
				<thead>
					<tr class="table">
						<th class="text-center"> {{ tableColumns.position }}</th>
						<th class="text-center">{{ tableColumns.contact_name }} </th>
						<th class="text-center"> {{ tableColumns.contact_last_name }}</th>
						<th class="text-center"> {{ tableColumns.contact_telephone }}</th>
						<th class="text-center"> {{ tableColumns.contact_email }}</th>
						<th class="text-center"> {{ clientContactsText.options }} </th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" *ngFor="let contact of contacts; let index = index">
						<td>{{index+1}}</td>
						<td>{{ contact.contact_name | limitTo:[25, '...'] }}</td>
						<td>{{ contact.contact_last_name | limitTo:[25, '...']  }}</td>
						<td>{{ contact.contact_telephone | limitTo:[20, '...'] }}</td>
						<td>{{ contact.contact_email | limitTo:[35, '...'] }}</td>
						<td>
							<i class="zmdi zmdi-edit" (click)="editContact(contact)"></i>&nbsp;&nbsp;
							<i class="zmdi zmdi-delete" (click)="deleteContactFromTable(contact, index)"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>