<div class="row no-margin height-per-100">
    <div class="col-md-6 bg-white padding-top-10">
        <div class="">
            <app-sign-up-page></app-sign-up-page>
        </div>
    </div>
    <div class="col-md-6 bg-img-login">
        <div class="center-horizontal-div">
            <h1 style="color:white;">IMAGEN DE PRUEBA</h1>
        </div>
    </div>
</div>
