<div>
    <div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <i class="zmdi zmdi-account-box zmdi-hc-lg"></i >&nbsp;&nbsp;<a>{{profileFormText.userInformation}} </a> 
                </div>
            </div>
            <form #pf="ngForm">
                <br>
                <!-- fila 1 -->
                <div class="row">
                    <div class="col-4">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="{{profileFormText.userName}}" [(ngModel)]="currentUser.user_name"
                                name="userName">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="{{profileFormText.userLastName}}" [(ngModel)]="currentUser.user_last_name"
                                name="userLastName">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="{{profileFormText.userEmail}}" [(ngModel)]="currentUser.user_email"
                                name="userEmail">
                        </mat-form-field>
                    </div>
                </div>

                <!-- fila 2 -->
                <div class="row">
                    <div class="col-4">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="{{profileFormText.userTelephone}}" [(ngModel)]="currentUser.user_telephone"
                                name="userTelephone">
                        </mat-form-field>
                    </div>

                    <div class="col-4">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="{{profileFormText.userSelectedLanguage}}" [(value)]="currentUser.user_selected_language">
                                <mat-option *ngFor="let l of profileFormText.languages" [value]="l.code">{{l.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-4">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="{{profileFormText.userCreationDate}}" [(ngModel)]="currentUser.user_creation_date"
                                name="userCreationDate">
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div *ngIf="!changePassword" class="row btn-demo justify-content-center">
                    <button  type="submit" class="btn btn-primary btn--icon-text" (click)="updateUser()">
                        <i class="zmdi zmdi-floppy"></i>{{profileFormText.saveButton}}
                    </button>
                    <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                        <i class="zmdi zmdi-close"></i>{{profileFormText.cancelButton}}
                    </button>
                </div>
                <!-- password row -->
                <br>
            </form>
            <div class="row" (click)="startChangePassword()">
                <div class="col">
                    <i class="zmdi zmdi-key zmdi-hc-lg"></i> &nbsp;&nbsp; <a>{{profileFormText.changePassword}}</a>
                </div>
            </div>
            <br>
            <form *ngIf="changePassword" #pw="ngForm">
                <div class="row">
                    <div class="col-4">
                        <mat-form-field class="full-width">
                            <input type="password" matInput placeholder="{{profileFormText.currentPassword}}"
                                [(ngModel)]="credentials.current_password" name="currenPassword" required>
                        </mat-form-field>
                    </div>

                    <div class="col-4">
                        <mat-form-field class="full-width">
                            <input type="password" matInput placeholder="{{profileFormText.newPassword}}" [(ngModel)]="credentials.new_password"
                                name="newPassword" #newPassword="ngModel" required #np="ngModel">
                        </mat-form-field>
                    </div>

                    <div class="col-4">
                        <mat-form-field class="full-width">
                            <input type="password" matInput placeholder="{{profileFormText.confirmNewPassword}}"
                                [(ngModel)]="credentials.confirm_new_password" name="confirmNewPassword" required #cnp="ngModel">
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div class="row btn-demo justify-content-center">
                    <button type="submit" class="btn btn-primary btn--icon-text" [disabled]="!pw.form.valid || !(cnp.value === np.value)" (click)=" updatePassword()">
                        <i class="zmdi zmdi-floppy"></i>{{profileFormText.updatePasswordButton}}
                    </button>
                    <button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
                        <i class="zmdi zmdi-close"></i>{{profileFormText.cancelButton}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>