<section class="content">
	<div class="row">
		<div class="col-3">
			<app-orders-list [orders]="orders" [selectedOrder]="selectedOrder">
			</app-orders-list>
		</div>
		<div class="col-9">
			<div class="card">
				<div class="card-body">
					<app-order-header [currentOrder]="selectedOrder" [zeroOrders]="zeroOrders" [openOrdersView]="openOrdersView" [showMenu]="true">
					</app-order-header>
				</div>
			</div>
			<app-items-in-order-table [currentOrder]="selectedOrder"></app-items-in-order-table>
		</div>
	</div>
</section>