<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-7">
				<mat-form-field class="full-width">
					<input matInput placeholder="{{ mainBoardHeaderText.search }}" (keyup)="searchItems()" [(ngModel)]="searchPattern">
					<mat-label><i class="zmdi zmdi-search zmdi-hc-lg"></i> {{ mainBoardHeaderText.search }}</mat-label>
				</mat-form-field>
			</div>
			<div class="col-2">
				<mat-form-field class="full-width">
					<mat-select placeholder="{{ mainBoardHeaderText.filterBy }}"  [(ngModel)]="currentFilterGroup" (selectionChange)="setCollectionOfFilters()">
						<mat-option *ngFor="let filterGroup of filterGroups" [value]="filterGroup">
							{{ filterGroup.filter_group_name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-2">
				<mat-form-field class="full-width">
					<mat-select placeholder="{{ mainBoardHeaderText.select }}" [(ngModel)]="currentFilterValue" (selectionChange)="getItemsByFilter()">
						<mat-option *ngFor="let filter of currentFilterGroup.array_of_filters" [value]="filter">
							{{ filter.filter_value }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<!-- input to import excel document -->
			<input type="file" (change)="onFileChange($event)" id="i-input-board" style="display:none" accept=".xlsx,.xls,.csv">
			<div class="col-1 text-center">
				<i mat-button [matMenuTriggerFor]="mainBoardHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #mainBoardHeaderMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="createItem()">
						<i class="zmdi zmdi-plus"></i> {{ mainBoardHeaderText.createItem }}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="openFileBrowser()">
						<i class="zmdi zmdi-upload"></i> {{ mainBoardHeaderText.uploadExcelFile }}
					</button>
					<button mat-menu-item class="dropdown-item" (click)="downloadExcelReport()">
						<i class="zmdi zmdi-download"></i> {{ mainBoardHeaderText.downloadExcelPendings }}
					</button>
				</mat-menu>
			</div>
		</div>
	</div>
</div>