<div class="card">
    <div class="listview__header ">
        <span *ngIf="openProjectsView">{{ projectsListText.openProjectsTitle }}</span>
        <span *ngIf="!openProjectsView">{{ projectsListText.closedProjectsTitle }}</span>
        <div class="actions">
            <div class="actions__item">
                <i mat-button [matMenuTriggerFor]="projectsHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #projectsHeaderMenu="matMenu">
                    <button *ngIf="openProjectsView" mat-menu-item class="dropdown-item" (click)="startNewProject()">
                        <i class="zmdi zmdi zmdi-plus"></i> {{ projectsListText.newProject }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startSearch()">
                        <i class="zmdi zmdi-search"></i> {{ projectsListText.searchProjects }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

    <div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ projectsListText.searchProjects }}" (keyup)="searchProjects()"
                    [(ngModel)]="searchPattern">
                    <mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>

    </div>

    <app-project-form *ngIf="editProject || newProject" [editProject]="editProject" [newProject]="newProject"
        [currentProject]="projectToHandle" (useForm)="forgetActions($event)"></app-project-form>

    <div  class="listview listview--hover listview--bordered">
        <div *ngFor="let project of projects; let index = index" class="listview__item listview__item--hover"
            routerLinkActive="selected" [routerLink]="['../../', project.project_id]"
            [routerLinkActiveOptions]="{ __change_detection_hack__: [ project_id] }">

            <div class="listview__content">
                <h3 class="listview__heading"> {{  project.order_confirmation_number  }} - {{  project.project_name }} </h3>
                <p>{{ project.client_name | limitTo:[30, '...'] }} </p>
                <p>{{ projectsListText.deadline }} : {{ project.project_deadline | formatDate  }} -
                    {{ project.percentage_completed | limitTo:[4,'%'] }}</p>
            </div>
            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="projectsListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #projectsListMenu="matMenu">
                    <button *ngIf="openProjectsView" mat-menu-item class="dropdown-item" (click)="startEditProject(project)">
                        <i class="zmdi zmdi-edit"></i> {{ projectsListText.editProject }}
                    </button>
                    <button *ngIf="openProjectsView" mat-menu-item class="dropdown-item" (click)="startDeleteProject(project, index)">
                        <i class="zmdi zmdi-delete"></i> {{ projectsListText.deleteProject }}
                    </button>
                    <button *ngIf="openProjectsView" mat-menu-item class="dropdown-item" (click)="closeProject(project)">
                        <i class="zmdi zmdi-folder"></i> {{ projectsListText.closeProject }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="showProjectCosts(project)">
                        <i class="zmdi zmdi-money-box"></i> {{ projectsListText.projectCosts }}
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>

</div>