<div class="card">
	<div class="card-body">
		<small class="text-primary"><p>{{clientFormText.requiredFieldsMessage}}</p></small>
		<form #clientForm="ngForm">
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{clientFormText.clientName}}" [(ngModel)]="currentClient.client_name" name="clientName" required>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{clientFormText.clientAddress}}" [(ngModel)]="currentClient.client_address" name="clientAddress" required>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{clientFormText.clientZipCode}}" [(ngModel)]="currentClient.client_zip_code" name="clientZipCode" required> 
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{clientFormText.clientCity}}" [(ngModel)]="currentClient.client_city" name="clientCity" required>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{clientFormText.clientCountry}}" [(ngModel)]="currentClient.client_country" name="clientCountry" required>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{clientFormText.clientNumber}}" [(ngModel)]="currentClient.client_number" name="clientNumber">
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{clientFormText.clientTaxID}}" [(ngModel)]="currentClient.client_tax_identification_number" name="clientTaxID">
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field class="full-width">
						<input matInput placeholder="{{clientFormText.clientVatID}}" [(ngModel)]="currentClient.client_vat_identification_number" name="clientVatID">
					</mat-form-field>
				</div>
			</div>
			<br>
			<div class="row btn-demo justify-content-center">

				<button  class="btn btn-primary btn--icon-text" (click)="saveClient()" [disabled]="!clientForm.form.valid">

					<i class="zmdi zmdi-floppy"></i>{{clientFormText.saveButton}}</button>

				<button class="btn btn-danger btn--icon-text" (click)="forgetActions()">
					<i class="zmdi zmdi-close"></i>{{clientFormText.cancelButton}}</button>
			</div>

		</form>

	</div>
</div>