<div class="row">
    <div class="col text-center">
        <div class="bold">{{ clientHeaderText.clientName }}</div>
        <div>{{ client.client_name | limitTo: [20, "..."] }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ clientHeaderText.clientAddress }}</div>
        <div>{{ client.client_address | limitTo: [20, "..."] }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ clientHeaderText.clientZipCode }}</div>
        <div>{{ client.client_zip_code }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ clientHeaderText.clientCountry }}</div>
        <div>{{ client.client_country | limitTo: [20, "..."] }}</div>
    </div>
    <div class="col text-center">
        <div class="bold">{{ clientHeaderText.clientContacts }}</div>
        <div>{{ contactsInClient }}</div>
    </div>
    <div class="col-1 text-center" *ngIf="showMenu">
        <i mat-button [matMenuTriggerFor]="clientHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
        <mat-menu #clientHeaderMenu="matMenu">
            <button mat-menu-item class="dropdown-item" (click)="startNewContact()"><i class="zmdi zmdi-plus"></i> {{ clientHeaderText.newContact }}</button>
        </mat-menu>
    </div>
</div>
