<div class="card">
    <div class="listview__header ">
        {{vatsListText.title}}
        <div class="actions">
            <i class="actions__item zmdi zmdi-plus"  (click)="startNewVat()"></i>
        </div>
    </div>

    <app-vats-form *ngIf="editVat || newVat" [currentVat]="vatToHandle" [editVat]="editVat" [newVat]="newVat"
     (useForm)="forgetActions($event)" [index]="index"></app-vats-form>

    <div class="listview listview--hover listview--bordered">
        <div *ngFor="let vat of vats ; let index = index" class="listview__item listview__item--hover">

            <div class="listview__content">
                <h3 class="listview__heading">{{vat + " %"}} </h3>
            </div>
            <div class="actions listview__actions">
                <i mat-button [matMenuTriggerFor]="vatListMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #vatListMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startEditVat(vat, index)">
                        <i class="zmdi zmdi-edit"></i> {{vatsListText.editVat}}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="deleteVat(vat, index)">
                        <i class="zmdi zmdi-delete"></i> {{vatsListText.deleteVat}}
                    </button>
                </mat-menu>
            </div>
        </div>

    </div>
</div>