<div class="card">
	<div class="listview__header ">
		{{ activitiesListText.activitiesListTitle }}
		<div class="actions">
            <div class="actions__item">
                <i mat-button [matMenuTriggerFor]="groupsHeaderMenu" class="actions__item zmdi zmdi-more-vert"></i>
                <mat-menu #groupsHeaderMenu="matMenu">
                    <button mat-menu-item class="dropdown-item" (click)="startNewActivity()">
                        <i class="zmdi zmdi zmdi-plus"></i> {{ activitiesListText.newActivity }}
                    </button>
                    <button mat-menu-item class="dropdown-item" (click)="startSearch()">
                        <i class="zmdi zmdi-search"></i> {{ activitiesListText.searchActivities }}
                    </button>
                </mat-menu>
            </div>
        </div>
	</div>

	<div *ngIf="showSearch" class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ activitiesListText.searchActivities }}" (keyup)="searchActivities()"
					[(ngModel)]="searchPattern">
					<mat-icon *ngIf="searchPattern" matSuffix class="zmdi zmdi-close-circle" (click)="closeSearch()"></mat-icon>
            </mat-form-field>
        </div>
    </div>

	<app-activity-form *ngIf="editActivity || newActivity" [currentActivity]="activityToHandle" [editActivity]="editActivity"
	 [newActivity]="newActivity" (closeForm)="forgetActions($event)">
	</app-activity-form>

	<div class="listview listview--hover listview--bordered">
		<div *ngFor="let activity of activities; let index = index" class="listview__item listview__item--hover">

			<div class="listview__content">
				<h3 class="listview__heading">{{  activity.activity_name  }}</h3>
				<p>{{  activity.activity_description }}</p>
			</div>

			<div class="actions listview__actions">
				<i mat-button [matMenuTriggerFor]="activitiesListMenu" class="actions__item zmdi zmdi-more-vert"></i>
				<mat-menu #activitiesListMenu="matMenu">
					<button mat-menu-item class="dropdown-item" (click)="startEditActivity(activity)">
						<i class="zmdi zmdi-edit"></i> {{ activitiesListText.editActivity }}
					</button>
					<button *ngIf="activity.activity_id > 3" mat-menu-item class="dropdown-item" (click)="deleteActivity(activity, index)">
						<i class="zmdi zmdi-delete"></i> {{ activitiesListText.deleteActivity }}
					</button>
				</mat-menu>
			</div>
		</div>
	</div>
</div>